In [1]:
%load_ext autoreload
%autoreload 2
import xarray as xr
import matplotlib.pyplot as plt
import pandas as pd
import processing_netcdf as pcdf
import geopandas as gpd
from geopandas import GeoDataFrame
import shapely.geometry 
import numpy as np
from shapely import geometry as gmty
from geofeather import to_geofeather, from_geofeather
import glob
import os
import pyarrow
from xclim import ensembles as ens
from xclim import subset
import matplotlib.pyplot as plt

In [2]:
folder = "/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/"

# Select variable

In [3]:
var = "prcptot"

In [4]:
#Variable 
variable85="rcp85_"+var+"_seasonal"
variable45="rcp45_"+var+"_seasonal"
#variable="rcp[48]5_tg_mean_annual"

files85 = glob.glob(folder+"*"+variable85+".nc")
files45 = glob.glob(folder+"*"+variable45+".nc")
#ex: ACCESS1-3_rcp45_tn_mean_annual.nc
files85
files45

['/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/ACCESS1-3_rcp45_prcptot_seasonal.nc',
 '/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/BNU-ESM_rcp45_prcptot_seasonal.nc',
 '/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/CanESM2_rcp45_prcptot_seasonal.nc',
 '/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/CMCC-CMS_rcp45_prcptot_seasonal.nc',
 '/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/GFDL-ESM2M_rcp45_prcptot_seasonal.nc',
 '/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/HadGEM2-CC_rcp45_prcptot_seasonal.nc',
 '/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/INM-CM4_rcp45_prcptot_seasonal.nc',
 '/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/IPSL-CM5A-LR_rcp45_prcptot_seasonal.nc',
 '/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/IPSL-CM5B-LR_rcp45_prcptot_seasonal.nc',
 '/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/MPI-ESM-LR_rcp45_prcptot_seasonal.nc',
 '/scen3/scenario/netcdf/ouranos/portraits-clim-2.0/NorESM1-M_rcp45_prcptot_seasonal.nc']

# FOR RCP 45

## Subsetting arrays by periods of time with Xclim

In [5]:
dsEns45= ens.create_ensemble(files45)
dsEns45.time.dt.season[0:4]
# Seasonal example 30 y means
listds = []
i=0
for s in dsEns45.time.dt.season[0:4]:
    print (i)
    tmp1 = dsEns45.sel(time=(dsEns45.time.dt.year>=1981))
    tmp1 = tmp1.sel(time=(tmp1.time.dt.season==s))
    #print(tmp1)
    i = i+1
    listds.append(tmp1)

0
1
2
3

## Loop to create all 4 dataframes

In [6]:
i = 0
df45list = []
for ds in listds:
    print ("Dataset number: ", i, "--------------")
    perc45 = ens.ensemble_percentiles(ds)
    print ("Percentiles Obteined")
    df45 = perc45.to_dataframe()
    df452 = df45.reset_index()
    df453 = df452.loc[df452["realization"] == 0].dropna()
    print ("Converted to DF")
    year_groups = {y:0 for y in range(1980,2011)}
    year_groups.update({y:1 for y in range(2041,2071)})
    year_groups.update({y:2 for y in range(2071,2101)})
    dfp = df453.groupby([df453.time.dt.year.map(year_groups), "lat","lon", "realization"]).mean()
    dfp452 =  dfp.reset_index()
    print ("Split in 3 different time periods")
    df45C = dfp452.copy()
    df45C[var+"_p10"] = round(df45C[var+"_p10"],2)
    df45C[var+"_p50"] = round(df45C[var+"_p50"],2)
    df45C[var+"_p90"] = round(df45C[var+"_p90"],2)
    print ("Transformed in Celsiuds and rounded")
    Region1i45 = df45C.drop(columns=["realization"])
    print ("pivoted")
    df45f = Region1i45.pivot_table(index=["lat","lon"], columns="time")
    print ("DF pivoted")
    if i== 0: season = "winter" 
    elif i == 1: season = "spring"
    elif i == 2: season = "summer"
    elif i == 3: season = "fall"
    print (season)
    df45f.columns = [season + "_" + year + "rcp45_p"+p
                     for p in ["10", "50", "90"]
                     for year in ["hist_","t2050_", "t2080_"]]
    print("Columns renamed")
    df45list.append(df45f)
    print ("DF added to the list")
    i = i + 1

Dataset number:  0 --------------
Percentiles Obteined
Converted to DF
Split in 3 different time periods
Transformed in Celsiuds and rounded
pivoted
DF pivoted
winter
Columns renamed
DF added to the list
Dataset number:  1 --------------
Percentiles Obteined
Converted to DF
Split in 3 different time periods
Transformed in Celsiuds and rounded
pivoted
DF pivoted
spring
Columns renamed
DF added to the list
Dataset number:  2 --------------
Percentiles Obteined
Converted to DF
Split in 3 different time periods
Transformed in Celsiuds and rounded
pivoted
DF pivoted
summer
Columns renamed
DF added to the list
Dataset number:  3 --------------
Percentiles Obteined
Converted to DF
Split in 3 different time periods
Transformed in Celsiuds and rounded
pivoted
DF pivoted
fall
Columns renamed
DF added to the list

In [7]:
#df45list

In [8]:
dfw45 = df45list[0].reset_index()
dfsp45 = df45list[1].reset_index()
dfsu45 = df45list[2].reset_index()
dff45 = df45list[3].reset_index()

mkey = ["lat","lon"]
dfse45 = dfw45.merge(dfsp45, on=mkey).merge(dfsu45, on=mkey).merge(dff45, on=mkey)
dfse45.to_feather("/home/mlopez/EXEC/Processed data to clip with regions/rcp45"+var+"_seasonal.feather")

In [9]:
dfse452 = dfse45.drop(columns=["winter_hist_rcp45_p10","winter_hist_rcp45_p50", "winter_hist_rcp45_p90", 
                               "spring_hist_rcp45_p10", "spring_hist_rcp45_p50", "spring_hist_rcp45_p90", 
                               "summer_hist_rcp45_p10","summer_hist_rcp45_p50", "summer_hist_rcp45_p90", 
                               "fall_hist_rcp45_p10","fall_hist_rcp45_p50", "fall_hist_rcp45_p90"])
dfse452

,lat,lon,winter_t2050_rcp45_p10,winter_t2080_rcp45_p10,winter_t2050_rcp45_p50,winter_t2080_rcp45_p50,winter_t2050_rcp45_p90,winter_t2080_rcp45_p90,spring_t2050_rcp45_p10,spring_t2080_rcp45_p10,...,summer_t2050_rcp45_p50,summer_t2080_rcp45_p50,summer_t2050_rcp45_p90,summer_t2080_rcp45_p90,fall_t2050_rcp45_p10,fall_t2080_rcp45_p10,fall_t2050_rcp45_p50,fall_t2080_rcp45_p50,fall_t2050_rcp45_p90,fall_t2080_rcp45_p90
0,40.041039,-89.045212,120.71,126.68,175.00,185.63,233.33,250.27,225.53,225.41,...,315.29,301.08,423.54,433.86,163.85,163.56,239.55,233.59,324.77,324.72
1,40.041039,-88.961884,123.85,129.68,179.68,190.45,239.84,256.41,228.28,228.44,...,314.59,300.87,425.10,434.02,163.77,163.74,240.15,234.29,325.80,326.67
2,40.041039,-88.878548,125.48,130.66,180.53,191.03,239.69,255.57,226.84,227.07,...,313.92,300.09,421.99,429.37,162.43,163.03,238.01,231.84,321.25,323.46
3,40.041039,-88.795219,125.18,130.09,178.42,189.54,237.21,252.57,225.10,225.74,...,316.01,301.78,424.11,430.88,161.68,161.75,235.84,229.79,317.08,319.62
4,40.041039,-88.711891,126.49,130.70,179.81,190.88,239.92,254.63,222.56,222.92,...,320.56,306.21,433.81,439.85,160.54,159.69,234.71,227.96,315.60,317.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76201,66.623306,-61.629639,73.75,75.53,125.87,128.87,199.61,194.90,63.81,73.99,...,118.75,123.61,173.43,172.44,124.02,125.13,190.12,189.82,271.73,263.56
76202,66.623306,-61.546310,76.47,77.92,128.40,131.55,202.47,197.89,65.77,76.31,...,121.19,126.19,176.99,176.27,126.62,127.97,193.34,193.37,274.95,266.67
76203,66.623306,-61.462978,75.28,76.72,127.00,130.42,200.86,195.89,64.41,74.78,...,119.12,124.14,174.85,174.81,124.54,125.99,191.32,191.39,272.28,263.57
76204,66.623306,-61.379650,74.60,76.34,125.92,129.37,200.63,194.42,63.78,74.15,...,117.84,123.13,173.52,173.55,123.52,124.83,189.99,190.41,270.04,261.07
76205,66.623306,-61.296322,69.27,70.75,117.97,120.99,189.48,182.81,58.90,68.79,...,111.78,116.83,165.46,166.34,116.78,116.76,180.14,180.43,256.46,247.50

In [10]:
dfsew = dfse45[["winter_hist_rcp45_p50"]]
dfsesp = dfse45[["spring_hist_rcp45_p50"]]
dfsesu = dfse45[["summer_hist_rcp45_p50"]]
dfsefa = dfse45[["fall_hist_rcp45_p50"]]

# FOR RCP 85

## Subsetting arrays by periods of time with Xclim

In [11]:
dsEns85= ens.create_ensemble(files85)
dsEns85.time.dt.season[0:4]
# Seasonal example 30 y means
listds85 = []
i=0
for s in dsEns85.time.dt.season[0:4]:
    print (i)
    tmp1 = dsEns85.sel(time=(dsEns85.time.dt.year>=1981))
    tmp1 = tmp1.sel(time=(tmp1.time.dt.season==s))
    print(tmp1)
    i = i+1
    listds85.append(tmp1)

0
<xarray.Dataset>
Dimensions:      (lat: 320, lon: 416, realization: 11, time: 120)
Coordinates:
  * lat          (lat) float32 66.62331 66.53998 66.45665 ... 40.12437 40.04104
  * lon          (lon) float32 -89.04521 -88.96188 ... -54.54659 -54.46326
  * time         (time) datetime64[ns] 1981-12-01 1982-12-01 ... 2100-12-01
  * realization  (realization) int64 0 1 2 3 4 5 6 7 8 9 10
Data variables:
    prcptot      (realization, time, lat, lon) float32 dask.array<chunksize=(1, 1, 320, 416), meta=np.ndarray>
Attributes:
    Conventions:     CF-1.5
    title:           ACCESS1-3 model output prepared for CMIP5 historical
    history:         CMIP5 compliant file produced from raw ACCESS model outp...
    institution:     CSIRO (Commonwealth Scientific and Industrial Research O...
    source:          ACCESS1-3 2011. Atmosphere: AGCM v1.0 (N96 grid-point, 1...
    redistribution:  Redistribution prohibited. For internal use only.
1
<xarray.Dataset>
Dimensions:      (lat: 320, lon: 416, realization: 11, time: 120)
Coordinates:
  * lat          (lat) float32 66.62331 66.53998 66.45665 ... 40.12437 40.04104
  * lon          (lon) float32 -89.04521 -88.96188 ... -54.54659 -54.46326
  * time         (time) datetime64[ns] 1981-03-01 1982-03-01 ... 2100-03-01
  * realization  (realization) int64 0 1 2 3 4 5 6 7 8 9 10
Data variables:
    prcptot      (realization, time, lat, lon) float32 dask.array<chunksize=(1, 2, 320, 416), meta=np.ndarray>
Attributes:
    Conventions:     CF-1.5
    title:           ACCESS1-3 model output prepared for CMIP5 historical
    history:         CMIP5 compliant file produced from raw ACCESS model outp...
    institution:     CSIRO (Commonwealth Scientific and Industrial Research O...
    source:          ACCESS1-3 2011. Atmosphere: AGCM v1.0 (N96 grid-point, 1...
    redistribution:  Redistribution prohibited. For internal use only.
2
<xarray.Dataset>
Dimensions:      (lat: 320, lon: 416, realization: 11, time: 120)
Coordinates:
  * lat          (lat) float32 66.62331 66.53998 66.45665 ... 40.12437 40.04104
  * lon          (lon) float32 -89.04521 -88.96188 ... -54.54659 -54.46326
  * time         (time) datetime64[ns] 1981-06-01 1982-06-01 ... 2100-06-01
  * realization  (realization) int64 0 1 2 3 4 5 6 7 8 9 10
Data variables:
    prcptot      (realization, time, lat, lon) float32 dask.array<chunksize=(1, 1, 320, 416), meta=np.ndarray>
Attributes:
    Conventions:     CF-1.5
    title:           ACCESS1-3 model output prepared for CMIP5 historical
    history:         CMIP5 compliant file produced from raw ACCESS model outp...
    institution:     CSIRO (Commonwealth Scientific and Industrial Research O...
    source:          ACCESS1-3 2011. Atmosphere: AGCM v1.0 (N96 grid-point, 1...
    redistribution:  Redistribution prohibited. For internal use only.
3
<xarray.Dataset>
Dimensions:      (lat: 320, lon: 416, realization: 11, time: 120)
Coordinates:
  * lat          (lat) float32 66.62331 66.53998 66.45665 ... 40.12437 40.04104
  * lon          (lon) float32 -89.04521 -88.96188 ... -54.54659 -54.46326
  * time         (time) datetime64[ns] 1981-09-01 1982-09-01 ... 2100-09-01
  * realization  (realization) int64 0 1 2 3 4 5 6 7 8 9 10
Data variables:
    prcptot      (realization, time, lat, lon) float32 dask.array<chunksize=(1, 1, 320, 416), meta=np.ndarray>
Attributes:
    Conventions:     CF-1.5
    title:           ACCESS1-3 model output prepared for CMIP5 historical
    history:         CMIP5 compliant file produced from raw ACCESS model outp...
    institution:     CSIRO (Commonwealth Scientific and Industrial Research O...
    source:          ACCESS1-3 2011. Atmosphere: AGCM v1.0 (N96 grid-point, 1...
    redistribution:  Redistribution prohibited. For internal use only.

## Loop to create all 4 dataframes

In [12]:
i = 0
df85list = []
for ds in listds85:
    print ("Dataset number: ", i)
    perc85 = ens.ensemble_percentiles(ds)
    print ("Percentiles Obteined")
    df85 = perc85.to_dataframe()
    df852 = df85.reset_index()
    df853 = df852.loc[df852["realization"] == 0].dropna()
    print ("Converted to DF")
    year_groups = {y:0 for y in range(1980,2011)}
    year_groups.update({y:1 for y in range(2041,2071)})
    year_groups.update({y:2 for y in range(2071,2101)})
    dfp = df853.groupby([df853.time.dt.year.map(year_groups), "lat","lon", "realization"]).mean()
    dfp852 =  dfp.reset_index()
    print ("Split in 3 different time periods")
    df85C = dfp852.copy()
    df85C[var+"_p10"] = round(df85C[var+"_p10"],2)
    df85C[var+"_p50"] = round(df85C[var+"_p50"],2)
    df85C[var+"_p90"] = round(df85C[var+"_p90"],2)
    print ("Transformed in Celsiuds and rounded")
    Region1i85 = df85C.drop(columns=["realization"])
    print ("pivoted")
    df85f = Region1i85.pivot_table(index=["lat","lon"], columns="time")
    print ("DF pivoted")
    if i== 0: season = "winter" 
    elif i == 1: season = "spring"
    elif i == 2: season = "summer"
    elif i == 3: season = "fall"
    print (season)
    df85f.columns = [season + "_" + year + "rcp85_p"+p
                     for p in ["10", "50", "90"]
                     for year in ["hist_","t2050_", "t2080_"]]
    print("Columns renamed")
    df85list.append(df85f)
    print ("DF added to the list")
    i = i + 1

Dataset number:  0
Percentiles Obteined
Converted to DF
Split in 3 different time periods
Transformed in Celsiuds and rounded
pivoted
DF pivoted
winter
Columns renamed
DF added to the list
Dataset number:  1
Percentiles Obteined
Converted to DF
Split in 3 different time periods
Transformed in Celsiuds and rounded
pivoted
DF pivoted
spring
Columns renamed
DF added to the list
Dataset number:  2
Percentiles Obteined
Converted to DF
Split in 3 different time periods
Transformed in Celsiuds and rounded
pivoted
DF pivoted
summer
Columns renamed
DF added to the list
Dataset number:  3
Percentiles Obteined
Converted to DF
Split in 3 different time periods
Transformed in Celsiuds and rounded
pivoted
DF pivoted
fall
Columns renamed
DF added to the list

In [13]:
df85list

[                      winter_hist_rcp85_p10  winter_t2050_rcp85_p10  \
 lat       lon
 40.041039 -89.045212                 117.31                  126.12
           -88.961884                 120.30                  129.26
           -88.878548                 121.62                  130.74
           -88.795219                 121.29                  130.22
           -88.711891                 122.01                  131.08
 ...                                     ...                     ...
 66.623306 -61.629639                  59.36                   83.34
           -61.546310                  61.41                   85.75
           -61.462978                  60.53                   84.24
           -61.379650                  60.21                   83.41
           -61.296322                  55.66                   77.23

                       winter_t2080_rcp85_p10  winter_hist_rcp85_p50  \
 lat       lon
 40.041039 -89.045212                  131.15                 163.34
           -88.961884                  135.01                 167.89
           -88.878548                  136.24                 168.84
           -88.795219                  135.59                 167.52
           -88.711891                  136.38                 168.98
 ...                                      ...                    ...
 66.623306 -61.629639                   90.34                 104.89
           -61.546310                   93.29                 106.99
           -61.462978                   91.87                 105.57
           -61.379650                   91.12                 104.96
           -61.296322                   84.41                  97.98

                       winter_t2050_rcp85_p50  winter_t2080_rcp85_p50  \
 lat       lon
 40.041039 -89.045212                  185.08                  196.54
           -88.961884                  189.94                  201.68
           -88.878548                  190.56                  202.25
           -88.795219                  188.70                  200.27
           -88.711891                  190.09                  201.54
 ...                                      ...                     ...
 66.623306 -61.629639                  130.21                  154.20
           -61.546310                  133.18                  157.98
           -61.462978                  131.89                  155.82
           -61.379650                  130.16                  155.41
           -61.296322                  121.96                  144.75

                       winter_hist_rcp85_p90  winter_t2050_rcp85_p90  \
 lat       lon
 40.041039 -89.045212                 228.34                  251.49
           -88.961884                 233.68                  258.20
           -88.878548                 233.34                  257.77
           -88.795219                 230.06                  254.53
           -88.711891                 232.28                  256.47
 ...                                     ...                     ...
 66.623306 -61.629639                 164.44                  198.16
           -61.546310                 167.17                  201.96
           -61.462978                 166.14                  200.07
           -61.379650                 165.22                  197.79
           -61.296322                 155.83                  185.78

                       winter_t2080_rcp85_p90
 lat       lon
 40.041039 -89.045212                  271.34
           -88.961884                  277.99
           -88.878548                  276.64
           -88.795219                  272.07
           -88.711891                  274.03
 ...                                      ...
 66.623306 -61.629639                  236.56
           -61.546310                  239.74
           -61.462978                  237.21
           -61.379650                  234.84
           -61.296322                  220.79

 [76206 rows x 9 columns],
                       spring_hist_rcp85_p10  spring_t2050_rcp85_p10  \
 lat       lon
 40.041039 -89.045212                 216.12                  235.10
           -88.961884                 218.99                  238.67
           -88.878548                 218.33                  236.73
           -88.795219                 217.05                  234.51
           -88.711891                 214.53                  231.54
 ...                                     ...                     ...
 66.623306 -61.629639                  57.35                   66.85
           -61.546310                  59.33                   69.02
           -61.462978                  58.17                   67.63
           -61.379650                  57.55                   66.95
           -61.296322                  53.11                   62.04

                       spring_t2080_rcp85_p10  spring_hist_rcp85_p50  \
 lat       lon
 40.041039 -89.045212                  237.59                 283.84
           -88.961884                  240.95                 287.60
           -88.878548                  239.51                 284.54
           -88.795219                  237.99                 281.25
           -88.711891                  235.42                 277.46
 ...                                      ...                    ...
 66.623306 -61.629639                   73.10                  96.24
           -61.546310                   75.50                  98.59
           -61.462978                   74.07                  97.34
           -61.379650                   73.26                  96.75
           -61.296322                   67.67                  90.45

                       spring_t2050_rcp85_p50  spring_t2080_rcp85_p50  \
 lat       lon
 40.041039 -89.045212                  316.56                  323.58
           -88.961884                  319.82                  327.01
           -88.878548                  315.95                  322.68
           -88.795219                  311.91                  318.80
           -88.711891                  308.62                  316.40
 ...                                      ...                     ...
 66.623306 -61.629639                  112.36                  129.20
           -61.546310                  115.00                  131.91
           -61.462978                  113.45                  130.14
           -61.379650                  112.62                  129.07
           -61.296322                  105.61                  120.73

                       spring_hist_rcp85_p90  spring_t2050_rcp85_p90  \
 lat       lon
 40.041039 -89.045212                 354.86                  401.33
           -88.961884                 359.46                  405.76
           -88.878548                 354.33                  399.38
           -88.795219                 350.47                  393.14
           -88.711891                 348.36                  389.95
 ...                                     ...                     ...
 66.623306 -61.629639                 148.53                  165.80
           -61.546310                 151.81                  168.98
           -61.462978                 150.88                  167.02
           -61.379650                 150.36                  165.66
           -61.296322                 142.40                  155.75

                       spring_t2080_rcp85_p90
 lat       lon
 40.041039 -89.045212                  423.08
           -88.961884                  426.65
           -88.878548                  419.60
           -88.795219                  413.78
           -88.711891                  410.58
 ...                                      ...
 66.623306 -61.629639                  196.74
           -61.546310                  200.32
           -61.462978                  198.74
           -61.379650                  197.21
           -61.296322                  186.02

 [76206 rows x 9 columns],
                       summer_hist_rcp85_p10  summer_t2050_rcp85_p10  \
 lat       lon
 40.041039 -89.045212                 209.15                  212.73
           -88.961884                 207.93                  212.90
           -88.878548                 207.73                  213.24
           -88.795219                 209.36                  215.47
           -88.711891                 210.98                  217.50
 ...                                     ...                     ...
 66.623306 -61.629639                  71.72                   78.26
           -61.546310                  73.78                   80.78
           -61.462978                  72.40                   79.10
           -61.379650                  71.78                   78.49
           -61.296322                  67.79                   74.09

                       summer_t2080_rcp85_p10  summer_hist_rcp85_p50  \
 lat       lon
 40.041039 -89.045212                  192.10                 315.30
           -88.961884                  191.41                 315.70
           -88.878548                  193.26                 312.92
           -88.795219                  195.67                 313.19
           -88.711891                  195.82                 320.23
 ...                                      ...                    ...
 66.623306 -61.629639                   86.63                 110.91
           -61.546310                   88.87                 113.29
           -61.462978                   86.84                 111.68
           -61.379650                   86.02                 111.15
           -61.296322                   81.32                 105.60

                       summer_t2050_rcp85_p50  summer_t2080_rcp85_p50  \
 lat       lon
 40.041039 -89.045212                  300.22                  309.51
           -88.961884                  300.14                  309.49
           -88.878548                  299.07                  308.02
           -88.795219                  301.65                  310.57
           -88.711891                  305.57                  314.82
 ...                                      ...                     ...
 66.623306 -61.629639                  129.16                  131.92
           -61.546310                  131.79                  134.78
           -61.462978                  129.63                  132.14
           -61.379650                  128.71                  131.23
           -61.296322                  122.41                  124.70

                       summer_hist_rcp85_p90  summer_t2050_rcp85_p90  \
 lat       lon
 40.041039 -89.045212                 406.81                  428.60
           -88.961884                 406.90                  429.17
           -88.878548                 403.28                  425.66
           -88.795219                 404.97                  426.36
           -88.711891                 414.03                  435.59
 ...                                     ...                     ...
 66.623306 -61.629639                 161.75                  182.98
           -61.546310                 164.91                  186.26
           -61.462978                 163.20                  183.68
           -61.379650                 161.65                  182.21
           -61.296322                 153.99                  174.23

                       summer_t2080_rcp85_p90
 lat       lon
 40.041039 -89.045212                  435.34
           -88.961884                  436.52
           -88.878548                  433.62
           -88.795219                  435.63
           -88.711891                  445.52
 ...                                      ...
 66.623306 -61.629639                  196.87
           -61.546310                  200.75
           -61.462978                  198.31
           -61.379650                  197.13
           -61.296322                  187.77

 [76206 rows x 9 columns],
                       fall_hist_rcp85_p10  fall_t2050_rcp85_p10  \
 lat       lon
 40.041039 -89.045212               164.87                152.77
           -88.961884               165.07                153.20
           -88.878548               164.30                152.96
           -88.795219               163.55                152.51
           -88.711891               162.39                151.30
 ...                                   ...                   ...
 66.623306 -61.629639               112.68                128.24
           -61.546310               115.02                131.07
           -61.462978               113.19                129.33
           -61.379650               112.30                128.11
           -61.296322               105.61                121.07

                       fall_t2080_rcp85_p10  fall_hist_rcp85_p50  \
 lat       lon
 40.041039 -89.045212                151.09               226.83
           -88.961884                151.37               228.11
           -88.878548                150.79               226.60
           -88.795219                150.70               224.88
           -88.711891                149.61               224.11
 ...                                    ...                  ...
 66.623306 -61.629639                138.04               172.43
           -61.546310                141.07               175.22
           -61.462978                138.79               173.58
           -61.379650                137.62               172.11
           -61.296322                129.64               162.67

                       fall_t2050_rcp85_p50  fall_t2080_rcp85_p50  \
 lat       lon
 40.041039 -89.045212                227.18                231.15
           -88.961884                227.63                232.25
           -88.878548                225.74                229.88
           -88.795219                223.76                227.25
           -88.711891                222.30                225.14
 ...                                    ...                   ...
 66.623306 -61.629639                194.75                207.88
           -61.546310                197.35                211.30
           -61.462978                195.00                209.42
           -61.379650                193.02                207.54
           -61.296322                182.65                195.94

                       fall_hist_rcp85_p90  fall_t2050_rcp85_p90  \
 lat       lon
 40.041039 -89.045212               320.29                308.47
           -88.961884               322.11                310.23
           -88.878548               317.92                306.41
           -88.795219               313.53                302.96
           -88.711891               311.12                301.67
 ...                                   ...                   ...
 66.623306 -61.629639               250.59                278.00
           -61.546310               253.22                281.57
           -61.462978               251.02                278.45
           -61.379650               249.01                276.11
           -61.296322               236.46                261.99

                       fall_t2080_rcp85_p90
 lat       lon
 40.041039 -89.045212                328.17
           -88.961884                329.55
           -88.878548                324.97
           -88.795219                321.25
           -88.711891                320.44
 ...                                    ...
 66.623306 -61.629639                293.54
           -61.546310                296.60
           -61.462978                293.84
           -61.379650                291.40
           -61.296322                276.81

 [76206 rows x 9 columns]]

In [14]:
dfw85 = df85list[0].reset_index()
dfsp85 = df85list[1].reset_index()
dfsu85 = df85list[2].reset_index()
dff85 = df85list[3].reset_index()
mkey = ["lat","lon"]
dfse85 = dfw85.merge(dfsp85, on=mkey).merge(dfsu85, on=mkey).merge(dff85, on=mkey)
dfse85

,lat,lon,winter_hist_rcp85_p10,winter_t2050_rcp85_p10,winter_t2080_rcp85_p10,winter_hist_rcp85_p50,winter_t2050_rcp85_p50,winter_t2080_rcp85_p50,winter_hist_rcp85_p90,winter_t2050_rcp85_p90,...,summer_t2080_rcp85_p90,fall_hist_rcp85_p10,fall_t2050_rcp85_p10,fall_t2080_rcp85_p10,fall_hist_rcp85_p50,fall_t2050_rcp85_p50,fall_t2080_rcp85_p50,fall_hist_rcp85_p90,fall_t2050_rcp85_p90,fall_t2080_rcp85_p90
0,40.041039,-89.045212,117.31,126.12,131.15,163.34,185.08,196.54,228.34,251.49,...,435.34,164.87,152.77,151.09,226.83,227.18,231.15,320.29,308.47,328.17
1,40.041039,-88.961884,120.30,129.26,135.01,167.89,189.94,201.68,233.68,258.20,...,436.52,165.07,153.20,151.37,228.11,227.63,232.25,322.11,310.23,329.55
2,40.041039,-88.878548,121.62,130.74,136.24,168.84,190.56,202.25,233.34,257.77,...,433.62,164.30,152.96,150.79,226.60,225.74,229.88,317.92,306.41,324.97
3,40.041039,-88.795219,121.29,130.22,135.59,167.52,188.70,200.27,230.06,254.53,...,435.63,163.55,152.51,150.70,224.88,223.76,227.25,313.53,302.96,321.25
4,40.041039,-88.711891,122.01,131.08,136.38,168.98,190.09,201.54,232.28,256.47,...,445.52,162.39,151.30,149.61,224.11,222.30,225.14,311.12,301.67,320.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76201,66.623306,-61.629639,59.36,83.34,90.34,104.89,130.21,154.20,164.44,198.16,...,196.87,112.68,128.24,138.04,172.43,194.75,207.88,250.59,278.00,293.54
76202,66.623306,-61.546310,61.41,85.75,93.29,106.99,133.18,157.98,167.17,201.96,...,200.75,115.02,131.07,141.07,175.22,197.35,211.30,253.22,281.57,296.60
76203,66.623306,-61.462978,60.53,84.24,91.87,105.57,131.89,155.82,166.14,200.07,...,198.31,113.19,129.33,138.79,173.58,195.00,209.42,251.02,278.45,293.84
76204,66.623306,-61.379650,60.21,83.41,91.12,104.96,130.16,155.41,165.22,197.79,...,197.13,112.30,128.11,137.62,172.11,193.02,207.54,249.01,276.11,291.40
76205,66.623306,-61.296322,55.66,77.23,84.41,97.98,121.96,144.75,155.83,185.78,...,187.77,105.61,121.07,129.64,162.67,182.65,195.94,236.46,261.99,276.81

In [15]:
dfse85.to_feather("/home/mlopez/EXEC/Processed data to clip with regions/rcp85"+var+"_seasonal.feather")

# Merge df45 and 85

# Extract hist

In [16]:
dfse852 = dfse85.drop(columns=["winter_hist_rcp85_p10","winter_hist_rcp85_p50", "winter_hist_rcp85_p90", 
                               "spring_hist_rcp85_p10", "spring_hist_rcp85_p50", "spring_hist_rcp85_p90", 
                               "summer_hist_rcp85_p10","summer_hist_rcp85_p50", "summer_hist_rcp85_p90", 
                               "fall_hist_rcp85_p10","fall_hist_rcp85_p50", "fall_hist_rcp85_p90"])
dfse852

,lat,lon,winter_t2050_rcp85_p10,winter_t2080_rcp85_p10,winter_t2050_rcp85_p50,winter_t2080_rcp85_p50,winter_t2050_rcp85_p90,winter_t2080_rcp85_p90,spring_t2050_rcp85_p10,spring_t2080_rcp85_p10,...,summer_t2050_rcp85_p50,summer_t2080_rcp85_p50,summer_t2050_rcp85_p90,summer_t2080_rcp85_p90,fall_t2050_rcp85_p10,fall_t2080_rcp85_p10,fall_t2050_rcp85_p50,fall_t2080_rcp85_p50,fall_t2050_rcp85_p90,fall_t2080_rcp85_p90
0,40.041039,-89.045212,126.12,131.15,185.08,196.54,251.49,271.34,235.10,237.59,...,300.22,309.51,428.60,435.34,152.77,151.09,227.18,231.15,308.47,328.17
1,40.041039,-88.961884,129.26,135.01,189.94,201.68,258.20,277.99,238.67,240.95,...,300.14,309.49,429.17,436.52,153.20,151.37,227.63,232.25,310.23,329.55
2,40.041039,-88.878548,130.74,136.24,190.56,202.25,257.77,276.64,236.73,239.51,...,299.07,308.02,425.66,433.62,152.96,150.79,225.74,229.88,306.41,324.97
3,40.041039,-88.795219,130.22,135.59,188.70,200.27,254.53,272.07,234.51,237.99,...,301.65,310.57,426.36,435.63,152.51,150.70,223.76,227.25,302.96,321.25
4,40.041039,-88.711891,131.08,136.38,190.09,201.54,256.47,274.03,231.54,235.42,...,305.57,314.82,435.59,445.52,151.30,149.61,222.30,225.14,301.67,320.44
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76201,66.623306,-61.629639,83.34,90.34,130.21,154.20,198.16,236.56,66.85,73.10,...,129.16,131.92,182.98,196.87,128.24,138.04,194.75,207.88,278.00,293.54
76202,66.623306,-61.546310,85.75,93.29,133.18,157.98,201.96,239.74,69.02,75.50,...,131.79,134.78,186.26,200.75,131.07,141.07,197.35,211.30,281.57,296.60
76203,66.623306,-61.462978,84.24,91.87,131.89,155.82,200.07,237.21,67.63,74.07,...,129.63,132.14,183.68,198.31,129.33,138.79,195.00,209.42,278.45,293.84
76204,66.623306,-61.379650,83.41,91.12,130.16,155.41,197.79,234.84,66.95,73.26,...,128.71,131.23,182.21,197.13,128.11,137.62,193.02,207.54,276.11,291.40
76205,66.623306,-61.296322,77.23,84.41,121.96,144.75,185.78,220.79,62.04,67.67,...,122.41,124.70,174.23,187.77,121.07,129.64,182.65,195.94,261.99,276.81

## Getting historic mean for each season

In [17]:
### Function
def mean_season(season, dfse45, dfse85):
    dfw45 = dfse45[["lat", "lon", season+"_hist_rcp45_p50"]]
    dfw85 = dfse85[["lat", "lon", season+"_hist_rcp85_p50"]]
    dfsew = pd.merge(dfw45, dfw85, on=["lat","lon"])
    dfsew[season+"_hist_p50"] = round((dfsew[season+"_hist_rcp45_p50"]+ dfsew[season+"_hist_rcp85_p50"])/2, 2)
    dftgwh2 = dfsew.reset_index()
    dftgwh3 = dftgwh2[["lat", "lon", season+"_hist_p50"]]
    return (dftgwh3)

### Winter historic mean

In [18]:
dftgwh = mean_season("winter", dfse45, dfse85)
dftgwh

             lat        lon  winter_hist_p50
0      40.041039 -89.045212           163.43
1      40.041039 -88.961884           167.83
2      40.041039 -88.878548           168.73
3      40.041039 -88.795219           167.40
4      40.041039 -88.711891           168.83
...          ...        ...              ...
76201  66.623306 -61.629639           107.27
76202  66.623306 -61.546310           109.51
76203  66.623306 -61.462978           108.22
76204  66.623306 -61.379650           107.28
76205  66.623306 -61.296322           100.22

[76206 rows x 3 columns]

### Spring historic mean

In [19]:
dftsph = mean_season("spring", dfse45, dfse85)
dftsph

             lat        lon  spring_hist_p50
0      40.041039 -89.045212           285.98
1      40.041039 -88.961884           289.58
2      40.041039 -88.878548           286.44
3      40.041039 -88.795219           282.93
4      40.041039 -88.711891           279.58
...          ...        ...              ...
76201  66.623306 -61.629639            96.05
76202  66.623306 -61.546310            98.39
76203  66.623306 -61.462978            97.22
76204  66.623306 -61.379650            96.44
76205  66.623306 -61.296322            90.16

[76206 rows x 3 columns]

### Summer historic mean

In [20]:
dftsuh = mean_season("summer", dfse45, dfse85)
dftsuh

             lat        lon  summer_hist_p50
0      40.041039 -89.045212           311.06
1      40.041039 -88.961884           311.16
2      40.041039 -88.878548           308.90
3      40.041039 -88.795219           309.58
4      40.041039 -88.711891           316.26
...          ...        ...              ...
76201  66.623306 -61.629639           110.07
76202  66.623306 -61.546310           112.27
76203  66.623306 -61.462978           110.62
76204  66.623306 -61.379650           109.99
76205  66.623306 -61.296322           104.52

[76206 rows x 3 columns]

### Fall historic mean

In [21]:
dftfah = mean_season("fall", dfse45, dfse85)
dftfah

             lat        lon  fall_hist_p50
0      40.041039 -89.045212         226.04
1      40.041039 -88.961884         227.17
2      40.041039 -88.878548         225.78
3      40.041039 -88.795219         224.16
4      40.041039 -88.711891         223.19
...          ...        ...            ...
76201  66.623306 -61.629639         174.00
76202  66.623306 -61.546310         176.60
76203  66.623306 -61.462978         174.90
76204  66.623306 -61.379650         173.52
76205  66.623306 -61.296322         163.83

[76206 rows x 3 columns]

# Merge means with the 45 and 85 DF

In [22]:
dftgseall = dfse852.merge(dfse452, on=mkey).merge(dftfah, on=mkey).merge(dftsuh, on=mkey).merge(dftsph, on=mkey).merge(dftgwh, on=mkey)

In [23]:
dftgseall

,lat,lon,winter_t2050_rcp85_p10,winter_t2080_rcp85_p10,winter_t2050_rcp85_p50,winter_t2080_rcp85_p50,winter_t2050_rcp85_p90,winter_t2080_rcp85_p90,spring_t2050_rcp85_p10,spring_t2080_rcp85_p10,...,fall_t2050_rcp45_p10,fall_t2080_rcp45_p10,fall_t2050_rcp45_p50,fall_t2080_rcp45_p50,fall_t2050_rcp45_p90,fall_t2080_rcp45_p90,fall_hist_p50,summer_hist_p50,spring_hist_p50,winter_hist_p50
0,40.041039,-89.045212,126.12,131.15,185.08,196.54,251.49,271.34,235.10,237.59,...,163.85,163.56,239.55,233.59,324.77,324.72,226.04,311.06,285.98,163.43
1,40.041039,-88.961884,129.26,135.01,189.94,201.68,258.20,277.99,238.67,240.95,...,163.77,163.74,240.15,234.29,325.80,326.67,227.17,311.16,289.58,167.83
2,40.041039,-88.878548,130.74,136.24,190.56,202.25,257.77,276.64,236.73,239.51,...,162.43,163.03,238.01,231.84,321.25,323.46,225.78,308.90,286.44,168.73
3,40.041039,-88.795219,130.22,135.59,188.70,200.27,254.53,272.07,234.51,237.99,...,161.68,161.75,235.84,229.79,317.08,319.62,224.16,309.58,282.93,167.40
4,40.041039,-88.711891,131.08,136.38,190.09,201.54,256.47,274.03,231.54,235.42,...,160.54,159.69,234.71,227.96,315.60,317.92,223.19,316.26,279.58,168.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76201,66.623306,-61.629639,83.34,90.34,130.21,154.20,198.16,236.56,66.85,73.10,...,124.02,125.13,190.12,189.82,271.73,263.56,174.00,110.07,96.05,107.27
76202,66.623306,-61.546310,85.75,93.29,133.18,157.98,201.96,239.74,69.02,75.50,...,126.62,127.97,193.34,193.37,274.95,266.67,176.60,112.27,98.39,109.51
76203,66.623306,-61.462978,84.24,91.87,131.89,155.82,200.07,237.21,67.63,74.07,...,124.54,125.99,191.32,191.39,272.28,263.57,174.90,110.62,97.22,108.22
76204,66.623306,-61.379650,83.41,91.12,130.16,155.41,197.79,234.84,66.95,73.26,...,123.52,124.83,189.99,190.41,270.04,261.07,173.52,109.99,96.44,107.28
76205,66.623306,-61.296322,77.23,84.41,121.96,144.75,185.78,220.79,62.04,67.67,...,116.78,116.76,180.14,180.43,256.46,247.50,163.83,104.52,90.16,100.22

In [25]:
dftgseall.to_feather("/home/mlopez/EXEC/Processed data to clip with regions/"+var+"_seasonal.feather")

In [26]:
#dftgseall = pd.read_feather("/home/mlopez/EXEC/Processed data to clip with regions/"+var+"_annual.feather")

# Merge complete DF with Polygons for each spatial scale

## Dictionary - regions: column name, short name

In [27]:
short_dict = {"DDE_STF_20K_REG_FOR_VUE_S": ("NM_REG_FOR", "RF"), 
            "DDE_STF_20K_UA_PER_VUE_S": ("PER_NO_UA", "UA"), 
              "DOM_BIO": ("NOM", "DB"), 
              "REG_ECO": ("NOM", "RE"), 
              "SDOM_BIO": ("NOM", "SDB"), 
              "Secteurs_Operations_Regionales": ("D_GENERAL", "SOR"), 
              "SREG_ECO": ("NOM", "SRE"),  
              "territoire_guide": ("TER_GUIDE", "TG") 
              }

for region, (name, short) in short_dict.items():
    print(region, name, short)

DDE_STF_20K_REG_FOR_VUE_S NM_REG_FOR RF
DDE_STF_20K_UA_PER_VUE_S PER_NO_UA UA
DOM_BIO NOM DB
REG_ECO NOM RE
SDOM_BIO NOM SDB
Secteurs_Operations_Regionales D_GENERAL SOR
SREG_ECO NOM SRE
territoire_guide TER_GUIDE TG

In [28]:
def replace_all(text, dic):
    for i, j in dic.items():
        text = text.replace(i, j)
    return text

In [29]:
d = { 'BAS-SAINT-LAURENT':"Bas-Saint-Laurent", 
     'SAGUENAY -LAC-SAINT-JEAN': "Saguenay -Lac-Saint-Jean",
     'CAPITALE-NATIONALE-CHAUDIÈRE-APPALACHES':"Capitale-Nationale-Chaudiere-Appalaches",
     'MAURICIE-CENTRE-DU-QUÉBEC':'Mauricie-Centre-du-Quebec','OUTAOUAIS':'Outaouais', 
     'ABITIBI-TEMISCAMINGUE':'Abitibi-Temiscamingue', 'COTE-NORD':'Cote-Nord',
     'NORD-DU-QUEBEC':'Nord-Du-Quebec', 'GASPESIE-ILES-DE-LA-MADELEINE':'Gaspesie-Iles-De-La-Madeleine', 
     'LANAUDIERE':'Lanaudiere','LAURENTIDES':"Laurentides", 
     "ESTRIE-MONTÉRÉGIE-LAVAL-MONTRÉAL":"Estrie-Monteregie-Laval-Montreal", 
     "é": "e", "É": "E", "à": "a", "è": "e", "Î": "i", "È": "E", "ô" : "o", "Ç":"C", "ç":"c",
       }

In [ ]:
for region, (name, short) in short_dict.items():
    print(region)
    dfpolyshape = from_geofeather('/home/mlopez/EXEC/Grids-polygons-regions/Grid-'+region+'.feather')
    dftp = pd.merge(dftgseall, dfpolyshape, on=["lat","lon"])
    print ("Merged with polygons")
    listTG = []
    for tg in dftp[name].unique().tolist():
        df2 = dftp[dftp[name] == tg]
        print (tg)
        if tg != None:
            listTG.append(df2)
        #print (listTG)
    for df in listTG:
        geometry = df["geometry"]
        crs = {'init': "epsg:4326"}
        gdf = GeoDataFrame(df, crs=crs, geometry=geometry)
        print (gdf[name].iloc[0])
        #Substitute filename accents
        gdf.to_file(replace_all("/home/mlopez/EXEC/GeoJsonMFFP/"+gdf[name].iloc[0], d)+"_"+var+"_seasonal.json", driver="GeoJSON")
    geometry = dftp["geometry"]
    crs = {'init': "epsg:4326"}
    gdf = GeoDataFrame(dftp, crs=crs, geometry=geometry)
    gdf.to_file("/home/mlopez/EXEC/GeoJsonMFFP/"+short+"_"+var+"_seasonal.json", driver="GeoJSON")

DDE_STF_20K_REG_FOR_VUE_S

WARNING:py.warnings:/home/mlopez/EXEC/anaconda3/envs/python37-2/lib/python3.8/site-packages/geofeather/core.py:85: UserWarning: /home/mlopez/EXEC/Grids-polygons-regions/Grid-DDE_STF_20K_REG_FOR_VUE_S.feather.crs coordinate reference system file is missing. No crs will be set for this GeoDataFrame.
  warnings.warn(

Merged with polygons
ESTRIE-MONTÉRÉGIE-LAVAL-MONTRÉAL
OUTAOUAIS
LAURENTIDES
MAURICIE-CENTRE-DU-QUÉBEC
LANAUDIERE
CAPITALE-NATIONALE-CHAUDIÈRE-APPALACHES
ABITIBI-TEMISCAMINGUE
BAS-SAINT-LAURENT
GASPESIE-ILES-DE-LA-MADELEINE
SAGUENAY -LAC-SAINT-JEAN
COTE-NORD
NORD-DU-QUEBEC
ESTRIE-MONTÉRÉGIE-LAVAL-MONTRÉAL
OUTAOUAIS
LAURENTIDES
MAURICIE-CENTRE-DU-QUÉBEC
LANAUDIERE
CAPITALE-NATIONALE-CHAUDIÈRE-APPALACHES
ABITIBI-TEMISCAMINGUE
BAS-SAINT-LAURENT
GASPESIE-ILES-DE-LA-MADELEINE
SAGUENAY -LAC-SAINT-JEAN
COTE-NORD
NORD-DU-QUEBEC

WARNING:py.warnings:/home/mlopez/EXEC/anaconda3/envs/python37-2/lib/python3.8/site-packages/geofeather/core.py:85: UserWarning: /home/mlopez/EXEC/Grids-polygons-regions/Grid-DDE_STF_20K_UA_PER_VUE_S.feather.crs coordinate reference system file is missing. No crs will be set for this GeoDataFrame.
  warnings.warn(

DDE_STF_20K_UA_PER_VUE_S
Merged with polygons
05151
07151
07251
06151
03571
06452
06271
07351
07152
08151
06471
04151
03451
08152
07352
03171
07451
04352
04251
01171
03153
08351
02371
03351
08251
04351
01272
08451
02571
11161
09751
11262
08462
08651
02651
08751
08551
02471
11263
08762
02751
02664
09351
08652
02666
08763
09471
08764
02665
08665
02663
08562
08664
08666
02662
08663
09551
02661
09352
05151
07151
07251
06151
03571
06452
06271
07351
07152
08151
06471
04151
03451
08152
07352
03171
07451
04352
04251
01171
03153
08351
02371
03351
08251
04351
01272
08451
02571
11161
09751
11262
08462
08651
02651
08751
08551
02471