In [1]:
%load_ext autoreload
%autoreload 2
import xarray as xr
import matplotlib.pyplot as plt
import pandas as pd
import processing_netcdf as pcdf
import geopandas as gpd
from geopandas import GeoDataFrame
import shapely.geometry 
import numpy as np
from shapely import geometry as gmty
from geofeather import to_geofeather, from_geofeather

In [2]:
import glob
import os

In [3]:
#path to data
data = "/home/mlopez/EXEC/Observed data/NRCAN_obs_tg_mean_annual.nc"

# Create DF of observed data

In [6]:
dfobstg = pcdf.load_as_df(data)

In [8]:
dfobstg.reset_index()

                lat        lon       time     tg_mean
0         83.125000 -74.541672 1950-01-01  251.429901
1         83.125000 -74.541672 1951-01-01  252.994797
2         83.125000 -74.541672 1952-01-01  253.964935
3         83.125000 -74.541672 1953-01-01  253.616013
4         83.125000 -74.541672 1954-01-01  253.628616
...             ...        ...        ...         ...
16464827  41.708332 -82.208336 2009-01-01  282.584686
16464828  41.708332 -82.208336 2010-01-01  283.870300
16464829  41.708332 -82.208336 2011-01-01  284.144257
16464830  41.708332 -82.208336 2012-01-01  285.570129
16464831  41.708332 -82.208336 2013-01-01  283.616577

[16464832 rows x 4 columns]

# Transform temp to Celsius

In [9]:
dfC = dfobstg.copy()
dfC["tg_mean"] = dfC["tg_mean"] -273.15

# Define periods of time:

In [10]:
year_groups = {y:0 for y in range(1980,2011)}
#Get the mean of every period
dfC2 = dfC.reset_index()
dfp = dfC2.groupby([dfC2.time.dt.year.map(year_groups), "lat","lon"]).mean()

In [11]:
dfp.reset_index()

        time        lat        lon    tg_mean
0        0.0  41.708332 -82.791672  10.039598
1        0.0  41.708332 -82.708336   9.940871
2        0.0  41.708332 -82.625000   9.872470
3        0.0  41.708332 -82.541672   9.838626
4        0.0  41.708332 -82.458336   9.807738
...      ...        ...        ...        ...
257258   0.0  83.125000 -69.958336 -19.014936
257259   0.0  83.125000 -69.875000 -18.887545
257260   0.0  83.125000 -69.791672 -18.915213
257261   0.0  83.125000 -69.708336 -18.884167
257262   0.0  83.125000 -69.625000 -18.563374

[257263 rows x 4 columns]

# Historic Period

485,881/3 = 161,960. ---- instead 333,469 rows × 4 columns

In [12]:
df_h = dfp.query("time==0.0")
df_h.reset_index()

        time        lat        lon    tg_mean
0        0.0  41.708332 -82.791672  10.039598
1        0.0  41.708332 -82.708336   9.940871
2        0.0  41.708332 -82.625000   9.872470
3        0.0  41.708332 -82.541672   9.838626
4        0.0  41.708332 -82.458336   9.807738
...      ...        ...        ...        ...
257258   0.0  83.125000 -69.958336 -19.014936
257259   0.0  83.125000 -69.875000 -18.887545
257260   0.0  83.125000 -69.791672 -18.915213
257261   0.0  83.125000 -69.708336 -18.884167
257262   0.0  83.125000 -69.625000 -18.563374

[257263 rows x 4 columns]

## Import dataframe with polygons

In [13]:
dfpolyshape = from_geofeather('Grid-TerritoiresGuides.feather')

/home/mlopez/EXEC/anaconda3/envs/python37-2/lib/python3.8/site-packages/geofeather/core.py:85: UserWarning: Grid-TerritoiresGuides.feather.crs coordinate reference system file is missing. No crs will be set for this GeoDataFrame.
  warnings.warn(

In [14]:
dfpolyshape

,lat,lon,TER_GUIDE,geometry
0,52.957191,-67.712730,6opqr,"POLYGON ((-67.67107 52.93424, -67.67107 52.915..."
1,52.957191,-67.629402,6opqr,"POLYGON ((-67.67107 52.91553, -67.67107 52.934..."
2,52.957191,-67.546066,6opqr,"POLYGON ((-67.56730 52.91553, -67.57974 52.915..."
3,52.873859,-67.796059,6opqr,"POLYGON ((-67.75439 52.89329, -67.75439 52.832..."
4,52.873859,-67.712730,6opqr,"POLYGON ((-67.75439 52.83219, -67.75439 52.893..."
...,...,...,...,...
33193,45.041668,-72.208336,2c,"POLYGON ((-72.25000 45.00450, -72.25000 45.083..."
33194,45.041668,-72.125000,2c,"POLYGON ((-72.16666 45.00508, -72.16666 45.083..."
33195,45.041668,-72.041672,2c,"POLYGON ((-72.08334 45.00564, -72.08334 45.083..."
33196,45.041668,-71.958336,2c,"POLYGON ((-72.00000 45.00667, -72.00000 45.083..."
33197,45.041668,-71.875000,2c,"POLYGON ((-71.91666 45.04812, -71.91666 45.083..."

## Merge data with mask

In [15]:
dftghTG = pd.merge(df_h, dfpolyshape, on=["lat","lon"])

In [27]:
dftghTG

,lat,lon,tg_mean,TER_GUIDE,geometry
0,44.958332,-74.625000,7.262820,1a,"POLYGON ((-74.66365 45.00000, -74.58334 45.000..."
1,44.958332,-74.541672,7.225025,1a,"POLYGON ((-74.58334 44.99872, -74.58334 45.000..."
2,44.958332,-74.458336,7.186191,1a,"POLYGON ((-74.50000 44.99779, -74.50000 45.000..."
3,44.958332,-74.375000,7.153564,1a,"POLYGON ((-74.41666 44.99517, -74.41666 45.000..."
4,44.958332,-74.291672,7.095845,1a,"POLYGON ((-74.33334 44.99213, -74.33334 45.000..."
...,...,...,...,...,...
16559,52.875000,-67.625000,-2.909539,6opqr,"POLYGON ((-67.66666 52.83333, -67.66666 52.916..."
16560,52.875000,-67.541672,-2.857326,6opqr,"POLYGON ((-67.58334 52.83333, -67.58334 52.911..."
16561,52.958332,-67.708336,-3.045003,6opqr,"POLYGON ((-67.66667 52.93419, -67.66667 52.916..."
16562,52.958332,-67.625000,-2.945693,6opqr,"POLYGON ((-67.66666 52.91667, -67.66666 52.934..."
16563,52.958332,-67.541672,-2.929742,6opqr,"POLYGON ((-67.56892 52.91667, -67.57850 52.916..."

In [28]:
dftghTG.TER_GUIDE.value_counts()

6cdefg    2361
6opqr     1609
6ab       1416
5bcd      1237
4bc       1048
6hi       1026
6j         949
6mn        925
3ab        652
5a         550
6kl        512
5ef        399
4f         394
2b         388
3d         365
3c         355
4de        355
5g         350
5hi        341
1a         340
4gh        301
5jk        245
2c         165
2a         142
4a         139
Name: TER_GUIDE, dtype: int64

# ---- Create GeoJson file ----

In [29]:
geometry = dftghTG["geometry"]

In [30]:
crs = {'init': "epsg:4326"}
gdf = GeoDataFrame(dftghTG, crs=crs, geometry=geometry)

In [31]:
gdf.to_file("TG_hist_tg_mean_annual_rcp45_50.json", driver="GeoJSON")

# Create GeoJson for each territory

In [22]:
listTG = []

for tg in dftghTG['TER_GUIDE'].unique().tolist():
    df = dftghTG[dftghTG.TER_GUIDE == tg]
    print (tg)
    listTG.append(df)

listTG

1a
2c
3d
2b
2a
3c
3ab
4bc
4de
5ef
4f
4a
5jk
5bcd
5a
4gh
5hi
5g
6cdefg
6hi
6ab
6j
6mn
6kl
6opqr

[            lat        lon   tg_mean TER_GUIDE  \
 0     44.958332 -74.625000  7.262820        1a
 1     44.958332 -74.541672  7.225025        1a
 2     44.958332 -74.458336  7.186191        1a
 3     44.958332 -74.375000  7.153564        1a
 4     44.958332 -74.291672  7.095845        1a
 ...         ...        ...       ...       ...
 1234  46.208332 -72.625000  5.503286        1a
 1342  46.291668 -72.875000  5.441136        1a
 1344  46.291668 -72.791672  5.479058        1a
 1346  46.291668 -72.708336  5.487480        1a
 1348  46.291668 -72.625000  5.480344        1a

                                                geometry
 0     POLYGON ((-74.66365 45.00000, -74.58334 45.000...
 1     POLYGON ((-74.58334 44.99872, -74.58334 45.000...
 2     POLYGON ((-74.50000 44.99779, -74.50000 45.000...
 3     POLYGON ((-74.41666 44.99517, -74.41666 45.000...
 4     POLYGON ((-74.33334 44.99213, -74.33334 45.000...
 ...                                                 ...
 1234  POLYGON ((-72.66666 46.24655, -72.66666 46.250...
 1342  POLYGON ((-72.83334 46.26106, -72.83334 46.250...
 1344  POLYGON ((-72.83334 46.25000, -72.83334 46.261...
 1346  POLYGON ((-72.75000 46.25000, -72.75000 46.282...
 1348  POLYGON ((-72.66666 46.25000, -72.66666 46.272...

 [340 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 32    45.041668 -72.875000  6.611304        2c
 33    45.041668 -72.791672  6.172665        2c
 34    45.041668 -72.708336  5.937433        2c
 35    45.041668 -72.625000  5.925528        2c
 36    45.041668 -72.541672  5.333074        2c
 ...         ...        ...       ...       ...
 919   45.958332 -71.875000  4.929592        2c
 921   45.958332 -71.791672  4.624575        2c
 923   45.958332 -71.708336  4.113332        2c
 925   45.958332 -71.625000  4.021189        2c
 1023  46.041668 -71.875000  4.942238        2c

                                                geometry
 32    POLYGON ((-72.88778 45.08333, -72.83334 45.083...
 33    POLYGON ((-72.83334 45.01558, -72.83334 45.083...
 34    POLYGON ((-72.75000 45.01560, -72.75000 45.083...
 35    POLYGON ((-72.66666 45.01486, -72.66666 45.083...
 36    POLYGON ((-72.58334 45.01123, -72.58334 45.083...
 ...                                                 ...
 919   POLYGON ((-71.91666 45.91667, -71.91666 45.994...
 921   POLYGON ((-71.83334 45.91667, -71.83334 45.957...
 923   POLYGON ((-71.75000 45.91667, -71.75000 45.939...
 925   POLYGON ((-71.66666 45.91667, -71.66666 45.934...
 1023  POLYGON ((-71.88724 46.00000, -71.90198 46.000...

 [165 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 43    45.041668 -71.958336  4.991779        3d
 45    45.041668 -71.875000  4.768334        3d
 47    45.041668 -71.791672  5.042716        3d
 48    45.041668 -71.708336  4.518222        3d
 49    45.041668 -71.625000  4.751536        3d
 ...         ...        ...       ...       ...
 2900  47.208332 -69.875000  3.325383        3d
 3037  47.291668 -70.125000  4.459433        3d
 3040  47.291668 -70.041672  3.641226        3d
 3043  47.291668 -69.958336  3.691920        3d
 3191  47.375000 -69.958336  4.051429        3d

                                                geometry
 43    POLYGON ((-71.91667 45.04812, -71.91667 45.007...
 45    POLYGON ((-71.91666 45.00775, -71.91666 45.048...
 47    POLYGON ((-71.83334 45.00901, -71.83334 45.083...
 48    POLYGON ((-71.75000 45.01047, -71.75000 45.083...
 49    POLYGON ((-71.66666 45.01174, -71.66666 45.083...
 ...                                                 ...
 2900  POLYGON ((-69.91666 47.17676, -69.91666 47.212...
 3037  POLYGON ((-70.08334 47.28495, -70.08334 47.250...
 3040  MULTIPOLYGON (((-70.08334 47.25000, -70.08334 ...
 3043  MULTIPOLYGON (((-70.00000 47.25000, -70.00000 ...
 3191  POLYGON ((-69.99534 47.33333, -69.99824 47.333...

 [365 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 215   45.375000 -72.791672  6.324552        2b
 218   45.375000 -72.708336  6.170102        2b
 280   45.458332 -72.875000  6.243134        2b
 282   45.458332 -72.791672  6.332258        2b
 284   45.458332 -72.708336  6.145712        2b
 ...         ...        ...       ...       ...
 3500  47.541668 -69.958336  4.212237        2b
 3501  47.541668 -69.875000  4.209309        2b
 3503  47.541668 -69.791672  3.945327        2b
 3664  47.625000 -69.875000  4.066352        2b
 3666  47.625000 -69.791672  4.008543        2b

                                                geometry
 215   POLYGON ((-72.78572 45.41667, -72.75001 45.416...
 218   POLYGON ((-72.75000 45.38835, -72.75000 45.416...
 280   POLYGON ((-72.90920 45.50000, -72.83334 45.500...
 282   POLYGON ((-72.83334 45.48492, -72.83334 45.500...
 284   POLYGON ((-72.75000 45.41667, -72.75000 45.500...
 ...                                                 ...
 3500  POLYGON ((-69.91667 47.51739, -69.91667 47.500...
 3501  POLYGON ((-69.91666 47.50000, -69.91666 47.517...
 3503  POLYGON ((-69.83334 47.50000, -69.83334 47.583...
 3664  POLYGON ((-69.83334 47.58483, -69.83334 47.583...
 3666  POLYGON ((-69.83334 47.58333, -69.83334 47.584...

 [388 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 254   45.458332 -75.875000  5.909770        2a
 256   45.458332 -75.791672  6.028500        2a
 320   45.541668 -76.208336  5.810935        2a
 322   45.541668 -76.125000  5.813387        2a
 324   45.541668 -76.041672  5.575732        2a
 ...         ...        ...       ...       ...
 1658  46.541668 -75.958336  4.149148        2a
 1660  46.541668 -75.875000  4.122160        2a
 1782  46.625000 -76.041672  4.014789        2a
 1784  46.625000 -75.958336  4.112453        2a
 1923  46.708332 -76.041672  3.891901        2a

                                                geometry
 254   POLYGON ((-75.91069 45.50000, -75.83334 45.500...
 256   POLYGON ((-75.83334 45.46802, -75.83334 45.500...
 320   POLYGON ((-76.24925 45.58333, -76.16667 45.583...
 322   POLYGON ((-76.16666 45.57753, -76.16666 45.583...
 324   POLYGON ((-76.08334 45.56707, -76.08334 45.583...
 ...                                                 ...
 1658  POLYGON ((-76.00000 46.50000, -76.00000 46.583...
 1660  POLYGON ((-75.91666 46.50000, -75.91666 46.540...
 1782  POLYGON ((-76.02801 46.66667, -76.02125 46.666...
 1784  MULTIPOLYGON (((-75.96311 46.58333, -75.96733 ...
 1923  POLYGON ((-76.02125 46.66667, -76.02801 46.666...

 [142 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 438   45.625000 -74.375000  5.960443        3c
 440   45.625000 -74.291672  5.960340        3c
 530   45.708332 -74.458336  5.156577        3c
 534   45.708332 -74.375000  5.264295        3c
 537   45.708332 -74.291672  5.359388        3c
 ...         ...        ...       ...       ...
 3310  47.458332 -72.458336  2.477018        3c
 3460  47.541668 -72.875000  2.689474        3c
 3462  47.541668 -72.791672  3.099785        3c
 3464  47.541668 -72.708336  2.853639        3c
 3466  47.541668 -72.625000  2.553408        3c

                                                geometry
 438   MULTIPOLYGON (((-74.35935 45.66667, -74.33334 ...
 440   MULTIPOLYGON (((-74.32407 45.66667, -74.30405 ...
 530   POLYGON ((-74.48314 45.75000, -74.41667 45.750...
 534   POLYGON ((-74.41666 45.68993, -74.41666 45.750...
 537   POLYGON ((-74.33334 45.66667, -74.33334 45.750...
 ...                                                 ...
 3310  POLYGON ((-72.50000 47.41667, -72.50000 47.458...
 3460  POLYGON ((-72.83334 47.53565, -72.83334 47.503...
 3462  POLYGON ((-72.83334 47.50323, -72.83334 47.535...
 3464  MULTIPOLYGON (((-72.66667 47.50029, -72.66667 ...
 3466  POLYGON ((-72.66666 47.50000, -72.66666 47.500...

 [355 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 523   45.708332 -74.708336  5.168333       3ab
 525   45.708332 -74.625000  5.018765       3ab
 527   45.708332 -74.541672  4.950590       3ab
 531   45.708332 -74.458336  5.156577       3ab
 602   45.791668 -76.625000  5.221577       3ab
 ...         ...        ...       ...       ...
 2926  47.291668 -78.791672  2.912803       3ab
 2928  47.291668 -78.708336  2.839268       3ab
 3071  47.375000 -78.875000  2.880008       3ab
 3073  47.375000 -78.791672  2.778588       3ab
 3075  47.375000 -78.708336  2.729582       3ab

                                                geometry
 523   POLYGON ((-74.74179 45.75000, -74.66667 45.750...
 525   POLYGON ((-74.66666 45.73702, -74.66666 45.750...
 527   POLYGON ((-74.58334 45.74871, -74.58334 45.750...
 531   POLYGON ((-74.50000 45.73668, -74.50000 45.750...
 602   POLYGON ((-76.64164 45.83333, -76.58334 45.833...
 ...                                                 ...
 2926  POLYGON ((-78.83334 47.25000, -78.83334 47.332...
 2928  POLYGON ((-78.75000 47.25000, -78.75000 47.295...
 3071  POLYGON ((-78.83467 47.33333, -78.86057 47.333...
 3073  POLYGON ((-78.75001 47.36030, -78.75001 47.350...
 3075  POLYGON ((-78.75000 47.35017, -78.75000 47.360...

 [652 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 1761  46.625000 -77.375000  3.821668       4bc
 1763  46.625000 -77.291672  3.750230       4bc
 1768  46.625000 -76.958336  3.670793       4bc
 1771  46.625000 -76.791672  3.387707       4bc
 1802  46.625000 -74.625000  2.693542       4bc
 ...         ...        ...       ...       ...
 4898  48.208332 -72.708336  1.651996       4bc
 4900  48.208332 -72.625000  1.774983       4bc
 4902  48.208332 -72.541672  1.667051       4bc
 5095  48.291668 -72.875000  1.565901       4bc
 5097  48.291668 -72.791672  1.409618       4bc

                                                geometry
 1761  POLYGON ((-77.40338 46.66667, -77.33334 46.666...
 1763  POLYGON ((-77.33334 46.63605, -77.33334 46.666...
 1768  POLYGON ((-76.99759 46.66667, -76.94416 46.666...
 1771  POLYGON ((-76.77681 46.66667, -76.75001 46.666...
 1802  POLYGON ((-74.64816 46.66667, -74.58334 46.666...
 ...                                                 ...
 4898  POLYGON ((-72.66667 48.21735, -72.66667 48.166...
 4900  POLYGON ((-72.66666 48.16667, -72.66666 48.217...
 4902  POLYGON ((-72.58334 48.16667, -72.58334 48.202...
 5095  POLYGON ((-72.83334 48.26391, -72.83334 48.250...
 5097  POLYGON ((-72.83334 48.25000, -72.83334 48.263...

 [1048 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 2125  46.791668 -71.708336  4.312134       4de
 2273  46.875000 -71.791672  3.955077       4de
 2275  46.875000 -71.708336  3.656253       4de
 2277  46.875000 -71.625000  3.974370       4de
 2279  46.875000 -71.541672  3.984061       4de
 ...         ...        ...       ...       ...
 7267  49.125000 -72.375000  1.307893       4de
 7269  49.125000 -72.291672  1.295094       4de
 7491  49.208332 -72.625000  0.964595       4de
 7493  49.208332 -72.541672  0.984555       4de
 7496  49.208332 -72.375000  1.057102       4de

                                                geometry
 2125  POLYGON ((-71.73330 46.83333, -71.68563 46.833...
 2273  POLYGON ((-71.81469 46.91667, -71.75001 46.916...
 2275  POLYGON ((-71.75000 46.85578, -71.75000 46.916...
 2277  POLYGON ((-71.66666 46.84467, -71.66666 46.916...
 2279  POLYGON ((-71.58334 46.88425, -71.58334 46.916...
 ...                                                 ...
 7267  POLYGON ((-72.41666 49.08333, -72.41666 49.094...
 7269  POLYGON ((-72.33334 49.08333, -72.33334 49.142...
 7491  POLYGON ((-72.58334 49.17260, -72.58334 49.166...
 7493  POLYGON ((-72.58334 49.16667, -72.58334 49.172...
 7496  POLYGON ((-72.36829 49.16667, -72.37374 49.166...

 [355 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 2570  47.041668 -71.791672  2.354726       5ef
 2573  47.041668 -71.708336  2.664456       5ef
 2575  47.041668 -71.625000  2.639730       5ef
 2577  47.041668 -71.541672  2.512998       5ef
 2580  47.041668 -71.458336  2.946055       5ef
 ...         ...        ...       ...       ...
 7079  49.041668 -70.458336  0.389559       5ef
 7081  49.041668 -70.375000  0.485564       5ef
 7083  49.041668 -70.291672  0.590084       5ef
 7085  49.041668 -70.208336  0.735742       5ef
 7087  49.041668 -70.125000  0.715116       5ef

                                                geometry
 2570  POLYGON ((-71.77608 47.08333, -71.75001 47.083...
 2573  MULTIPOLYGON (((-71.67361 47.08333, -71.66667 ...
 2575  MULTIPOLYGON (((-71.59355 47.08333, -71.58334 ...
 2577  POLYGON ((-71.58334 47.07736, -71.58334 47.083...
 2580  POLYGON ((-71.50000 47.04145, -71.50000 47.083...
 ...                                                 ...
 7079  POLYGON ((-70.50000 49.00000, -70.50000 49.015...
 7081  POLYGON ((-70.41666 49.00000, -70.41666 49.018...
 7083  POLYGON ((-70.33334 49.00000, -70.33334 49.013...
 7085  POLYGON ((-70.25000 49.00000, -70.25000 49.009...
 7087  POLYGON ((-70.16666 49.00600, -70.16666 49.010...

 [399 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 2598  47.041668 -70.541672  4.975224        4f
 2609  47.041668 -69.875000  3.161545        4f
 2611  47.041668 -69.791672  3.307847        4f
 2613  47.041668 -69.708336  3.166114        4f
 2615  47.041668 -69.625000  2.994808        4f
 ...         ...        ...       ...       ...
 6669  48.875000 -67.375000  2.863642        4f
 6671  48.875000 -67.291672  2.652700        4f
 6673  48.875000 -67.208336  2.371397        4f
 6892  48.958332 -67.291672  3.186960        4f
 6894  48.958332 -67.208336  2.948505        4f

                                                geometry
 2598  POLYGON ((-70.55039 47.08333, -70.52845 47.083...
 2609  POLYGON ((-69.84558 47.08333, -69.83334 47.083...
 2611  POLYGON ((-69.83334 47.06960, -69.83334 47.083...
 2613  MULTIPOLYGON (((-69.71163 47.08333, -69.66667 ...
 2615  POLYGON ((-69.66666 47.06625, -69.66666 47.083...
 ...                                                 ...
 6669  POLYGON ((-67.41666 48.85692, -67.41666 48.881...
 6671  POLYGON ((-67.33334 48.87810, -67.33334 48.911...
 6673  POLYGON ((-67.25000 48.91220, -67.25000 48.916...
 6892  POLYGON ((-67.25001 48.93020, -67.25001 48.916...
 6894  POLYGON ((-67.25000 48.91667, -67.25000 48.930...

 [394 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 2617  47.125000 -79.458336  3.742499        4a
 2619  47.125000 -79.375000  3.614611        4a
 2621  47.125000 -79.291672  3.433949        4a
 2763  47.208332 -79.458336  3.584102        4a
 2764  47.208332 -79.375000  3.630080        4a
 ...         ...        ...       ...       ...
 4595  48.125000 -79.041672  2.311013        4a
 4597  48.125000 -78.958336  2.315511        4a
 4811  48.208332 -79.125000  2.223469        4a
 4813  48.208332 -79.041672  2.270755        4a
 4815  48.208332 -78.958336  2.264605        4a

                                                geometry
 2617  POLYGON ((-79.44617 47.16667, -79.41667 47.166...
 2619  MULTIPOLYGON (((-79.33473 47.16667, -79.33334 ...
 2621  POLYGON ((-79.33334 47.16613, -79.33334 47.166...
 2763  POLYGON ((-79.45218 47.25000, -79.41667 47.250...
 2764  POLYGON ((-79.41666 47.16667, -79.41666 47.250...
 ...                                                 ...
 4595  POLYGON ((-79.08334 48.08333, -79.08334 48.166...
 4597  POLYGON ((-79.00000 48.08333, -79.00000 48.166...
 4811  POLYGON ((-79.08334 48.17644, -79.08334 48.166...
 4813  POLYGON ((-79.08334 48.16667, -79.08334 48.176...
 4815  POLYGON ((-79.00000 48.16667, -79.00000 48.179...

 [139 rows x 5 columns],              lat        lon   tg_mean TER_GUIDE  \
 2906   47.208332 -62.041668  5.428211       5jk
 2907   47.208332 -61.958336  5.377865       5jk
 2908   47.208332 -61.875004  5.525449       5jk
 2909   47.208332 -61.791668  5.568449       5jk
 3054   47.291668 -62.041668  5.408193       5jk
 ...          ...        ...       ...       ...
 10123  50.291668 -62.708336  1.602187       5jk
 10125  50.291668 -62.625004  1.565020       5jk
 10127  50.291668 -62.541668  1.552482       5jk
 10129  50.291668 -62.458336  1.546346       5jk
 10131  50.291668 -62.375004  1.540403       5jk

                                                 geometry
 2906   POLYGON ((-62.00848 47.25000, -62.00000 47.250...
 2907   POLYGON ((-62.00000 47.21705, -62.00000 47.250...
 2908   POLYGON ((-61.91667 47.21435, -61.91667 47.250...
 2909   POLYGON ((-61.83333 47.21675, -61.83333 47.235...
 3054   POLYGON ((-62.00000 47.25705, -62.00000 47.250...
 ...                                                  ...
 10123  POLYGON ((-62.74562 50.27628, -62.74902 50.275...
 10125  POLYGON ((-62.63987 50.27079, -62.63794 50.269...
 10127  POLYGON ((-62.52907 50.26063, -62.52798 50.259...
 10129  POLYGON ((-62.42754 50.26468, -62.42797 50.263...
 10131  MULTIPOLYGON (((-62.40562 50.27378, -62.40617 ...

 [245 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 3121  47.375000 -74.875000  2.026259      5bcd
 3123  47.375000 -74.791672  2.022254      5bcd
 3125  47.375000 -74.708336  2.066346      5bcd
 3270  47.458332 -74.875000  1.879426      5bcd
 3272  47.458332 -74.791672  1.591367      5bcd
 ...         ...        ...       ...       ...
 9252  49.958332 -70.458336 -0.066092      5bcd
 9254  49.958332 -70.375000 -0.223658      5bcd
 9419  50.041668 -70.708336 -0.136651      5bcd
 9421  50.041668 -70.625000 -0.209085      5bcd
 9423  50.041668 -70.541672 -0.155870      5bcd

                                                geometry
 3121  POLYGON ((-74.90490 47.41667, -74.83334 47.416...
 3123  POLYGON ((-74.83334 47.38783, -74.83334 47.416...
 3125  POLYGON ((-74.75000 47.38471, -74.75000 47.416...
 3270  POLYGON ((-74.83334 47.49915, -74.83334 47.416...
 3272  POLYGON ((-74.83334 47.41667, -74.83334 47.499...
 ...                                                 ...
 9252  POLYGON ((-70.50000 49.91667, -70.50000 49.948...
 9254  POLYGON ((-70.34212 49.91667, -70.36027 49.916...
 9419  POLYGON ((-70.69386 50.00000, -70.74133 50.000...
 9421  POLYGON ((-70.58334 50.02292, -70.58334 50.000...
 9423  POLYGON ((-70.58334 50.00000, -70.58334 50.022...

 [1237 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 3548  47.625000 -77.791672  2.426344        5a
 3550  47.625000 -77.708336  2.388312        5a
 3704  47.708332 -78.375000  2.405402        5a
 3707  47.708332 -78.291672  2.437162        5a
 3711  47.708332 -78.041672  2.417180        5a
 ...         ...        ...       ...       ...
 7800  49.375000 -78.291672  0.628134        5a
 7802  49.375000 -78.208336  0.683441        5a
 7804  49.375000 -78.125000  0.635931        5a
 7984  49.458332 -78.291672  0.606973        5a
 7986  49.458332 -78.208336  0.553410        5a

                                                geometry
 3548  POLYGON ((-77.80440 47.66667, -77.75001 47.666...
 3550  POLYGON ((-77.75000 47.64714, -77.75000 47.666...
 3704  POLYGON ((-78.36563 47.75000, -78.33334 47.750...
 3707  POLYGON ((-78.33334 47.71818, -78.33334 47.750...
 3711  POLYGON ((-78.01148 47.75000, -78.00001 47.750...
 ...                                                 ...
 7800  POLYGON ((-78.25954 49.41667, -78.25001 49.416...
 7802  POLYGON ((-78.25000 49.33407, -78.25000 49.416...
 7804  POLYGON ((-78.16666 49.33333, -78.16666 49.394...
 7984  POLYGON ((-78.25001 49.46336, -78.25001 49.416...
 7986  POLYGON ((-78.25000 49.41667, -78.25000 49.463...

 [550 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 4206  47.875000 -67.375000  2.969981       4gh
 4208  47.875000 -67.291672  2.981848       4gh
 4209  47.875000 -67.208336  2.900090       4gh
 4210  47.875000 -67.125000  2.994052       4gh
 4211  47.875000 -67.041672  3.008530       4gh
 ...         ...        ...       ...       ...
 7759  49.291668 -65.625000  3.320138       4gh
 7760  49.291668 -65.541672  3.298271       4gh
 7761  49.291668 -65.458336  3.298884       4gh
 7762  49.291668 -65.375000  3.446446       4gh
 7763  49.291668 -65.291672  3.573288       4gh

                                                geometry

In [25]:
for tg in listTG:
    geometry = tg["geometry"]
    crs = {'init': "epsg:4326"}
    gdf = GeoDataFrame(tg, crs=crs, geometry=geometry)
    #print (gdf['TER_GUIDE'].iloc[0])
    gdf.to_file(gdf['TER_GUIDE'].iloc[0]+"_hist_tg_mean_annual_rcp45_50.json", driver="GeoJSON")