In [1]:
%load_ext autoreload
%autoreload 2
import xarray as xr
import matplotlib.pyplot as plt
import pandas as pd
import processing_netcdf as pcdf
import geopandas as gpd
from geopandas import GeoDataFrame
import shapely.geometry 
import numpy as np
from shapely import geometry as gmty
from geofeather import to_geofeather, from_geofeather

In [10]:
import glob
import os

In [66]:
#path for 11 models
path = "/home/mlopez/EXEC/Tg_annual_11_models/"

In [67]:
files = list(glob.glob(os.path.join(path,'*.*')))

In [68]:
files

['/home/mlopez/EXEC/Tg_annual_11_models/ACCESS1-3_rcp45_tg_mean_annual.nc',
 '/home/mlopez/EXEC/Tg_annual_11_models/BNU-ESM_rcp45_tg_mean_annual.nc',
 '/home/mlopez/EXEC/Tg_annual_11_models/CanESM2_rcp45_tg_mean_annual.nc',
 '/home/mlopez/EXEC/Tg_annual_11_models/CMCC-CMS_rcp45_tg_mean_annual.nc',
 '/home/mlopez/EXEC/Tg_annual_11_models/GFDL-ESM2M_rcp45_tg_mean_annual.nc',
 '/home/mlopez/EXEC/Tg_annual_11_models/HadGEM2-CC_rcp45_tg_mean_annual.nc',
 '/home/mlopez/EXEC/Tg_annual_11_models/INM-CM4_rcp45_tg_mean_annual.nc',
 '/home/mlopez/EXEC/Tg_annual_11_models/IPSL-CM5A-LR_rcp45_tg_mean_annual.nc',
 '/home/mlopez/EXEC/Tg_annual_11_models/MPI-ESM-LR_rcp45_tg_mean_annual.nc',
 '/home/mlopez/EXEC/Tg_annual_11_models/NorESM1-M_rcp45_tg_mean_annual.nc',
 '/home/mlopez/EXEC/Tg_annual_11_models/IPSL-CM5B-LR_rcp45_tg_mean_annual.nc']

# Create DF of all models

In [69]:
dflist = []

In [71]:
for file in files:
    df = pcdf.load_as_df(file)
    dflist.append(df)

/exec/mlopez/Code/GitHub/processing_netcdf.py:24: RuntimeWarning: Converting a CFTimeIndex with dates from a non-standard calendar, 'noleap', to a pandas.DatetimeIndex, which uses dates from the standard calendar.  This may lead to subtle errors in operations that depend on the length of time between dates.
  ds['time'] = index.to_datetimeindex()
/exec/mlopez/Code/GitHub/processing_netcdf.py:24: RuntimeWarning: Converting a CFTimeIndex with dates from a non-standard calendar, 'noleap', to a pandas.DatetimeIndex, which uses dates from the standard calendar.  This may lead to subtle errors in operations that depend on the length of time between dates.
  ds['time'] = index.to_datetimeindex()
/exec/mlopez/Code/GitHub/processing_netcdf.py:24: RuntimeWarning: Converting a CFTimeIndex with dates from a non-standard calendar, '360_day', to a pandas.DatetimeIndex, which uses dates from the standard calendar.  This may lead to subtle errors in operations that depend on the length of time between dates.
  ds['time'] = index.to_datetimeindex()
/exec/mlopez/Code/GitHub/processing_netcdf.py:24: RuntimeWarning: Converting a CFTimeIndex with dates from a non-standard calendar, 'noleap', to a pandas.DatetimeIndex, which uses dates from the standard calendar.  This may lead to subtle errors in operations that depend on the length of time between dates.
  ds['time'] = index.to_datetimeindex()

In [72]:
dflist

[                                    tg_mean
 lat       lon        time
 66.623306 -89.045212 1950-01-01  258.828888
                      1951-01-01  258.898285
                      1952-01-01  258.709839
                      1953-01-01  258.461304
                      1954-01-01  259.764862
 ...                                     ...
 40.041039 -74.045807 2096-01-01  287.267639
                      2097-01-01  287.343201
                      2098-01-01  289.033142
                      2099-01-01  287.839813
                      2100-01-01  287.281799

 [11507106 rows x 1 columns],                                     tg_mean
 lat       lon        time
 66.623306 -89.045212 1950-01-01  257.955170
                      1951-01-01  256.791321
                      1952-01-01  259.168579
                      1953-01-01  258.776642
                      1954-01-01  257.527466
 ...                                     ...
 40.041039 -74.045807 2096-01-01  287.275635
                      2097-01-01  289.127319
                      2098-01-01  288.509918
                      2099-01-01  288.884155
                      2100-01-01  288.198730

 [11507106 rows x 1 columns],                                     tg_mean
 lat       lon        time
 66.623306 -89.045212 1950-01-01  257.085693
                      1951-01-01  258.389740
                      1952-01-01  258.411224
                      1953-01-01  257.813049
                      1954-01-01  259.148529
 ...                                     ...
 40.041039 -74.045807 2096-01-01  288.246490
                      2097-01-01  288.674133
                      2098-01-01  288.317993
                      2099-01-01  287.446564
                      2100-01-01  288.106812

 [11507106 rows x 1 columns],                                     tg_mean
 lat       lon        time
 66.623306 -89.045212 1950-01-01  257.661499
                      1951-01-01  259.650604
                      1952-01-01  258.695526
                      1953-01-01  258.613068
                      1954-01-01  258.736298
 ...                                     ...
 40.041039 -74.045807 2096-01-01  290.193420
                      2097-01-01  287.881073
                      2098-01-01  287.628967
                      2099-01-01  287.799133
                      2100-01-01  288.197174

 [11507106 rows x 1 columns],                                     tg_mean
 lat       lon        time
 66.623306 -89.045212 1950-01-01  259.359985
                      1951-01-01  257.891724
                      1952-01-01  258.406677
                      1953-01-01  259.058777
                      1954-01-01  259.393402
 ...                                     ...
 40.041039 -74.045807 2096-01-01  287.343201
                      2097-01-01  286.741150
                      2098-01-01  286.736542
                      2099-01-01  286.392944
                      2100-01-01  286.098236

 [11507106 rows x 1 columns],                                     tg_mean
 lat       lon        time
 66.623306 -89.045212 1950-01-01  256.886414
                      1951-01-01  257.775177
                      1952-01-01  257.146881
                      1953-01-01  258.244354
                      1954-01-01  258.522583
 ...                                     ...
 40.041039 -74.045807 2096-01-01  289.489594
                      2097-01-01  287.372742
                      2098-01-01  288.842590
                      2099-01-01  290.438416
                      2100-01-01  289.174255

 [11507106 rows x 1 columns],                                     tg_mean
 lat       lon        time
 66.623306 -89.045212 1950-01-01  258.635193
                      1951-01-01  258.124695
                      1952-01-01  259.136200
                      1953-01-01  259.164734
                      1954-01-01  260.328033
 ...                                     ...
 40.041039 -74.045807 2096-01-01  286.637360
                      2097-01-01  286.426117
                      2098-01-01  286.326630
                      2099-01-01  286.937592
                      2100-01-01  286.248108

 [11507106 rows x 1 columns],                                     tg_mean
 lat       lon        time
 66.623306 -89.045212 1950-01-01  259.794189
                      1951-01-01  258.864807
                      1952-01-01  257.313568
                      1953-01-01  259.756989
                      1954-01-01  258.833466
 ...                                     ...
 40.041039 -74.045807 2096-01-01  288.255951
                      2097-01-01  288.649231
                      2098-01-01  287.149475
                      2099-01-01  290.203461
                      2100-01-01  287.348236

 [11507106 rows x 1 columns],                                     tg_mean
 lat       lon        time
 66.623306 -89.045212 1950-01-01  258.653290
                      1951-01-01  256.835785
                      1952-01-01  256.559204
                      1953-01-01  256.548126
                      1954-01-01  259.228180
 ...                                     ...
 40.041039 -74.045807 2096-01-01  287.622437
                      2097-01-01  287.997528
                      2098-01-01  285.644012
                      2099-01-01  287.409607
                      2100-01-01  288.164520

 [11507106 rows x 1 columns],                                     tg_mean
 lat       lon        time
 66.623306 -89.045212 1950-01-01  260.484924
                      1951-01-01  259.078644
                      1952-01-01  258.677917
                      1953-01-01  257.989288
                      1954-01-01  259.059174
 ...                                     ...
 40.041039 -74.045807 2096-01-01  287.475037
                      2097-01-01  288.044769
                      2098-01-01  286.913635
                      2099-01-01  288.436249
                      2100-01-01  287.527069

 [11507106 rows x 1 columns],                                     tg_mean
 lat       lon        time
 66.623306 -89.045212 1950-01-01  260.071655
                      1951-01-01  258.420990
                      1952-01-01  259.665039
                      1953-01-01  259.152985
                      1954-01-01  259.997162
 ...                                     ...
 40.041039 -74.045807 2096-01-01  287.735748
                      2097-01-01  288.222382
                      2098-01-01  287.898895
                      2099-01-01  288.221161
                      2100-01-01  288.576843

 [11507106 rows x 1 columns]]

In [73]:
#Takes 3 min
%time df11 = pd.concat(dflist)

CPU times: user 3min 17s, sys: 3min 38s, total: 6min 56s
Wall time: 59.9 s

In [74]:
df11

                                    tg_mean
lat       lon        time
66.623306 -89.045212 1950-01-01  258.828888
                     1951-01-01  258.898285
                     1952-01-01  258.709839
                     1953-01-01  258.461304
                     1954-01-01  259.764862
...                                     ...
40.041039 -74.045807 2096-01-01  287.735748
                     2097-01-01  288.222382
                     2098-01-01  287.898895
                     2099-01-01  288.221161
                     2100-01-01  288.576843

[126578166 rows x 1 columns]

In [75]:
dftgm = df11.reset_index()

In [76]:
dftgm

                 lat        lon       time     tg_mean
0          66.623306 -89.045212 1950-01-01  258.828888
1          66.623306 -89.045212 1951-01-01  258.898285
2          66.623306 -89.045212 1952-01-01  258.709839
3          66.623306 -89.045212 1953-01-01  258.461304
4          66.623306 -89.045212 1954-01-01  259.764862
...              ...        ...        ...         ...
126578161  40.041039 -74.045807 2096-01-01  287.735748
126578162  40.041039 -74.045807 2097-01-01  288.222382
126578163  40.041039 -74.045807 2098-01-01  287.898895
126578164  40.041039 -74.045807 2099-01-01  288.221161
126578165  40.041039 -74.045807 2100-01-01  288.576843

[126578166 rows x 4 columns]

# Get the mean for 11 models

In [77]:
#Takes 48s
%time dftgm2 = dftgm.groupby(["lat", "lon", "time"]).mean()

CPU times: user 1min 9s, sys: 3min 24s, total: 4min 33s
Wall time: 1min 11s

In [78]:
dftgm2

                                    tg_mean
lat       lon        time
40.041039 -89.045212 1950-01-01  284.512207
                     1951-01-01  284.301483
                     1952-01-01  284.201324
                     1953-01-01  284.058258
                     1954-01-01  284.223297
...                                     ...
66.623306 -61.296322 2096-01-01  266.947266
                     2097-01-01  266.583160
                     2098-01-01  267.383698
                     2099-01-01  267.084015
                     2100-01-01  266.929138

[11507106 rows x 1 columns]

# Transform temp to Celsius

In [79]:
dfC = dftgm2.copy()
dfC["tg_mean"] = dfC["tg_mean"] -273.15

# Define 3 periods of time:

In [80]:
year_groups = {y:0 for y in range(1980,2011)}
year_groups.update({y:1 for y in range(2041,2071)})
year_groups.update({y:2 for y in range(2071,2101)})
#Get the mean of every period
dfC2 = dfC.reset_index()
dfp = dfC2.groupby([dfC2.time.dt.year.map(year_groups), "lat","lon"]).mean()

In [81]:
dfp.reset_index()

        time        lat        lon    tg_mean
0        0.0  40.041039 -89.045212  11.582137
1        0.0  40.041039 -88.961884  11.563147
2        0.0  40.041039 -88.878548  11.553229
3        0.0  40.041039 -88.795219  11.533276
4        0.0  40.041039 -88.711891  11.550668
...      ...        ...        ...        ...
228613   2.0  66.623306 -61.629639  -6.811722
228614   2.0  66.623306 -61.546310  -7.124964
228615   2.0  66.623306 -61.462978  -6.919032
228616   2.0  66.623306 -61.379650  -6.850576
228617   2.0  66.623306 -61.296322  -6.249941

[228618 rows x 4 columns]

# Period 2041-2071

In [102]:
df_h = dfp.query("time==0.0")
df_h.reset_index()

       time        lat        lon    tg_mean
0       0.0  40.041039 -89.045212  11.582137
1       0.0  40.041039 -88.961884  11.563147
2       0.0  40.041039 -88.878548  11.553229
3       0.0  40.041039 -88.795219  11.533276
4       0.0  40.041039 -88.711891  11.550668
...     ...        ...        ...        ...
76201   0.0  66.623306 -61.629639  -9.662173
76202   0.0  66.623306 -61.546310  -9.956597
76203   0.0  66.623306 -61.462978  -9.742899
76204   0.0  66.623306 -61.379650  -9.663411
76205   0.0  66.623306 -61.296322  -9.058446

[76206 rows x 4 columns]

In [103]:
df2050 = dfp.query("time==1.0")
df2050.reset_index()

       time        lat        lon    tg_mean
0       1.0  40.041039 -89.045212  13.636863
1       1.0  40.041039 -88.961884  13.619951
2       1.0  40.041039 -88.878548  13.611746
3       1.0  40.041039 -88.795219  13.591616
4       1.0  40.041039 -88.711891  13.611670
...     ...        ...        ...        ...
76201   1.0  66.623306 -61.629639  -7.389808
76202   1.0  66.623306 -61.546310  -7.699386
76203   1.0  66.623306 -61.462978  -7.491785
76204   1.0  66.623306 -61.379650  -7.421025
76205   1.0  66.623306 -61.296322  -6.819813

[76206 rows x 4 columns]

# Period 2071-2100

In [84]:
df2080 = dfp.query("time==2.0")
df2080.reset_index()

       time        lat        lon    tg_mean
0       2.0  40.041039 -89.045212  14.238521
1       2.0  40.041039 -88.961884  14.221740
2       2.0  40.041039 -88.878548  14.213413
3       2.0  40.041039 -88.795219  14.193439
4       2.0  40.041039 -88.711891  14.213731
...     ...        ...        ...        ...
76201   2.0  66.623306 -61.629639  -6.811722
76202   2.0  66.623306 -61.546310  -7.124964
76203   2.0  66.623306 -61.462978  -6.919032
76204   2.0  66.623306 -61.379650  -6.850576
76205   2.0  66.623306 -61.296322  -6.249941

[76206 rows x 4 columns]

## Import dataframe with polygons

In [85]:
dfpolyshape = from_geofeather('Grid-TerritoiresGuides.feather')

/home/mlopez/EXEC/anaconda3/envs/python37-2/lib/python3.8/site-packages/geofeather/core.py:85: UserWarning: Grid-TerritoiresGuides.feather.crs coordinate reference system file is missing. No crs will be set for this GeoDataFrame.
  warnings.warn(

In [44]:
dfpolyshape

,lat,lon,TER_GUIDE,geometry
0,52.957191,-67.712730,6opqr,"POLYGON ((-67.67107 52.93424, -67.67107 52.915..."
1,52.957191,-67.629402,6opqr,"POLYGON ((-67.67107 52.91553, -67.67107 52.934..."
2,52.957191,-67.546066,6opqr,"POLYGON ((-67.56730 52.91553, -67.57974 52.915..."
3,52.873859,-67.796059,6opqr,"POLYGON ((-67.75439 52.89329, -67.75439 52.832..."
4,52.873859,-67.712730,6opqr,"POLYGON ((-67.75439 52.83219, -67.75439 52.893..."
...,...,...,...,...
33193,45.041668,-72.208336,2c,"POLYGON ((-72.25000 45.00450, -72.25000 45.083..."
33194,45.041668,-72.125000,2c,"POLYGON ((-72.16666 45.00508, -72.16666 45.083..."
33195,45.041668,-72.041672,2c,"POLYGON ((-72.08334 45.00564, -72.08334 45.083..."
33196,45.041668,-71.958336,2c,"POLYGON ((-72.00000 45.00667, -72.00000 45.083..."
33197,45.041668,-71.875000,2c,"POLYGON ((-71.91666 45.04812, -71.91666 45.083..."

# Merge data with mask

## Period 2041-2071

In [105]:
dftg2050TG = pd.merge(df2050, dfpolyshape, on=["lat","lon"])
dftg2050TG

,lat,lon,tg_mean,TER_GUIDE,geometry
0,44.957512,-74.629120,9.538018,1a,"POLYGON ((-74.62590 44.99918, -74.58746 44.999..."
1,44.957512,-74.545792,9.513206,1a,"POLYGON ((-74.58746 44.99876, -74.58746 44.999..."
2,44.957512,-74.462463,9.489746,1a,"POLYGON ((-74.50413 44.99784, -74.50413 44.999..."
3,44.957512,-74.379128,9.475520,1a,"POLYGON ((-74.42079 44.99530, -74.42079 44.999..."
4,44.957512,-74.295799,9.437252,1a,"POLYGON ((-74.33746 44.99215, -74.33746 44.999..."
...,...,...,...,...,...
16563,52.873859,-67.629402,-0.763553,6opqr,"POLYGON ((-67.67107 52.83219, -67.67107 52.915..."
16564,52.873859,-67.546066,-0.713376,6opqr,"POLYGON ((-67.58773 52.83219, -67.58773 52.904..."
16565,52.957191,-67.712730,-0.899334,6opqr,"POLYGON ((-67.67107 52.93424, -67.67107 52.915..."
16566,52.957191,-67.629402,-0.800437,6opqr,"POLYGON ((-67.67107 52.91553, -67.67107 52.934..."
16567,52.957191,-67.546066,-0.787730,6opqr,"POLYGON ((-67.56730 52.91553, -67.57974 52.915..."

## Period 2071-2100

In [104]:
dftg2080TG = pd.merge(df2080, dfpolyshape, on=["lat","lon"])
dftg2080TG

,lat,lon,tg_mean,TER_GUIDE,geometry
0,44.957512,-74.629120,10.221003,1a,"POLYGON ((-74.62590 44.99918, -74.58746 44.999..."
1,44.957512,-74.545792,10.196143,1a,"POLYGON ((-74.58746 44.99876, -74.58746 44.999..."
2,44.957512,-74.462463,10.172487,1a,"POLYGON ((-74.50413 44.99784, -74.50413 44.999..."
3,44.957512,-74.379128,10.157830,1a,"POLYGON ((-74.42079 44.99530, -74.42079 44.999..."
4,44.957512,-74.295799,10.119123,1a,"POLYGON ((-74.33746 44.99215, -74.33746 44.999..."
...,...,...,...,...,...
16563,52.873859,-67.629402,-0.044033,6opqr,"POLYGON ((-67.67107 52.83219, -67.67107 52.915..."
16564,52.873859,-67.546066,0.005096,6opqr,"POLYGON ((-67.58773 52.83219, -67.58773 52.904..."
16565,52.957191,-67.712730,-0.180504,6opqr,"POLYGON ((-67.67107 52.93424, -67.67107 52.915..."
16566,52.957191,-67.629402,-0.082217,6opqr,"POLYGON ((-67.67107 52.91553, -67.67107 52.934..."
16567,52.957191,-67.546066,-0.070407,6opqr,"POLYGON ((-67.56730 52.91553, -67.57974 52.915..."

# Create GeoJson for each territory

## Period 2041-2071

In [110]:
listTG2050 = []
for tg in dftg2050TG['TER_GUIDE'].unique().tolist():
    df = dftg2050TG[dftg2050TG.TER_GUIDE == tg]
    print (tg)
    listTG2050.append(df)
listTG2050

1a
2c
3d
2b
2a
3c
3ab
4bc
4de
5ef
4f
4a
5jk
5bcd
5a
4gh
5hi
5g
6cdefg
6hi
6ab
6j
6mn
6kl
6opqr

[            lat        lon   tg_mean TER_GUIDE  \
 0     44.957512 -74.629120  9.538018        1a
 1     44.957512 -74.545792  9.513206        1a
 2     44.957512 -74.462463  9.489746        1a
 3     44.957512 -74.379128  9.475520        1a
 4     44.957512 -74.295799  9.437252        1a
 ...         ...        ...       ...       ...
 1236  46.207458 -72.629204  7.885466        1a
 1345  46.290791 -72.879189  7.743872        1a
 1347  46.290791 -72.795860  7.787753        1a
 1349  46.290791 -72.712532  7.804598        1a
 1351  46.290791 -72.629204  7.801954        1a

                                                geometry
 0     POLYGON ((-74.62590 44.99918, -74.58746 44.999...
 1     POLYGON ((-74.58746 44.99876, -74.58746 44.999...
 2     POLYGON ((-74.50413 44.99784, -74.50413 44.999...
 3     POLYGON ((-74.42079 44.99530, -74.42079 44.999...
 4     POLYGON ((-74.33746 44.99215, -74.33746 44.999...
 ...                                                 ...
 1236  MULTIPOLYGON (((-72.67087 46.23871, -72.67087 ...
 1345  POLYGON ((-72.83752 46.26212, -72.83752 46.249...
 1347  POLYGON ((-72.83752 46.24912, -72.83752 46.262...
 1349  POLYGON ((-72.75420 46.24912, -72.75420 46.280...
 1351  POLYGON ((-72.67087 46.24912, -72.67087 46.279...

 [338 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 31    45.040840 -72.879189  8.925659        2c
 32    45.040840 -72.795860  8.469790        2c
 33    45.040840 -72.712532  8.231106        2c
 34    45.040840 -72.629204  8.225399        2c
 35    45.040840 -72.545868  7.637102        2c
 ...         ...        ...       ...       ...
 921   45.957470 -71.795898  7.004277        2c
 923   45.957470 -71.712570  6.458187        2c
 925   45.957470 -71.629242  6.351533        2c
 927   45.957470 -71.545914  6.404876        2c
 1025  46.040798 -71.879227  7.362314        2c

                                                geometry
 31    POLYGON ((-72.88791 45.08251, -72.83752 45.082...
 32    POLYGON ((-72.83752 45.01554, -72.83752 45.082...
 33    POLYGON ((-72.75420 45.01564, -72.75420 45.082...
 34    POLYGON ((-72.67087 45.01490, -72.67087 45.082...
 35    POLYGON ((-72.58753 45.01170, -72.58753 45.082...
 ...                                                 ...
 921   POLYGON ((-71.83756 45.91580, -71.83756 45.961...
 923   POLYGON ((-71.75423 45.91580, -71.75423 45.941...
 925   POLYGON ((-71.67091 45.91580, -71.67091 45.934...
 927   POLYGON ((-71.58758 45.91668, -71.58758 45.917...
 1025  POLYGON ((-71.88637 45.99913, -71.90353 45.999...

 [166 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 42    45.040840 -71.962563  7.275918        3d
 44    45.040840 -71.879227  7.043323        3d
 46    45.040840 -71.795898  7.309492        3d
 47    45.040840 -71.712570  6.776594        3d
 48    45.040840 -71.629242  6.996572        3d
 ...         ...        ...       ...       ...
 2908  47.207420 -69.879311  5.737508        3d
 3045  47.290749 -70.129303  6.810950        3d
 3048  47.290749 -70.045967  6.012981        3d
 3051  47.290749 -69.962639  6.073305        3d
 3199  47.374081 -69.962639  6.412046        3d

                                                geometry
 42    POLYGON ((-71.92090 45.04695, -71.92090 45.007...
 44    POLYGON ((-71.92089 45.00769, -71.92089 45.046...
 46    POLYGON ((-71.83756 45.00894, -71.83756 45.082...
 47    POLYGON ((-71.75423 45.01039, -71.75423 45.082...
 48    POLYGON ((-71.67091 45.01169, -71.67091 45.082...
 ...                                                 ...
 2908  POLYGON ((-69.92097 47.16575, -69.92097 47.211...
 3045  POLYGON ((-70.08764 47.28270, -70.08764 47.249...
 3048  MULTIPOLYGON (((-70.08763 47.24908, -70.08763 ...
 3051  MULTIPOLYGON (((-70.00430 47.24908, -70.00430 ...
 3199  POLYGON ((-69.99535 47.33241, -69.99967 47.332...

 [367 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 215   45.374161 -72.795860  8.720674        2b
 218   45.374161 -72.712532  8.534989        2b
 280   45.457489 -72.879189  8.660479        2b
 282   45.457489 -72.795860  8.752714        2b
 284   45.457489 -72.712532  8.538806        2b
 ...         ...        ...       ...       ...
 3357  47.457409 -69.795982  5.999808        2b
 3509  47.540741 -69.962639  6.537821        2b
 3510  47.540741 -69.879311  6.544904        2b
 3512  47.540741 -69.795982  6.292283        2b
 3672  47.624069 -69.795982  6.340665        2b

                                                geometry
 215   POLYGON ((-72.78619 45.41583, -72.75420 45.415...
 218   POLYGON ((-72.75420 45.38688, -72.75420 45.415...
 280   POLYGON ((-72.90824 45.49916, -72.83752 45.499...
 282   POLYGON ((-72.83752 45.48522, -72.83752 45.499...
 284   POLYGON ((-72.75420 45.41582, -72.75420 45.499...
 ...                                                 ...
 3357  POLYGON ((-69.83765 47.45559, -69.83765 47.499...
 3509  POLYGON ((-69.92097 47.51493, -69.92097 47.499...
 3510  POLYGON ((-69.92097 47.49907, -69.92097 47.514...
 3512  POLYGON ((-69.83765 47.49907, -69.83765 47.581...
 3672  POLYGON ((-69.80142 47.58240, -69.83675 47.582...

 [388 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 254   45.457489 -75.879066  8.255114        2a
 256   45.457489 -75.795738  8.379187        2a
 320   45.540821 -76.212387  8.213636        2a
 322   45.540821 -76.129059  8.213957        2a
 324   45.540821 -76.045731  7.949246        2a
 ...         ...        ...       ...       ...
 1661  46.540779 -75.962402  6.366628        2a
 1663  46.540779 -75.879066  6.336125        2a
 1785  46.624111 -76.045731  6.233121        2a
 1787  46.624111 -75.962402  6.336648        2a
 1928  46.707439 -76.045731  6.118119        2a

                                                geometry
 254   POLYGON ((-75.90788 45.49916, -75.83740 45.499...
 256   POLYGON ((-75.83740 45.46821, -75.83740 45.499...
 320   POLYGON ((-76.24865 45.58249, -76.17072 45.582...
 322   POLYGON ((-76.17072 45.57753, -76.17072 45.582...
 324   POLYGON ((-76.08739 45.56871, -76.08739 45.582...
 ...                                                 ...
 1661  POLYGON ((-76.00407 46.49911, -76.00407 46.582...
 1663  POLYGON ((-75.92073 46.49911, -75.92073 46.540...
 1785  POLYGON ((-76.03237 46.66578, -76.02053 46.665...
 1787  MULTIPOLYGON (((-75.96239 46.58245, -75.96880 ...
 1928  POLYGON ((-76.02052 46.66577, -76.03239 46.665...

 [143 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 439   45.624149 -74.379128  8.274957        3c
 441   45.624149 -74.295799  8.255919        3c
 531   45.707481 -74.462463  7.445758        3c
 535   45.707481 -74.379128  7.534677        3c
 538   45.707481 -74.295799  7.618010        3c
 ...         ...        ...       ...       ...
 3318  47.457409 -72.462540  4.786356        3c
 3469  47.540741 -72.879189  4.986221        3c
 3471  47.540741 -72.795860  5.414205        3c
 3473  47.540741 -72.712532  5.162454        3c
 3475  47.540741 -72.629204  4.855071        3c

                                                geometry
 439   MULTIPOLYGON (((-74.35539 45.66582, -74.33746 ...
 441   MULTIPOLYGON (((-74.32365 45.66582, -74.31170 ...
 531   POLYGON ((-74.48351 45.74915, -74.42080 45.749...
 535   POLYGON ((-74.42079 45.69341, -74.42079 45.749...
 538   POLYGON ((-74.33746 45.66582, -74.33746 45.749...
 ...                                                 ...
 3318  POLYGON ((-72.50420 47.41574, -72.50420 47.461...
 3469  POLYGON ((-72.83752 47.53468, -72.83752 47.504...
 3471  POLYGON ((-72.83752 47.50417, -72.83752 47.534...
 3473  POLYGON ((-72.75420 47.49907, -72.75420 47.536...
 3475  POLYGON ((-72.62869 47.49907, -72.66899 47.499...

 [356 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 524   45.707481 -74.712448  7.519125       3ab
 526   45.707481 -74.629120  7.345667       3ab
 528   45.707481 -74.545792  7.252995       3ab
 532   45.707481 -74.462463  7.445758       3ab
 603   45.790810 -76.629044  7.581479       3ab
 ...         ...        ...       ...       ...
 2934  47.290749 -78.795624  5.133049       3ab
 2936  47.290749 -78.712288  5.062375       3ab
 3079  47.374081 -78.878952  5.083181       3ab
 3081  47.374081 -78.795624  4.990151       3ab
 3083  47.374081 -78.712288  4.950911       3ab

                                                geometry
 524   POLYGON ((-74.74199 45.74915, -74.67078 45.749...
 526   POLYGON ((-74.67078 45.73512, -74.67078 45.749...
 528   MULTIPOLYGON (((-74.56622 45.74915, -74.50413 ...
 532   POLYGON ((-74.50413 45.73724, -74.50413 45.749...
 603   POLYGON ((-76.64053 45.83248, -76.58738 45.832...
 ...                                                 ...
 2934  POLYGON ((-78.83729 47.24908, -78.83729 47.332...
 2936  POLYGON ((-78.75395 47.24908, -78.75395 47.294...
 3079  POLYGON ((-78.83729 47.33791, -78.83729 47.332...
 3081  POLYGON ((-78.83729 47.33241, -78.83729 47.337...
 3083  POLYGON ((-78.75395 47.34716, -78.75395 47.359...

 [652 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 1763  46.624111 -77.379013  6.031486       4bc
 1765  46.624111 -77.295677  5.957335       4bc
 1770  46.624111 -76.962357  5.875004       4bc
 1773  46.624111 -76.795700  5.581918       4bc
 1775  46.624111 -76.712372  5.475030       4bc
 ...         ...        ...       ...       ...
 4901  48.207378 -72.712532  3.857255       4bc
 4903  48.207378 -72.629204  3.980086       4bc
 4905  48.207378 -72.545868  3.867678       4bc
 5097  48.290710 -72.879189  3.771439       4bc
 5099  48.290710 -72.795860  3.609751       4bc

                                                geometry
 1763  POLYGON ((-77.40222 46.66578, -77.33735 46.665...
 1765  POLYGON ((-77.33734 46.63601, -77.33734 46.665...
 1770  POLYGON ((-76.99712 46.66578, -76.94435 46.665...
 1773  POLYGON ((-76.77471 46.66578, -76.75404 46.665...
 1775  POLYGON ((-76.75404 46.66481, -76.75404 46.665...
 ...                                                 ...
 4901  POLYGON ((-72.67087 48.22031, -72.67087 48.165...
 4903  POLYGON ((-72.67087 48.16571, -72.67087 48.220...
 4905  POLYGON ((-72.58753 48.16571, -72.58753 48.207...
 5097  POLYGON ((-72.83752 48.26189, -72.83752 48.249...
 5099  POLYGON ((-72.83752 48.24904, -72.83752 48.261...

 [1057 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 2130  46.790771 -71.712570  6.633507       4de
 2279  46.874100 -71.795898  6.286298       4de
 2281  46.874100 -71.712570  5.998207       4de
 2283  46.874100 -71.629242  6.319679       4de
 2285  46.874100 -71.545914  6.342233       4de
 ...         ...        ...       ...       ...
 7276  49.124008 -72.295883  3.519155       4de
 7279  49.124008 -72.129219  3.560201       4de
 7499  49.207340 -72.629204  3.167967       4de
 7501  49.207340 -72.545868  3.188035       4de
 7504  49.207340 -72.379211  3.263746       4de

                                                geometry
 2130  POLYGON ((-71.73388 46.83244, -71.68755 46.832...
 2279  MULTIPOLYGON (((-71.79027 46.91577, -71.75423 ...
 2281  POLYGON ((-71.75423 46.85593, -71.75423 46.887...
 2283  POLYGON ((-71.67091 46.84132, -71.67091 46.915...
 2285  POLYGON ((-71.58758 46.88066, -71.58758 46.915...
 ...                                                 ...
 7276  POLYGON ((-72.33755 49.08234, -72.33755 49.144...
 7279  POLYGON ((-72.09534 49.08234, -72.11265 49.082...
 7499  POLYGON ((-72.58754 49.17031, -72.58754 49.165...
 7501  POLYGON ((-72.58753 49.16567, -72.58753 49.170...
 7504  POLYGON ((-72.36575 49.16567, -72.37860 49.165...

 [356 rows x 5 columns],            lat        lon   tg_mean TER_GUIDE  \
 2577  47.04076 -71.795898  4.684615       5ef
 2580  47.04076 -71.712570  4.998170       5ef
 2582  47.04076 -71.629242  4.973868       5ef
 2584  47.04076 -71.545914  4.844414       5ef
 2587  47.04076 -71.462578  5.281344       5ef
 ...        ...        ...       ...       ...
 7085  49.04068 -70.462624  2.528078       5ef
 7087  49.04068 -70.379288  2.627065       5ef
 7089  49.04068 -70.295959  2.735000       5ef
 7091  49.04068 -70.212631  2.885189       5ef
 7093  49.04068 -70.129303  2.864404       5ef

                                                geometry
 2577  POLYGON ((-71.77650 47.08243, -71.75423 47.082...
 2580  MULTIPOLYGON (((-71.67318 47.08243, -71.67091 ...
 2582  MULTIPOLYGON (((-71.59227 47.08243, -71.58758 ...
 2584  POLYGON ((-71.58758 47.07961, -71.58758 47.082...
 2587  POLYGON ((-71.50424 47.04583, -71.50424 47.082...
 ...                                                 ...
 7085  POLYGON ((-70.50429 48.99901, -70.50429 49.015...
 7087  POLYGON ((-70.42095 48.99901, -70.42095 49.019...
 7089  POLYGON ((-70.33762 48.99901, -70.33762 49.013...
 7091  POLYGON ((-70.25430 48.99901, -70.25430 49.009...
 7093  POLYGON ((-70.17097 49.00495, -70.17097 49.011...

 [401 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 2604  47.040760 -70.545952  7.312762        4f
 2615  47.040760 -69.879311  5.605830        4f
 2617  47.040760 -69.795982  5.754211        4f
 2619  47.040760 -69.712646  5.611317        4f
 2621  47.040760 -69.629318  5.431726        4f
 ...         ...        ...       ...       ...
 6673  48.874020 -67.379410  5.118400        4f
 6675  48.874020 -67.296082  4.891313        4f
 6677  48.874020 -67.212753  4.587873        4f
 6896  48.957352 -67.296082  5.496264        4f
 6898  48.957352 -67.212753  5.239824        4f

                                                geometry
 2604  POLYGON ((-70.55131 47.08243, -70.52840 47.082...
 2615  POLYGON ((-69.84377 47.08243, -69.83765 47.082...
 2617  POLYGON ((-69.83765 47.07403, -69.83765 47.082...
 2619  MULTIPOLYGON (((-69.71128 47.08243, -69.67098 ...
 2621  POLYGON ((-69.67098 47.06710, -69.67098 47.082...
 ...                                                 ...
 6673  POLYGON ((-67.42107 48.85553, -67.42107 48.880...
 6675  POLYGON ((-67.33775 48.87703, -67.33775 48.911...
 6677  POLYGON ((-67.25442 48.90911, -67.25442 48.915...
 6896  POLYGON ((-67.25442 48.92890, -67.25442 48.915...
 6898  POLYGON ((-67.25442 48.91569, -67.25442 48.928...

 [389 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 2623  47.124088 -79.462257  6.040084        4a
 2625  47.124088 -79.378929  5.898980        4a
 2627  47.124088 -79.295601  5.703601        4a
 2771  47.207420 -79.462257  5.874709        4a
 2772  47.207420 -79.378929  5.913209        4a
 ...         ...        ...       ...       ...
 4596  48.124050 -79.045609  4.539012        4a
 4598  48.124050 -78.962280  4.560457        4a
 4813  48.207378 -79.128937  4.448599        4a
 4815  48.207378 -79.045609  4.505113        4a
 4817  48.207378 -78.962280  4.523464        4a

                                                geometry
 2623  POLYGON ((-79.44652 47.16575, -79.42059 47.165...
 2625  POLYGON ((-79.42059 47.15410, -79.42059 47.165...
 2627  POLYGON ((-79.33237 47.16575, -79.29047 47.165...
 2771  POLYGON ((-79.45147 47.24909, -79.42059 47.249...
 2772  POLYGON ((-79.42059 47.16575, -79.42059 47.249...
 ...                                                 ...
 4596  POLYGON ((-79.08727 48.08238, -79.08727 48.165...
 4598  POLYGON ((-79.00394 48.08238, -79.00394 48.165...
 4813  POLYGON ((-79.08727 48.17824, -79.08727 48.165...
 4815  POLYGON ((-79.08727 48.16571, -79.08727 48.178...
 4817  POLYGON ((-79.00394 48.16571, -79.00394 48.178...

 [139 rows x 5 columns],              lat        lon   tg_mean TER_GUIDE  \
 2914   47.207420 -62.046291  7.477574       5jk
 2915   47.207420 -61.962959  7.418314       5jk
 2916   47.207420 -61.879631  7.560340       5jk
 2917   47.207420 -61.796299  7.601632       5jk
 3062   47.290749 -62.046291  7.458954       5jk
 ...          ...        ...       ...       ...
 10129  50.290630 -62.712929  3.736236       5jk
 10131  50.290630 -62.629601  3.695619       5jk
 10133  50.290630 -62.546268  3.679864       5jk
 10135  50.290630 -62.462940  3.670395       5jk
 10137  50.290630 -62.379608  3.660754       5jk

                                                 geometry
 2914   POLYGON ((-62.00902 47.24909, -62.00463 47.249...
 2915   POLYGON ((-62.00462 47.21898, -62.00462 47.249...
 2916   POLYGON ((-61.92130 47.21385, -61.92130 47.249...
 2917   POLYGON ((-61.83796 47.21636, -61.83796 47.237...
 3062   POLYGON ((-62.00463 47.25364, -62.00463 47.249...
 ...                                                  ...
 10129  POLYGON ((-62.74562 50.27628, -62.74902 50.275...
 10131  POLYGON ((-62.63987 50.27079, -62.63794 50.269...
 10133  POLYGON ((-62.52907 50.26063, -62.52798 50.259...
 10135  POLYGON ((-62.42754 50.26468, -62.42797 50.263...
 10137  MULTIPOLYGON (((-62.40562 50.27378, -62.40617 ...

 [244 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 3129  47.374081 -74.879112  4.233504      5bcd
 3131  47.374081 -74.795776  4.232886      5bcd
 3133  47.374081 -74.712448  4.280849      5bcd
 3278  47.457409 -74.879112  4.074190      5bcd
 3280  47.457409 -74.795776  3.779675      5bcd
 ...         ...        ...       ...       ...
 9258  49.957310 -70.462624  2.094672      5bcd
 9260  49.957310 -70.379288  1.933090      5bcd
 9425  50.040642 -70.712608  2.019651      5bcd
 9427  50.040642 -70.629280  1.947511      5bcd
 9429  50.040642 -70.545952  2.005142      5bcd

                                                geometry
 3129  POLYGON ((-74.90523 47.41575, -74.83745 47.415...
 3131  POLYGON ((-74.83744 47.39025, -74.83744 47.415...
 3133  POLYGON ((-74.75411 47.38405, -74.75411 47.415...
 3278  POLYGON ((-74.83745 47.49780, -74.83745 47.415...
 3280  POLYGON ((-74.83744 47.41574, -74.83744 47.497...
 ...                                                 ...
 9258  POLYGON ((-70.50429 49.91564, -70.50429 49.949...
 9260  MULTIPOLYGON (((-70.34230 49.91564, -70.36132 ...
 9425  POLYGON ((-70.69347 49.99898, -70.74091 49.998...
 9427  POLYGON ((-70.58762 50.02475, -70.58762 49.998...
 9429  POLYGON ((-70.58762 49.99898, -70.58762 50.024...

 [1231 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 3557  47.624069 -77.795662  4.648171        5a
 3559  47.624069 -77.712334  4.606126        5a
 3710  47.707401 -78.378967  4.630247        5a
 3713  47.707401 -78.295639  4.665538        5a
 3717  47.707401 -78.045647  4.652419        5a
 ...         ...        ...       ...       ...
 7809  49.374001 -78.295639  2.955957        5a
 7811  49.374001 -78.212311  3.011159        5a
 7813  49.374001 -78.128983  2.958661        5a
 7992  49.457329 -78.295639  2.942998        5a
 7994  49.457329 -78.212311  2.881576        5a

                                                geometry
 3557  POLYGON ((-77.80282 47.66574, -77.75400 47.665...
 3559  POLYGON ((-77.75400 47.64657, -77.75400 47.665...
 3710  POLYGON ((-78.36578 47.74907, -78.33730 47.749...
 3713  POLYGON ((-78.33730 47.71597, -78.33730 47.749...
 3717  POLYGON ((-78.00997 47.74907, -78.00398 47.749...
 ...                                                 ...
 7809  POLYGON ((-78.25871 49.41567, -78.25397 49.415...
 7811  POLYGON ((-78.25397 49.34172, -78.25397 49.415...
 7813  POLYGON ((-78.17065 49.33233, -78.17065 49.396...
 7992  POLYGON ((-78.25397 49.46243, -78.25397 49.415...
 7994  POLYGON ((-78.25397 49.41566, -78.25397 49.462...

 [552 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 4208  47.874062 -67.379410  5.161401       4gh
 4210  47.874062 -67.296082  5.174011       4gh
 4211  47.874062 -67.212753  5.088341       4gh
 4212  47.874062 -67.129417  5.190715       4gh
 4213  47.874062 -67.046089  5.208739       4gh
 ...         ...        ...       ...       ...
 7768  49.290668 -65.629478  5.625049       4gh
 7769  49.290668 -65.546150  5.589472       4gh
 7770  49.290668 -65.462822  5.576044       4gh
 7771  49.290668 -65.379494  5.710993       4gh
 7772  49.290668 -65.296158  5.831736       4gh

                                                geometry

In [111]:
for tg in listTG2050:
    geometry = tg["geometry"]
    crs = {'init': "epsg:4326"}
    gdf2050 = GeoDataFrame(tg, crs=crs, geometry=geometry)
    #print (gdf['TER_GUIDE'].iloc[0])
    gdf2050.to_file(gdf2050['TER_GUIDE'].iloc[0]+"_2050_tg_mean_annual_rcp45_50.json", driver="GeoJSON")

## Period 2041-2071

In [112]:
listTG2080 = []
for tg in dftg2080TG['TER_GUIDE'].unique().tolist():
    df = dftg2080TG[dftg2080TG.TER_GUIDE == tg]
    print (tg)
    listTG2080.append(df)
listTG2080

1a
2c
3d
2b
2a
3c
3ab
4bc
4de
5ef
4f
4a
5jk
5bcd
5a
4gh
5hi
5g
6cdefg
6hi
6ab
6j
6mn
6kl
6opqr

[            lat        lon    tg_mean TER_GUIDE  \
 0     44.957512 -74.629120  10.221003        1a
 1     44.957512 -74.545792  10.196143        1a
 2     44.957512 -74.462463  10.172487        1a
 3     44.957512 -74.379128  10.157830        1a
 4     44.957512 -74.295799  10.119123        1a
 ...         ...        ...        ...       ...
 1236  46.207458 -72.629204   8.595427        1a
 1345  46.290791 -72.879189   8.456574        1a
 1347  46.290791 -72.795860   8.500412        1a
 1349  46.290791 -72.712532   8.517118        1a
 1351  46.290791 -72.629204   8.513852        1a

                                                geometry
 0     POLYGON ((-74.62590 44.99918, -74.58746 44.999...
 1     POLYGON ((-74.58746 44.99876, -74.58746 44.999...
 2     POLYGON ((-74.50413 44.99784, -74.50413 44.999...
 3     POLYGON ((-74.42079 44.99530, -74.42079 44.999...
 4     POLYGON ((-74.33746 44.99215, -74.33746 44.999...
 ...                                                 ...
 1236  MULTIPOLYGON (((-72.67087 46.23871, -72.67087 ...
 1345  POLYGON ((-72.83752 46.26212, -72.83752 46.249...
 1347  POLYGON ((-72.83752 46.24912, -72.83752 46.262...
 1349  POLYGON ((-72.75420 46.24912, -72.75420 46.280...
 1351  POLYGON ((-72.67087 46.24912, -72.67087 46.279...

 [338 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 31    45.040840 -72.879189  9.602833        2c
 32    45.040840 -72.795860  9.144911        2c
 33    45.040840 -72.712532  8.905242        2c
 34    45.040840 -72.629204  8.899839        2c
 35    45.040840 -72.545868  8.310269        2c
 ...         ...        ...       ...       ...
 921   45.957470 -71.795898  7.701578        2c
 923   45.957470 -71.712570  7.154108        2c
 925   45.957470 -71.629242  7.047174        2c
 927   45.957470 -71.545914  7.100867        2c
 1025  46.040798 -71.879227  8.063068        2c

                                                geometry
 31    POLYGON ((-72.88791 45.08251, -72.83752 45.082...
 32    POLYGON ((-72.83752 45.01554, -72.83752 45.082...
 33    POLYGON ((-72.75420 45.01564, -72.75420 45.082...
 34    POLYGON ((-72.67087 45.01490, -72.67087 45.082...
 35    POLYGON ((-72.58753 45.01170, -72.58753 45.082...
 ...                                                 ...
 921   POLYGON ((-71.83756 45.91580, -71.83756 45.961...
 923   POLYGON ((-71.75423 45.91580, -71.75423 45.941...
 925   POLYGON ((-71.67091 45.91580, -71.67091 45.934...
 927   POLYGON ((-71.58758 45.91668, -71.58758 45.917...
 1025  POLYGON ((-71.88637 45.99913, -71.90353 45.999...

 [166 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 42    45.040840 -71.962563  7.949141        3d
 44    45.040840 -71.879227  7.716302        3d
 46    45.040840 -71.795898  7.983320        3d
 47    45.040840 -71.712570  7.449682        3d
 48    45.040840 -71.629242  7.670622        3d
 ...         ...        ...       ...       ...
 2908  47.207420 -69.879311  6.442980        3d
 3045  47.290749 -70.129303  7.521153        3d
 3048  47.290749 -70.045967  6.720468        3d
 3051  47.290749 -69.962639  6.781274        3d
 3199  47.374081 -69.962639  7.122842        3d

                                                geometry
 42    POLYGON ((-71.92090 45.04695, -71.92090 45.007...
 44    POLYGON ((-71.92089 45.00769, -71.92089 45.046...
 46    POLYGON ((-71.83756 45.00894, -71.83756 45.082...
 47    POLYGON ((-71.75423 45.01039, -71.75423 45.082...
 48    POLYGON ((-71.67091 45.01169, -71.67091 45.082...
 ...                                                 ...
 2908  POLYGON ((-69.92097 47.16575, -69.92097 47.211...
 3045  POLYGON ((-70.08764 47.28270, -70.08764 47.249...
 3048  MULTIPOLYGON (((-70.08763 47.24908, -70.08763 ...
 3051  MULTIPOLYGON (((-70.00430 47.24908, -70.00430 ...
 3199  POLYGON ((-69.99535 47.33241, -69.99967 47.332...

 [367 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 215   45.374161 -72.795860  9.405582        2b
 218   45.374161 -72.712532  9.219076        2b
 280   45.457489 -72.879189  9.346911        2b
 282   45.457489 -72.795860  9.439770        2b
 284   45.457489 -72.712532  9.225282        2b
 ...         ...        ...       ...       ...
 3357  47.457409 -69.795982  6.712947        2b
 3509  47.540741 -69.962639  7.256175        2b
 3510  47.540741 -69.879311  7.263658        2b
 3512  47.540741 -69.795982  7.010229        2b
 3672  47.624069 -69.795982  7.061826        2b

                                                geometry
 215   POLYGON ((-72.78619 45.41583, -72.75420 45.415...
 218   POLYGON ((-72.75420 45.38688, -72.75420 45.415...
 280   POLYGON ((-72.90824 45.49916, -72.83752 45.499...
 282   POLYGON ((-72.83752 45.48522, -72.83752 45.499...
 284   POLYGON ((-72.75420 45.41582, -72.75420 45.499...
 ...                                                 ...
 3357  POLYGON ((-69.83765 47.45559, -69.83765 47.499...
 3509  POLYGON ((-69.92097 47.51493, -69.92097 47.499...
 3510  POLYGON ((-69.92097 47.49907, -69.92097 47.514...
 3512  POLYGON ((-69.83765 47.49907, -69.83765 47.581...
 3672  POLYGON ((-69.80142 47.58240, -69.83675 47.582...

 [388 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 254   45.457489 -75.879066  8.924966        2a
 256   45.457489 -75.795738  9.050750        2a
 320   45.540821 -76.212387  8.880664        2a
 322   45.540821 -76.129059  8.881548        2a
 324   45.540821 -76.045731  8.616880        2a
 ...         ...        ...       ...       ...
 1661  46.540779 -75.962402  7.048604        2a
 1663  46.540779 -75.879066  7.018564        2a
 1785  46.624111 -76.045731  6.915602        2a
 1787  46.624111 -75.962402  7.019619        2a
 1928  46.707439 -76.045731  6.800920        2a

                                                geometry
 254   POLYGON ((-75.90788 45.49916, -75.83740 45.499...
 256   POLYGON ((-75.83740 45.46821, -75.83740 45.499...
 320   POLYGON ((-76.24865 45.58249, -76.17072 45.582...
 322   POLYGON ((-76.17072 45.57753, -76.17072 45.582...
 324   POLYGON ((-76.08739 45.56871, -76.08739 45.582...
 ...                                                 ...
 1661  POLYGON ((-76.00407 46.49911, -76.00407 46.582...
 1663  POLYGON ((-75.92073 46.49911, -75.92073 46.540...
 1785  POLYGON ((-76.03237 46.66578, -76.02053 46.665...
 1787  MULTIPOLYGON (((-75.96239 46.58245, -75.96880 ...
 1928  POLYGON ((-76.02052 46.66577, -76.03239 46.665...

 [143 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 439   45.624149 -74.379128  8.966448        3c
 441   45.624149 -74.295799  8.948257        3c
 531   45.707481 -74.462463  8.136145        3c
 535   45.707481 -74.379128  8.226194        3c
 538   45.707481 -74.295799  8.310442        3c
 ...         ...        ...       ...       ...
 3318  47.457409 -72.462540  5.502985        3c
 3469  47.540741 -72.879189  5.702247        3c
 3471  47.540741 -72.795860  6.131866        3c
 3473  47.540741 -72.712532  5.879798        3c
 3475  47.540741 -72.629204  5.572100        3c

                                                geometry
 439   MULTIPOLYGON (((-74.35539 45.66582, -74.33746 ...
 441   MULTIPOLYGON (((-74.32365 45.66582, -74.31170 ...
 531   POLYGON ((-74.48351 45.74915, -74.42080 45.749...
 535   POLYGON ((-74.42079 45.69341, -74.42079 45.749...
 538   POLYGON ((-74.33746 45.66582, -74.33746 45.749...
 ...                                                 ...
 3318  POLYGON ((-72.50420 47.41574, -72.50420 47.461...
 3469  POLYGON ((-72.83752 47.53468, -72.83752 47.504...
 3471  POLYGON ((-72.83752 47.50417, -72.83752 47.534...
 3473  POLYGON ((-72.75420 47.49907, -72.75420 47.536...
 3475  POLYGON ((-72.62869 47.49907, -72.66899 47.499...

 [356 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 524   45.707481 -74.712448  8.206293       3ab
 526   45.707481 -74.629120  8.033432       3ab
 528   45.707481 -74.545792  7.941949       3ab
 532   45.707481 -74.462463  8.136145       3ab
 603   45.790810 -76.629044  8.249963       3ab
 ...         ...        ...       ...       ...
 2934  47.290749 -78.795624  5.812041       3ab
 2936  47.290749 -78.712288  5.740985       3ab
 3079  47.374081 -78.878952  5.764543       3ab
 3081  47.374081 -78.795624  5.671089       3ab
 3083  47.374081 -78.712288  5.631367       3ab

                                                geometry
 524   POLYGON ((-74.74199 45.74915, -74.67078 45.749...
 526   POLYGON ((-74.67078 45.73512, -74.67078 45.749...
 528   MULTIPOLYGON (((-74.56622 45.74915, -74.50413 ...
 532   POLYGON ((-74.50413 45.73724, -74.50413 45.749...
 603   POLYGON ((-76.64053 45.83248, -76.58738 45.832...
 ...                                                 ...
 2934  POLYGON ((-78.83729 47.24908, -78.83729 47.332...
 2936  POLYGON ((-78.75395 47.24908, -78.75395 47.294...
 3079  POLYGON ((-78.83729 47.33791, -78.83729 47.332...
 3081  POLYGON ((-78.83729 47.33241, -78.83729 47.337...
 3083  POLYGON ((-78.75395 47.34716, -78.75395 47.359...

 [652 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 1763  46.624111 -77.379013  6.714626       4bc
 1765  46.624111 -77.295677  6.640938       4bc
 1770  46.624111 -76.962357  6.560594       4bc
 1773  46.624111 -76.795700  6.266784       4bc
 1775  46.624111 -76.712372  6.159219       4bc
 ...         ...        ...       ...       ...
 4901  48.207378 -72.712532  4.580935       4bc
 4903  48.207378 -72.629204  4.704646       4bc
 4905  48.207378 -72.545868  4.592618       4bc
 5097  48.290710 -72.879189  4.495037       4bc
 5099  48.290710 -72.795860  4.333433       4bc

                                                geometry
 1763  POLYGON ((-77.40222 46.66578, -77.33735 46.665...
 1765  POLYGON ((-77.33734 46.63601, -77.33734 46.665...
 1770  POLYGON ((-76.99712 46.66578, -76.94435 46.665...
 1773  POLYGON ((-76.77471 46.66578, -76.75404 46.665...
 1775  POLYGON ((-76.75404 46.66481, -76.75404 46.665...
 ...                                                 ...
 4901  POLYGON ((-72.67087 48.22031, -72.67087 48.165...
 4903  POLYGON ((-72.67087 48.16571, -72.67087 48.220...
 4905  POLYGON ((-72.58753 48.16571, -72.58753 48.207...
 5097  POLYGON ((-72.83752 48.26189, -72.83752 48.249...
 5099  POLYGON ((-72.83752 48.24904, -72.83752 48.261...

 [1057 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 2130  46.790771 -71.712570  7.346473       4de
 2279  46.874100 -71.795898  7.000540       4de
 2281  46.874100 -71.712570  6.711137       4de
 2283  46.874100 -71.629242  7.034044       4de
 2285  46.874100 -71.545914  7.056233       4de
 ...         ...        ...       ...       ...
 7276  49.124008 -72.295883  4.259449       4de
 7279  49.124008 -72.129219  4.301048       4de
 7499  49.207340 -72.629204  3.910278       4de
 7501  49.207340 -72.545868  3.930332       4de
 7504  49.207340 -72.379211  4.005659       4de

                                                geometry
 2130  POLYGON ((-71.73388 46.83244, -71.68755 46.832...
 2279  MULTIPOLYGON (((-71.79027 46.91577, -71.75423 ...
 2281  POLYGON ((-71.75423 46.85593, -71.75423 46.887...
 2283  POLYGON ((-71.67091 46.84132, -71.67091 46.915...
 2285  POLYGON ((-71.58758 46.88066, -71.58758 46.915...
 ...                                                 ...
 7276  POLYGON ((-72.33755 49.08234, -72.33755 49.144...
 7279  POLYGON ((-72.09534 49.08234, -72.11265 49.082...
 7499  POLYGON ((-72.58754 49.17031, -72.58754 49.165...
 7501  POLYGON ((-72.58753 49.16567, -72.58753 49.170...
 7504  POLYGON ((-72.36575 49.16567, -72.37860 49.165...

 [356 rows x 5 columns],            lat        lon   tg_mean TER_GUIDE  \
 2577  47.04076 -71.795898  5.395578       5ef
 2580  47.04076 -71.712570  5.710792       5ef
 2582  47.04076 -71.629242  5.686478       5ef
 2584  47.04076 -71.545914  5.556588       5ef
 2587  47.04076 -71.462578  5.995802       5ef
 ...        ...        ...       ...       ...
 7085  49.04068 -70.462624  3.258743       5ef
 7087  49.04068 -70.379288  3.358116       5ef
 7089  49.04068 -70.295959  3.466687       5ef
 7091  49.04068 -70.212631  3.618647       5ef
 7093  49.04068 -70.129303  3.598225       5ef

                                                geometry
 2577  POLYGON ((-71.77650 47.08243, -71.75423 47.082...
 2580  MULTIPOLYGON (((-71.67318 47.08243, -71.67091 ...
 2582  MULTIPOLYGON (((-71.59227 47.08243, -71.58758 ...
 2584  POLYGON ((-71.58758 47.07961, -71.58758 47.082...
 2587  POLYGON ((-71.50424 47.04583, -71.50424 47.082...
 ...                                                 ...
 7085  POLYGON ((-70.50429 48.99901, -70.50429 49.015...
 7087  POLYGON ((-70.42095 48.99901, -70.42095 49.019...
 7089  POLYGON ((-70.33762 48.99901, -70.33762 49.013...
 7091  POLYGON ((-70.25430 48.99901, -70.25430 49.009...
 7093  POLYGON ((-70.17097 49.00495, -70.17097 49.011...

 [401 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 2604  47.040760 -70.545952  8.021288        4f
 2615  47.040760 -69.879311  6.308976        4f
 2617  47.040760 -69.795982  6.458104        4f
 2619  47.040760 -69.712646  6.315056        4f
 2621  47.040760 -69.629318  6.135457        4f
 ...         ...        ...       ...       ...
 6673  48.874020 -67.379410  5.869755        4f
 6675  48.874020 -67.296082  5.637618        4f
 6677  48.874020 -67.212753  5.327595        4f
 6896  48.957352 -67.296082  6.249629        4f
 6898  48.957352 -67.212753  5.988122        4f

                                                geometry
 2604  POLYGON ((-70.55131 47.08243, -70.52840 47.082...
 2615  POLYGON ((-69.84377 47.08243, -69.83765 47.082...
 2617  POLYGON ((-69.83765 47.07403, -69.83765 47.082...
 2619  MULTIPOLYGON (((-69.71128 47.08243, -69.67098 ...
 2621  POLYGON ((-69.67098 47.06710, -69.67098 47.082...
 ...                                                 ...
 6673  POLYGON ((-67.42107 48.85553, -67.42107 48.880...
 6675  POLYGON ((-67.33775 48.87703, -67.33775 48.911...
 6677  POLYGON ((-67.25442 48.90911, -67.25442 48.915...
 6896  POLYGON ((-67.25442 48.92890, -67.25442 48.915...
 6898  POLYGON ((-67.25442 48.91569, -67.25442 48.928...

 [389 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 2623  47.124088 -79.462257  6.720258        4a
 2625  47.124088 -79.378929  6.578214        4a
 2627  47.124088 -79.295601  6.381718        4a
 2771  47.207420 -79.462257  6.555022        4a
 2772  47.207420 -79.378929  6.593172        4a
 ...         ...        ...       ...       ...
 4596  48.124050 -79.045609  5.241490        4a
 4598  48.124050 -78.962280  5.263455        4a
 4813  48.207378 -79.128937  5.153112        4a
 4815  48.207378 -79.045609  5.210462        4a
 4817  48.207378 -78.962280  5.229294        4a

                                                geometry
 2623  POLYGON ((-79.44652 47.16575, -79.42059 47.165...
 2625  POLYGON ((-79.42059 47.15410, -79.42059 47.165...
 2627  POLYGON ((-79.33237 47.16575, -79.29047 47.165...
 2771  POLYGON ((-79.45147 47.24909, -79.42059 47.249...
 2772  POLYGON ((-79.42059 47.16575, -79.42059 47.249...
 ...                                                 ...
 4596  POLYGON ((-79.08727 48.08238, -79.08727 48.165...
 4598  POLYGON ((-79.00394 48.08238, -79.00394 48.165...
 4813  POLYGON ((-79.08727 48.17824, -79.08727 48.165...
 4815  POLYGON ((-79.08727 48.16571, -79.08727 48.178...
 4817  POLYGON ((-79.00394 48.16571, -79.00394 48.178...

 [139 rows x 5 columns],              lat        lon   tg_mean TER_GUIDE  \
 2914   47.207420 -62.046291  8.084383       5jk
 2915   47.207420 -61.962959  8.022643       5jk
 2916   47.207420 -61.879631  8.162549       5jk
 2917   47.207420 -61.796299  8.202388       5jk
 3062   47.290749 -62.046291  8.067964       5jk
 ...          ...        ...       ...       ...
 10129  50.290630 -62.712929  4.378251       5jk
 10131  50.290630 -62.629601  4.336185       5jk
 10133  50.290630 -62.546268  4.318835       5jk
 10135  50.290630 -62.462940  4.307721       5jk
 10137  50.290630 -62.379608  4.296130       5jk

                                                 geometry
 2914   POLYGON ((-62.00902 47.24909, -62.00463 47.249...
 2915   POLYGON ((-62.00462 47.21898, -62.00462 47.249...
 2916   POLYGON ((-61.92130 47.21385, -61.92130 47.249...
 2917   POLYGON ((-61.83796 47.21636, -61.83796 47.237...
 3062   POLYGON ((-62.00463 47.25364, -62.00463 47.249...
 ...                                                  ...
 10129  POLYGON ((-62.74562 50.27628, -62.74902 50.275...
 10131  POLYGON ((-62.63987 50.27079, -62.63794 50.269...
 10133  POLYGON ((-62.52907 50.26063, -62.52798 50.259...
 10135  POLYGON ((-62.42754 50.26468, -62.42797 50.263...
 10137  MULTIPOLYGON (((-62.40562 50.27378, -62.40617 ...

 [244 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 3129  47.374081 -74.879112  4.934354      5bcd
 3131  47.374081 -74.795776  4.934633      5bcd
 3133  47.374081 -74.712448  4.983190      5bcd
 3278  47.457409 -74.879112  4.776751      5bcd
 3280  47.457409 -74.795776  4.481497      5bcd
 ...         ...        ...       ...       ...
 9258  49.957310 -70.462624  2.840393      5bcd
 9260  49.957310 -70.379288  2.678377      5bcd
 9425  50.040642 -70.712608  2.765060      5bcd
 9427  50.040642 -70.629280  2.692605      5bcd
 9429  50.040642 -70.545952  2.750766      5bcd

                                                geometry
 3129  POLYGON ((-74.90523 47.41575, -74.83745 47.415...
 3131  POLYGON ((-74.83744 47.39025, -74.83744 47.415...
 3133  POLYGON ((-74.75411 47.38405, -74.75411 47.415...
 3278  POLYGON ((-74.83745 47.49780, -74.83745 47.415...
 3280  POLYGON ((-74.83744 47.41574, -74.83744 47.497...
 ...                                                 ...
 9258  POLYGON ((-70.50429 49.91564, -70.50429 49.949...
 9260  MULTIPOLYGON (((-70.34230 49.91564, -70.36132 ...
 9425  POLYGON ((-70.69347 49.99898, -70.74091 49.998...
 9427  POLYGON ((-70.58762 50.02475, -70.58762 49.998...
 9429  POLYGON ((-70.58762 49.99898, -70.58762 50.024...

 [1231 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 3557  47.624069 -77.795662  5.333525        5a
 3559  47.624069 -77.712334  5.292495        5a
 3710  47.707401 -78.378967  5.316880        5a
 3713  47.707401 -78.295639  5.351824        5a
 3717  47.707401 -78.045647  5.337985        5a
 ...         ...        ...       ...       ...
 7809  49.374001 -78.295639  3.700055        5a
 7811  49.374001 -78.212311  3.754715        5a
 7813  49.374001 -78.128983  3.701272        5a
 7992  49.457329 -78.295639  3.689679        5a
 7994  49.457329 -78.212311  3.627648        5a

                                                geometry
 3557  POLYGON ((-77.80282 47.66574, -77.75400 47.665...
 3559  POLYGON ((-77.75400 47.64657, -77.75400 47.665...
 3710  POLYGON ((-78.36578 47.74907, -78.33730 47.749...
 3713  POLYGON ((-78.33730 47.71597, -78.33730 47.749...
 3717  POLYGON ((-78.00997 47.74907, -78.00398 47.749...
 ...                                                 ...
 7809  POLYGON ((-78.25871 49.41567, -78.25397 49.415...
 7811  POLYGON ((-78.25397 49.34172, -78.25397 49.415...
 7813  POLYGON ((-78.17065 49.33233, -78.17065 49.396...
 7992  POLYGON ((-78.25397 49.46243, -78.25397 49.415...
 7994  POLYGON ((-78.25397 49.41566, -78.25397 49.462...

 [552 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 4208  47.874062 -67.379410  5.879819       4gh
 4210  47.874062 -67.296082  5.889617       4gh
 4211  47.874062 -67.212753  5.800755       4gh
 4212  47.874062 -67.129417  5.901005       4gh
 4213  47.874062 -67.046089  5.916239       4gh
 ...         ...        ...       ...       ...
 7768  49.290668 -65.629478  6.314439       4gh
 7769  49.290668 -65.546150  6.279092       4gh
 7770  49.290668 -65.462822  6.265953       4gh
 7771  49.290668 -65.379494  6.401651       4gh
 7772  49.290668 -65.296158  6.523126       4gh

                                                geometry

In [113]:
for tg in listTG2080:
    geometry = tg["geometry"]
    crs = {'init': "epsg:4326"}
    gdf2080 = GeoDataFrame(tg, crs=crs, geometry=geometry)
    #print (gdf['TER_GUIDE'].iloc[0])
    gdf2080.to_file(gdf2080['TER_GUIDE'].iloc[0]+"_2080_tg_mean_annual_rcp45_50.json", driver="GeoJSON")

# ---- Create GeoJson file for the complete shape----

## Period 2041-2071

In [114]:
geometry = dftg11TG["geometry"]
crs = {'init': "epsg:4326"}
gdf = GeoDataFrame(dftg2050TG, crs=crs, geometry=geometry)
gdf.to_file("TG_2050_tg_mean_annual_rcp45_50.json", driver="GeoJSON")

## Period 2071-2100

In [115]:
geometry = dftg11TG["geometry"]
crs = {'init': "epsg:4326"}
gdf = GeoDataFrame(dftg2080TG, crs=crs, geometry=geometry)
gdf.to_file("TG_2080_tg_mean_annual_rcp45_50.json", driver="GeoJSON")