In [1]:
%load_ext autoreload
%autoreload 2
import xarray as xr
import matplotlib.pyplot as plt
import pandas as pd
import processing_netcdf as pcdf
import geopandas as gpd
from geopandas import GeoDataFrame
import shapely.geometry 
import numpy as np
from shapely import geometry as gmty
from geofeather import to_geofeather, from_geofeather
import glob
import os

In [16]:
#path for 11 models
path = "/home/mlopez/EXEC/tg_annual_rcp85/"

In [17]:
files = list(glob.glob(os.path.join(path,'*.*')))

In [18]:
files

['/home/mlopez/EXEC/tg_annual_rcp85/ACCESS1-3_rcp85_tg_mean_annual.nc',
 '/home/mlopez/EXEC/tg_annual_rcp85/BNU-ESM_rcp85_tg_mean_annual.nc',
 '/home/mlopez/EXEC/tg_annual_rcp85/CanESM2_rcp85_tg_mean_annual.nc',
 '/home/mlopez/EXEC/tg_annual_rcp85/CMCC-CMS_rcp85_tg_mean_annual.nc',
 '/home/mlopez/EXEC/tg_annual_rcp85/GFDL-ESM2M_rcp85_tg_mean_annual.nc',
 '/home/mlopez/EXEC/tg_annual_rcp85/HadGEM2-CC_rcp85_tg_mean_annual.nc',
 '/home/mlopez/EXEC/tg_annual_rcp85/INM-CM4_rcp85_tg_mean_annual.nc',
 '/home/mlopez/EXEC/tg_annual_rcp85/IPSL-CM5A-LR_rcp85_tg_mean_annual.nc',
 '/home/mlopez/EXEC/tg_annual_rcp85/IPSL-CM5B-LR_rcp85_tg_mean_annual.nc',
 '/home/mlopez/EXEC/tg_annual_rcp85/MPI-ESM-LR_rcp85_tg_mean_annual.nc',
 '/home/mlopez/EXEC/tg_annual_rcp85/NorESM1-M_rcp85_tg_mean_annual.nc']

# Create DF of all models

In [19]:
dflist = []

In [20]:
for file in files:
    df = pcdf.load_as_df(file)
    dflist.append(df)

/exec/mlopez/Code/GitHub/processing_netcdf.py:24: RuntimeWarning: Converting a CFTimeIndex with dates from a non-standard calendar, 'noleap', to a pandas.DatetimeIndex, which uses dates from the standard calendar.  This may lead to subtle errors in operations that depend on the length of time between dates.
  ds['time'] = index.to_datetimeindex()
/exec/mlopez/Code/GitHub/processing_netcdf.py:24: RuntimeWarning: Converting a CFTimeIndex with dates from a non-standard calendar, 'noleap', to a pandas.DatetimeIndex, which uses dates from the standard calendar.  This may lead to subtle errors in operations that depend on the length of time between dates.
  ds['time'] = index.to_datetimeindex()
/exec/mlopez/Code/GitHub/processing_netcdf.py:24: RuntimeWarning: Converting a CFTimeIndex with dates from a non-standard calendar, '360_day', to a pandas.DatetimeIndex, which uses dates from the standard calendar.  This may lead to subtle errors in operations that depend on the length of time between dates.
  ds['time'] = index.to_datetimeindex()
/exec/mlopez/Code/GitHub/processing_netcdf.py:24: RuntimeWarning: Converting a CFTimeIndex with dates from a non-standard calendar, 'noleap', to a pandas.DatetimeIndex, which uses dates from the standard calendar.  This may lead to subtle errors in operations that depend on the length of time between dates.
  ds['time'] = index.to_datetimeindex()

In [21]:
dflist

[                                    tg_mean
 lat       lon        time
 66.623306 -89.045212 1950-01-01  258.826111
                      1951-01-01  258.880676
                      1952-01-01  258.705017
                      1953-01-01  258.466431
                      1954-01-01  259.760803
 ...                                     ...
 40.041039 -74.045807 2096-01-01  289.731934
                      2097-01-01  289.322571
                      2098-01-01  290.335632
                      2099-01-01  289.968933
                      2100-01-01  290.880554

 [11507106 rows x 1 columns],                                     tg_mean
 lat       lon        time
 66.623306 -89.045212 1950-01-01  257.977081
                      1951-01-01  256.822937
                      1952-01-01  259.196228
                      1953-01-01  258.807953
                      1954-01-01  257.551300
 ...                                     ...
 40.041039 -74.045807 2096-01-01  292.041168
                      2097-01-01  291.119019
                      2098-01-01  290.571411
                      2099-01-01  290.799957
                      2100-01-01  291.457031

 [11507106 rows x 1 columns],                                     tg_mean
 lat       lon        time
 66.623306 -89.045212 1950-01-01  257.056732
                      1951-01-01  258.383789
                      1952-01-01  258.417816
                      1953-01-01  257.833679
                      1954-01-01  259.165405
 ...                                     ...
 40.041039 -74.045807 2096-01-01  291.589050
                      2097-01-01  292.277771
                      2098-01-01  289.893829
                      2099-01-01  289.808899
                      2100-01-01  290.814392

 [11507106 rows x 1 columns],                                     tg_mean
 lat       lon        time
 66.623306 -89.045212 1950-01-01  257.596771
                      1951-01-01  259.605103
                      1952-01-01  258.634918
                      1953-01-01  258.571075
                      1954-01-01  258.680725
 ...                                     ...
 40.041039 -74.045807 2096-01-01  290.565857
                      2097-01-01  291.491547
                      2098-01-01  291.735809
                      2099-01-01  289.885773
                      2100-01-01  290.674225

 [11507106 rows x 1 columns],                                     tg_mean
 lat       lon        time
 66.623306 -89.045212 1950-01-01  259.411682
                      1951-01-01  257.935394
                      1952-01-01  258.461487
                      1953-01-01  259.114044
                      1954-01-01  259.430817
 ...                                     ...
 40.041039 -74.045807 2096-01-01  289.719452
                      2097-01-01  289.080017
                      2098-01-01  288.290466
                      2099-01-01  289.418976
                      2100-01-01  288.574921

 [11507106 rows x 1 columns],                                     tg_mean
 lat       lon        time
 66.623306 -89.045212 1950-01-01  256.872711
                      1951-01-01  257.750366
                      1952-01-01  257.158539
                      1953-01-01  258.250153
                      1954-01-01  258.513580
 ...                                     ...
 40.041039 -74.045807 2096-01-01  291.935669
                      2097-01-01  290.829437
                      2098-01-01  291.806458
                      2099-01-01  291.777863
                      2100-01-01  291.133606

 [11507106 rows x 1 columns],                                     tg_mean
 lat       lon        time
 66.623306 -89.045212 1950-01-01  258.604523
                      1951-01-01  258.083740
                      1952-01-01  259.110260
                      1953-01-01  259.158997
                      1954-01-01  260.310822
 ...                                     ...
 40.041039 -74.045807 2096-01-01  288.572540
                      2097-01-01  288.352539
                      2098-01-01  287.122894
                      2099-01-01  288.404083
                      2100-01-01  287.363434

 [11507106 rows x 1 columns],                                     tg_mean
 lat       lon        time
 66.623306 -89.045212 1950-01-01  259.795502
                      1951-01-01  258.890198
                      1952-01-01  257.335602
                      1953-01-01  259.779785
                      1954-01-01  258.837372
 ...                                     ...
 40.041039 -74.045807 2096-01-01  290.980560
                      2097-01-01  291.779266
                      2098-01-01  291.297119
                      2099-01-01  291.091431
                      2100-01-01  291.120087

 [11507106 rows x 1 columns],                                     tg_mean
 lat       lon        time
 66.623306 -89.045212 1950-01-01  260.095032
                      1951-01-01  258.427429
                      1952-01-01  259.648743
                      1953-01-01  259.167938
                      1954-01-01  260.001831
 ...                                     ...
 40.041039 -74.045807 2096-01-01  292.025970
                      2097-01-01  290.811249
                      2098-01-01  291.293610
                      2099-01-01  290.482391
                      2100-01-01  291.263489

 [11507106 rows x 1 columns],                                     tg_mean
 lat       lon        time
 66.623306 -89.045212 1950-01-01  258.643677
                      1951-01-01  256.838013
                      1952-01-01  256.547821
                      1953-01-01  256.546295
                      1954-01-01  259.227539
 ...                                     ...
 40.041039 -74.045807 2096-01-01  289.641998
                      2097-01-01  290.072906
                      2098-01-01  290.388062
                      2099-01-01  290.153625
                      2100-01-01  290.553467

 [11507106 rows x 1 columns],                                     tg_mean
 lat       lon        time
 66.623306 -89.045212 1950-01-01  260.487122
                      1951-01-01  259.087128
                      1952-01-01  258.688416
                      1953-01-01  257.983765
                      1954-01-01  259.069092
 ...                                     ...
 40.041039 -74.045807 2096-01-01  289.984100
                      2097-01-01  290.481293
                      2098-01-01  290.068420
                      2099-01-01  290.675110
                      2100-01-01  290.421906

 [11507106 rows x 1 columns]]

In [22]:
#Takes 3 min
%time df11 = pd.concat(dflist)

CPU times: user 1min 5s, sys: 5min 53s, total: 6min 59s
Wall time: 31.1 s

In [23]:
df11

                                    tg_mean
lat       lon        time
66.623306 -89.045212 1950-01-01  258.826111
                     1951-01-01  258.880676
                     1952-01-01  258.705017
                     1953-01-01  258.466431
                     1954-01-01  259.760803
...                                     ...
40.041039 -74.045807 2096-01-01  289.984100
                     2097-01-01  290.481293
                     2098-01-01  290.068420
                     2099-01-01  290.675110
                     2100-01-01  290.421906

[126578166 rows x 1 columns]

In [24]:
dftgm = df11.reset_index()

In [25]:
dftgm

                 lat        lon       time     tg_mean
0          66.623306 -89.045212 1950-01-01  258.826111
1          66.623306 -89.045212 1951-01-01  258.880676
2          66.623306 -89.045212 1952-01-01  258.705017
3          66.623306 -89.045212 1953-01-01  258.466431
4          66.623306 -89.045212 1954-01-01  259.760803
...              ...        ...        ...         ...
126578161  40.041039 -74.045807 2096-01-01  289.984100
126578162  40.041039 -74.045807 2097-01-01  290.481293
126578163  40.041039 -74.045807 2098-01-01  290.068420
126578164  40.041039 -74.045807 2099-01-01  290.675110
126578165  40.041039 -74.045807 2100-01-01  290.421906

[126578166 rows x 4 columns]

# Get the mean for 11 models

In [26]:
#Takes 48s
%time dftgm2 = dftgm.groupby(["lat", "lon", "time"]).mean()

CPU times: user 1min 6s, sys: 3min 37s, total: 4min 43s
Wall time: 1min 10s

In [27]:
dftgm2

                                    tg_mean
lat       lon        time
40.041039 -89.045212 1950-01-01  284.527740
                     1951-01-01  284.319031
                     1952-01-01  284.219299
                     1953-01-01  284.076569
                     1954-01-01  284.236328
...                                     ...
66.623306 -61.296322 2096-01-01  270.468384
                     2097-01-01  270.841522
                     2098-01-01  270.916290
                     2099-01-01  270.619659
                     2100-01-01  271.236176

[11507106 rows x 1 columns]

# Transform temp to Celsius

In [28]:
dfC = dftgm2.copy()
dfC["tg_mean"] = dfC["tg_mean"] -273.15

# Define 3 periods of time:

In [29]:
year_groups = {y:0 for y in range(1980,2011)}
year_groups.update({y:1 for y in range(2041,2071)})
year_groups.update({y:2 for y in range(2071,2101)})
#Get the mean of every period
dfC2 = dfC.reset_index()
dfp = dfC2.groupby([dfC2.time.dt.year.map(year_groups), "lat","lon"]).mean()

In [30]:
dfp.reset_index()

        time        lat        lon    tg_mean
0        0.0  40.041039 -89.045212  11.588665
1        0.0  40.041039 -88.961884  11.569731
2        0.0  40.041039 -88.878548  11.559522
3        0.0  40.041039 -88.795219  11.539219
4        0.0  40.041039 -88.711891  11.556223
...      ...        ...        ...        ...
228613   2.0  66.623306 -61.629639  -3.941922
228614   2.0  66.623306 -61.546310  -4.263534
228615   2.0  66.623306 -61.462978  -4.064792
228616   2.0  66.623306 -61.379650  -4.003588
228617   2.0  66.623306 -61.296322  -3.411349

[228618 rows x 4 columns]

# Period 2041-2071

In [31]:
df2050 = dfp.query("time==1.0")
df2050.reset_index()

       time        lat        lon    tg_mean
0       1.0  40.041039 -89.045212  14.524052
1       1.0  40.041039 -88.961884  14.506697
2       1.0  40.041039 -88.878548  14.497858
3       1.0  40.041039 -88.795219  14.477720
4       1.0  40.041039 -88.711891  14.497208
...     ...        ...        ...        ...
76201   1.0  66.623306 -61.629639  -6.319748
76202   1.0  66.623306 -61.546310  -6.631722
76203   1.0  66.623306 -61.462978  -6.425197
76204   1.0  66.623306 -61.379650  -6.355822
76205   1.0  66.623306 -61.296322  -5.755833

[76206 rows x 4 columns]

# Period 2071-2100

In [32]:
df2080 = dfp.query("time==2.0")
df2080.reset_index()

       time        lat        lon    tg_mean
0       2.0  40.041039 -89.045212  16.489874
1       2.0  40.041039 -88.961884  16.473457
2       2.0  40.041039 -88.878548  16.465921
3       2.0  40.041039 -88.795219  16.446129
4       2.0  40.041039 -88.711891  16.467459
...     ...        ...        ...        ...
76201   2.0  66.623306 -61.629639  -3.941922
76202   2.0  66.623306 -61.546310  -4.263534
76203   2.0  66.623306 -61.462978  -4.064792
76204   2.0  66.623306 -61.379650  -4.003588
76205   2.0  66.623306 -61.296322  -3.411349

[76206 rows x 4 columns]

## Import dataframe with polygons

In [33]:
dfpolyshape = from_geofeather('Grid-TerritoiresGuides.feather')

/home/mlopez/EXEC/anaconda3/envs/python37-2/lib/python3.8/site-packages/geofeather/core.py:85: UserWarning: Grid-TerritoiresGuides.feather.crs coordinate reference system file is missing. No crs will be set for this GeoDataFrame.
  warnings.warn(

In [34]:
dfpolyshape

,lat,lon,TER_GUIDE,geometry
0,52.957191,-67.712730,6opqr,"POLYGON ((-67.67107 52.93424, -67.67107 52.915..."
1,52.957191,-67.629402,6opqr,"POLYGON ((-67.67107 52.91553, -67.67107 52.934..."
2,52.957191,-67.546066,6opqr,"POLYGON ((-67.56730 52.91553, -67.57974 52.915..."
3,52.873859,-67.796059,6opqr,"POLYGON ((-67.75439 52.89329, -67.75439 52.832..."
4,52.873859,-67.712730,6opqr,"POLYGON ((-67.75439 52.83219, -67.75439 52.893..."
...,...,...,...,...
33193,45.041668,-72.208336,2c,"POLYGON ((-72.25000 45.00450, -72.25000 45.083..."
33194,45.041668,-72.125000,2c,"POLYGON ((-72.16666 45.00508, -72.16666 45.083..."
33195,45.041668,-72.041672,2c,"POLYGON ((-72.08334 45.00564, -72.08334 45.083..."
33196,45.041668,-71.958336,2c,"POLYGON ((-72.00000 45.00667, -72.00000 45.083..."
33197,45.041668,-71.875000,2c,"POLYGON ((-71.91666 45.04812, -71.91666 45.083..."

# Merge data with mask

## Period 2041-2071

In [35]:
dftg2050TG = pd.merge(df2050, dfpolyshape, on=["lat","lon"])
dftg2050TG

,lat,lon,tg_mean,TER_GUIDE,geometry
0,44.957512,-74.629120,10.454852,1a,"POLYGON ((-74.62590 44.99918, -74.58746 44.999..."
1,44.957512,-74.545792,10.429601,1a,"POLYGON ((-74.58746 44.99876, -74.58746 44.999..."
2,44.957512,-74.462463,10.405848,1a,"POLYGON ((-74.50413 44.99784, -74.50413 44.999..."
3,44.957512,-74.379128,10.391270,1a,"POLYGON ((-74.42079 44.99530, -74.42079 44.999..."
4,44.957512,-74.295799,10.352727,1a,"POLYGON ((-74.33746 44.99215, -74.33746 44.999..."
...,...,...,...,...,...
16563,52.873859,-67.629402,0.235736,6opqr,"POLYGON ((-67.67107 52.83219, -67.67107 52.915..."
16564,52.873859,-67.546066,0.285438,6opqr,"POLYGON ((-67.58773 52.83219, -67.58773 52.904..."
16565,52.957191,-67.712730,0.099810,6opqr,"POLYGON ((-67.67107 52.93424, -67.67107 52.915..."
16566,52.957191,-67.629402,0.198478,6opqr,"POLYGON ((-67.67107 52.91553, -67.67107 52.934..."
16567,52.957191,-67.546066,0.210527,6opqr,"POLYGON ((-67.56730 52.91553, -67.57974 52.915..."

## Period 2071-2100

In [36]:
dftg2080TG = pd.merge(df2080, dfpolyshape, on=["lat","lon"])
dftg2080TG

,lat,lon,tg_mean,TER_GUIDE,geometry
0,44.957512,-74.629120,12.741622,1a,"POLYGON ((-74.62590 44.99918, -74.58746 44.999..."
1,44.957512,-74.545792,12.717044,1a,"POLYGON ((-74.58746 44.99876, -74.58746 44.999..."
2,44.957512,-74.462463,12.693558,1a,"POLYGON ((-74.50413 44.99784, -74.50413 44.999..."
3,44.957512,-74.379128,12.679183,1a,"POLYGON ((-74.42079 44.99530, -74.42079 44.999..."
4,44.957512,-74.295799,12.640734,1a,"POLYGON ((-74.33746 44.99215, -74.33746 44.999..."
...,...,...,...,...,...
16563,52.873859,-67.629402,2.868908,6opqr,"POLYGON ((-67.67107 52.83219, -67.67107 52.915..."
16564,52.873859,-67.546066,2.917686,6opqr,"POLYGON ((-67.58773 52.83219, -67.58773 52.904..."
16565,52.957191,-67.712730,2.736932,6opqr,"POLYGON ((-67.67107 52.93424, -67.67107 52.915..."
16566,52.957191,-67.629402,2.834848,6opqr,"POLYGON ((-67.67107 52.91553, -67.67107 52.934..."
16567,52.957191,-67.546066,2.845838,6opqr,"POLYGON ((-67.56730 52.91553, -67.57974 52.915..."

# Create GeoJson for each territory

## Period 2041-2071

In [37]:
listTG2050 = []
for tg in dftg2050TG['TER_GUIDE'].unique().tolist():
    df = dftg2050TG[dftg2050TG.TER_GUIDE == tg]
    print (tg)
    listTG2050.append(df)
listTG2050

1a
2c
3d
2b
2a
3c
3ab
4bc
4de
5ef
4f
4a
5jk
5bcd
5a
4gh
5hi
5g
6cdefg
6hi
6ab
6j
6mn
6kl
6opqr

[            lat        lon    tg_mean TER_GUIDE  \
 0     44.957512 -74.629120  10.454852        1a
 1     44.957512 -74.545792  10.429601        1a
 2     44.957512 -74.462463  10.405848        1a
 3     44.957512 -74.379128  10.391270        1a
 4     44.957512 -74.295799  10.352727        1a
 ...         ...        ...        ...       ...
 1236  46.207458 -72.629204   8.826795        1a
 1345  46.290791 -72.879189   8.688724        1a
 1347  46.290791 -72.795860   8.732653        1a
 1349  46.290791 -72.712532   8.749599        1a
 1351  46.290791 -72.629204   8.747013        1a

                                                geometry
 0     POLYGON ((-74.62590 44.99918, -74.58746 44.999...
 1     POLYGON ((-74.58746 44.99876, -74.58746 44.999...
 2     POLYGON ((-74.50413 44.99784, -74.50413 44.999...
 3     POLYGON ((-74.42079 44.99530, -74.42079 44.999...
 4     POLYGON ((-74.33746 44.99215, -74.33746 44.999...
 ...                                                 ...
 1236  MULTIPOLYGON (((-72.67087 46.23871, -72.67087 ...
 1345  POLYGON ((-72.83752 46.26212, -72.83752 46.249...
 1347  POLYGON ((-72.83752 46.24912, -72.83752 46.262...
 1349  POLYGON ((-72.75420 46.24912, -72.75420 46.280...
 1351  POLYGON ((-72.67087 46.24912, -72.67087 46.279...

 [338 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 31    45.040840 -72.879189  9.841063        2c
 32    45.040840 -72.795860  9.385221        2c
 33    45.040840 -72.712532  9.146932        2c
 34    45.040840 -72.629204  9.142178        2c
 35    45.040840 -72.545868  8.554193        2c
 ...         ...        ...       ...       ...
 921   45.957470 -71.795898  7.943736        2c
 923   45.957470 -71.712570  7.398349        2c
 925   45.957470 -71.629242  7.293090        2c
 927   45.957470 -71.545914  7.348290        2c
 1025  46.040798 -71.879227  8.303416        2c

                                                geometry
 31    POLYGON ((-72.88791 45.08251, -72.83752 45.082...
 32    POLYGON ((-72.83752 45.01554, -72.83752 45.082...
 33    POLYGON ((-72.75420 45.01564, -72.75420 45.082...
 34    POLYGON ((-72.67087 45.01490, -72.67087 45.082...
 35    POLYGON ((-72.58753 45.01170, -72.58753 45.082...
 ...                                                 ...
 921   POLYGON ((-71.83756 45.91580, -71.83756 45.961...
 923   POLYGON ((-71.75423 45.91580, -71.75423 45.941...
 925   POLYGON ((-71.67091 45.91580, -71.67091 45.934...
 927   POLYGON ((-71.58758 45.91668, -71.58758 45.917...
 1025  POLYGON ((-71.88637 45.99913, -71.90353 45.999...

 [166 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 42    45.040840 -71.962563  8.200639        3d
 44    45.040840 -71.879227  7.969210        3d
 46    45.040840 -71.795898  8.237164        3d
 47    45.040840 -71.712570  7.704703        3d
 48    45.040840 -71.629242  7.926579        3d
 ...         ...        ...       ...       ...
 2908  47.207420 -69.879311  6.718901        3d
 3045  47.290749 -70.129303  7.799848        3d
 3048  47.290749 -70.045967  6.998779        3d
 3051  47.290749 -69.962639  7.058600        3d
 3199  47.374081 -69.962639  7.399797        3d

                                                geometry
 42    POLYGON ((-71.92090 45.04695, -71.92090 45.007...
 44    POLYGON ((-71.92089 45.00769, -71.92089 45.046...
 46    POLYGON ((-71.83756 45.00894, -71.83756 45.082...
 47    POLYGON ((-71.75423 45.01039, -71.75423 45.082...
 48    POLYGON ((-71.67091 45.01169, -71.67091 45.082...
 ...                                                 ...
 2908  POLYGON ((-69.92097 47.16575, -69.92097 47.211...
 3045  POLYGON ((-70.08764 47.28270, -70.08764 47.249...
 3048  MULTIPOLYGON (((-70.08763 47.24908, -70.08763 ...
 3051  MULTIPOLYGON (((-70.00430 47.24908, -70.00430 ...
 3199  POLYGON ((-69.99535 47.33241, -69.99967 47.332...

 [367 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 215   45.374161 -72.795860  9.637988        2b
 218   45.374161 -72.712532  9.452521        2b
 280   45.457489 -72.879189  9.578019        2b
 282   45.457489 -72.795860  9.671114        2b
 284   45.457489 -72.712532  9.457609        2b
 ...         ...        ...       ...       ...
 3357  47.457409 -69.795982  6.987277        2b
 3509  47.540741 -69.962639  7.531981        2b
 3510  47.540741 -69.879311  7.538119        2b
 3512  47.540741 -69.795982  7.283694        2b
 3672  47.624069 -69.795982  7.335599        2b

                                                geometry
 215   POLYGON ((-72.78619 45.41583, -72.75420 45.415...
 218   POLYGON ((-72.75420 45.38688, -72.75420 45.415...
 280   POLYGON ((-72.90824 45.49916, -72.83752 45.499...
 282   POLYGON ((-72.83752 45.48522, -72.83752 45.499...
 284   POLYGON ((-72.75420 45.41582, -72.75420 45.499...
 ...                                                 ...
 3357  POLYGON ((-69.83765 47.45559, -69.83765 47.499...
 3509  POLYGON ((-69.92097 47.51493, -69.92097 47.499...
 3510  POLYGON ((-69.92097 47.49907, -69.92097 47.514...
 3512  POLYGON ((-69.83765 47.49907, -69.83765 47.581...
 3672  POLYGON ((-69.80142 47.58240, -69.83675 47.582...

 [388 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 254   45.457489 -75.879066  9.173223        2a
 256   45.457489 -75.795738  9.297836        2a
 320   45.540821 -76.212387  9.136626        2a
 322   45.540821 -76.129059  9.135899        2a
 324   45.540821 -76.045731  8.869555        2a
 ...         ...        ...       ...       ...
 1661  46.540779 -75.962402  7.321012        2a
 1663  46.540779 -75.879066  7.290729        2a
 1785  46.624111 -76.045731  7.189639        2a
 1787  46.624111 -75.962402  7.293619        2a
 1928  46.707439 -76.045731  7.076617        2a

                                                geometry
 254   POLYGON ((-75.90788 45.49916, -75.83740 45.499...
 256   POLYGON ((-75.83740 45.46821, -75.83740 45.499...
 320   POLYGON ((-76.24865 45.58249, -76.17072 45.582...
 322   POLYGON ((-76.17072 45.57753, -76.17072 45.582...
 324   POLYGON ((-76.08739 45.56871, -76.08739 45.582...
 ...                                                 ...
 1661  POLYGON ((-76.00407 46.49911, -76.00407 46.582...
 1663  POLYGON ((-75.92073 46.49911, -75.92073 46.540...
 1785  POLYGON ((-76.03237 46.66578, -76.02053 46.665...
 1787  MULTIPOLYGON (((-75.96239 46.58245, -75.96880 ...
 1928  POLYGON ((-76.02052 46.66577, -76.03239 46.665...

 [143 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 439   45.624149 -74.379128  9.197497        3c
 441   45.624149 -74.295799  9.177237        3c
 531   45.707481 -74.462463  8.370830        3c
 535   45.707481 -74.379128  8.459210        3c
 538   45.707481 -74.295799  8.541669        3c
 ...         ...        ...       ...       ...
 3318  47.457409 -72.462540  5.785646        3c
 3469  47.540741 -72.879189  5.985823        3c
 3471  47.540741 -72.795860  6.415160        3c
 3473  47.540741 -72.712532  6.163618        3c
 3475  47.540741 -72.629204  5.856263        3c

                                                geometry
 439   MULTIPOLYGON (((-74.35539 45.66582, -74.33746 ...
 441   MULTIPOLYGON (((-74.32365 45.66582, -74.31170 ...
 531   POLYGON ((-74.48351 45.74915, -74.42080 45.749...
 535   POLYGON ((-74.42079 45.69341, -74.42079 45.749...
 538   POLYGON ((-74.33746 45.66582, -74.33746 45.749...
 ...                                                 ...
 3318  POLYGON ((-72.50420 47.41574, -72.50420 47.461...
 3469  POLYGON ((-72.83752 47.53468, -72.83752 47.504...
 3471  POLYGON ((-72.83752 47.50417, -72.83752 47.534...
 3473  POLYGON ((-72.75420 47.49907, -72.75420 47.536...
 3475  POLYGON ((-72.62869 47.49907, -72.66899 47.499...

 [356 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 524   45.707481 -74.712448  8.446186       3ab
 526   45.707481 -74.629120  8.271885       3ab
 528   45.707481 -74.545792  8.178717       3ab
 532   45.707481 -74.462463  8.370830       3ab
 603   45.790810 -76.629044  8.509423       3ab
 ...         ...        ...       ...       ...
 2934  47.290749 -78.795624  6.095657       3ab
 2936  47.290749 -78.712288  6.024363       3ab
 3079  47.374081 -78.878952  6.047488       3ab
 3081  47.374081 -78.795624  5.954454       3ab
 3083  47.374081 -78.712288  5.914906       3ab

                                                geometry
 524   POLYGON ((-74.74199 45.74915, -74.67078 45.749...
 526   POLYGON ((-74.67078 45.73512, -74.67078 45.749...
 528   MULTIPOLYGON (((-74.56622 45.74915, -74.50413 ...
 532   POLYGON ((-74.50413 45.73724, -74.50413 45.749...
 603   POLYGON ((-76.64053 45.83248, -76.58738 45.832...
 ...                                                 ...
 2934  POLYGON ((-78.83729 47.24908, -78.83729 47.332...
 2936  POLYGON ((-78.75395 47.24908, -78.75395 47.294...
 3079  POLYGON ((-78.83729 47.33791, -78.83729 47.332...
 3081  POLYGON ((-78.83729 47.33241, -78.83729 47.337...
 3083  POLYGON ((-78.75395 47.34716, -78.75395 47.359...

 [652 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 1763  46.624111 -77.379013  6.985652       4bc
 1765  46.624111 -77.295677  6.911622       4bc
 1770  46.624111 -76.962357  6.830315       4bc
 1773  46.624111 -76.795700  6.537040       4bc
 1775  46.624111 -76.712372  6.429756       4bc
 ...         ...        ...       ...       ...
 4901  48.207378 -72.712532  4.867972       4bc
 4903  48.207378 -72.629204  4.991544       4bc
 4905  48.207378 -72.545868  4.879551       4bc
 5097  48.290710 -72.879189  4.783008       4bc
 5099  48.290710 -72.795860  4.621266       4bc

                                                geometry
 1763  POLYGON ((-77.40222 46.66578, -77.33735 46.665...
 1765  POLYGON ((-77.33734 46.63601, -77.33734 46.665...
 1770  POLYGON ((-76.99712 46.66578, -76.94435 46.665...
 1773  POLYGON ((-76.77471 46.66578, -76.75404 46.665...
 1775  POLYGON ((-76.75404 46.66481, -76.75404 46.665...
 ...                                                 ...
 4901  POLYGON ((-72.67087 48.22031, -72.67087 48.165...
 4903  POLYGON ((-72.67087 48.16571, -72.67087 48.220...
 4905  POLYGON ((-72.58753 48.16571, -72.58753 48.207...
 5097  POLYGON ((-72.83752 48.26189, -72.83752 48.249...
 5099  POLYGON ((-72.83752 48.24904, -72.83752 48.261...

 [1057 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 2130  46.790771 -71.712570  7.609223       4de
 2279  46.874100 -71.795898  7.265122       4de
 2281  46.874100 -71.712570  6.976808       4de
 2283  46.874100 -71.629242  7.299694       4de
 2285  46.874100 -71.545914  7.322856       4de
 ...         ...        ...       ...       ...
 7276  49.124008 -72.295883  4.544841       4de
 7279  49.124008 -72.129219  4.585806       4de
 7499  49.207340 -72.629204  4.195753       4de
 7501  49.207340 -72.545868  4.215642       4de
 7504  49.207340 -72.379211  4.290763       4de

                                                geometry
 2130  POLYGON ((-71.73388 46.83244, -71.68755 46.832...
 2279  MULTIPOLYGON (((-71.79027 46.91577, -71.75423 ...
 2281  POLYGON ((-71.75423 46.85593, -71.75423 46.887...
 2283  POLYGON ((-71.67091 46.84132, -71.67091 46.915...
 2285  POLYGON ((-71.58758 46.88066, -71.58758 46.915...
 ...                                                 ...
 7276  POLYGON ((-72.33755 49.08234, -72.33755 49.144...
 7279  POLYGON ((-72.09534 49.08234, -72.11265 49.082...
 7499  POLYGON ((-72.58754 49.17031, -72.58754 49.165...
 7501  POLYGON ((-72.58753 49.16567, -72.58753 49.170...
 7504  POLYGON ((-72.36575 49.16567, -72.37860 49.165...

 [356 rows x 5 columns],            lat        lon   tg_mean TER_GUIDE  \
 2577  47.04076 -71.795898  5.667189       5ef
 2580  47.04076 -71.712570  5.982285       5ef
 2582  47.04076 -71.629242  5.958504       5ef
 2584  47.04076 -71.545914  5.829520       5ef
 2587  47.04076 -71.462578  6.268542       5ef
 ...        ...        ...       ...       ...
 7085  49.04068 -70.462624  3.543447       5ef
 7087  49.04068 -70.379288  3.642202       5ef
 7089  49.04068 -70.295959  3.750188       5ef
 7091  49.04068 -70.212631  3.901212       5ef
 7093  49.04068 -70.129303  3.880288       5ef

                                                geometry
 2577  POLYGON ((-71.77650 47.08243, -71.75423 47.082...
 2580  MULTIPOLYGON (((-71.67318 47.08243, -71.67091 ...
 2582  MULTIPOLYGON (((-71.59227 47.08243, -71.58758 ...
 2584  POLYGON ((-71.58758 47.07961, -71.58758 47.082...
 2587  POLYGON ((-71.50424 47.04583, -71.50424 47.082...
 ...                                                 ...
 7085  POLYGON ((-70.50429 48.99901, -70.50429 49.015...
 7087  POLYGON ((-70.42095 48.99901, -70.42095 49.019...
 7089  POLYGON ((-70.33762 48.99901, -70.33762 49.013...
 7091  POLYGON ((-70.25430 48.99901, -70.25430 49.009...
 7093  POLYGON ((-70.17097 49.00495, -70.17097 49.011...

 [401 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 2604  47.040760 -70.545952  8.300699        4f
 2615  47.040760 -69.879311  6.585037        4f
 2617  47.040760 -69.795982  6.733648        4f
 2619  47.040760 -69.712646  6.590256        4f
 2621  47.040760 -69.629318  6.410486        4f
 ...         ...        ...       ...       ...
 6673  48.874020 -67.379410  6.126159        4f
 6675  48.874020 -67.296082  5.894710        4f
 6677  48.874020 -67.212753  5.585438        4f
 6896  48.957352 -67.296082  6.506693        4f
 6898  48.957352 -67.212753  6.245590        4f

                                                geometry
 2604  POLYGON ((-70.55131 47.08243, -70.52840 47.082...
 2615  POLYGON ((-69.84377 47.08243, -69.83765 47.082...
 2617  POLYGON ((-69.83765 47.07403, -69.83765 47.082...
 2619  MULTIPOLYGON (((-69.71128 47.08243, -69.67098 ...
 2621  POLYGON ((-69.67098 47.06710, -69.67098 47.082...
 ...                                                 ...
 6673  POLYGON ((-67.42107 48.85553, -67.42107 48.880...
 6675  POLYGON ((-67.33775 48.87703, -67.33775 48.911...
 6677  POLYGON ((-67.25442 48.90911, -67.25442 48.915...
 6896  POLYGON ((-67.25442 48.92890, -67.25442 48.915...
 6898  POLYGON ((-67.25442 48.91569, -67.25442 48.928...

 [389 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 2623  47.124088 -79.462257  7.003156        4a
 2625  47.124088 -79.378929  6.861626        4a
 2627  47.124088 -79.295601  6.665637        4a
 2771  47.207420 -79.462257  6.837909        4a
 2772  47.207420 -79.378929  6.876017        4a
 ...         ...        ...       ...       ...
 4596  48.124050 -79.045609  5.511910        4a
 4598  48.124050 -78.962280  5.533467        4a
 4813  48.207378 -79.128937  5.421831        4a
 4815  48.207378 -79.045609  5.478508        4a
 4817  48.207378 -78.962280  5.496652        4a

                                                geometry
 2623  POLYGON ((-79.44652 47.16575, -79.42059 47.165...
 2625  POLYGON ((-79.42059 47.15410, -79.42059 47.165...
 2627  POLYGON ((-79.33237 47.16575, -79.29047 47.165...
 2771  POLYGON ((-79.45147 47.24909, -79.42059 47.249...
 2772  POLYGON ((-79.42059 47.16575, -79.42059 47.249...
 ...                                                 ...
 4596  POLYGON ((-79.08727 48.08238, -79.08727 48.165...
 4598  POLYGON ((-79.00394 48.08238, -79.00394 48.165...
 4813  POLYGON ((-79.08727 48.17824, -79.08727 48.165...
 4815  POLYGON ((-79.08727 48.16571, -79.08727 48.178...
 4817  POLYGON ((-79.00394 48.16571, -79.00394 48.178...

 [139 rows x 5 columns],              lat        lon   tg_mean TER_GUIDE  \
 2914   47.207420 -62.046291  8.237102       5jk
 2915   47.207420 -61.962959  8.173642       5jk
 2916   47.207420 -61.879631  8.311877       5jk
 2917   47.207420 -61.796299  8.350752       5jk
 3062   47.290749 -62.046291  8.220412       5jk
 ...          ...        ...       ...       ...
 10129  50.290630 -62.712929  4.613494       5jk
 10131  50.290630 -62.629601  4.570285       5jk
 10133  50.290630 -62.546268  4.551992       5jk
 10135  50.290630 -62.462940  4.539787       5jk
 10137  50.290630 -62.379608  4.527109       5jk

                                                 geometry
 2914   POLYGON ((-62.00902 47.24909, -62.00463 47.249...
 2915   POLYGON ((-62.00462 47.21898, -62.00462 47.249...
 2916   POLYGON ((-61.92130 47.21385, -61.92130 47.249...
 2917   POLYGON ((-61.83796 47.21636, -61.83796 47.237...
 3062   POLYGON ((-62.00463 47.25364, -62.00463 47.249...
 ...                                                  ...
 10129  POLYGON ((-62.74562 50.27628, -62.74902 50.275...
 10131  POLYGON ((-62.63987 50.27079, -62.63794 50.269...
 10133  POLYGON ((-62.52907 50.26063, -62.52798 50.259...
 10135  POLYGON ((-62.42754 50.26468, -62.42797 50.263...
 10137  MULTIPOLYGON (((-62.40562 50.27378, -62.40617 ...

 [244 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 3129  47.374081 -74.879112  5.209501      5bcd
 3131  47.374081 -74.795776  5.208078      5bcd
 3133  47.374081 -74.712448  5.255997      5bcd
 3278  47.457409 -74.879112  5.053697      5bcd
 3280  47.457409 -74.795776  4.758095      5bcd
 ...         ...        ...       ...       ...
 9258  49.957310 -70.462624  3.121586      5bcd
 9260  49.957310 -70.379288  2.959342      5bcd
 9425  50.040642 -70.712608  3.047003      5bcd
 9427  50.040642 -70.629280  2.974282      5bcd
 9429  50.040642 -70.545952  3.032008      5bcd

                                                geometry
 3129  POLYGON ((-74.90523 47.41575, -74.83745 47.415...
 3131  POLYGON ((-74.83744 47.39025, -74.83744 47.415...
 3133  POLYGON ((-74.75411 47.38405, -74.75411 47.415...
 3278  POLYGON ((-74.83745 47.49780, -74.83745 47.415...
 3280  POLYGON ((-74.83744 47.41574, -74.83744 47.497...
 ...                                                 ...
 9258  POLYGON ((-70.50429 49.91564, -70.50429 49.949...
 9260  MULTIPOLYGON (((-70.34230 49.91564, -70.36132 ...
 9425  POLYGON ((-70.69347 49.99898, -70.74091 49.998...
 9427  POLYGON ((-70.58762 50.02475, -70.58762 49.998...
 9429  POLYGON ((-70.58762 49.99898, -70.58762 50.024...

 [1231 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 3557  47.624069 -77.795662  5.614663        5a
 3559  47.624069 -77.712334  5.573110        5a
 3710  47.707401 -78.378967  5.597757        5a
 3713  47.707401 -78.295639  5.632833        5a
 3717  47.707401 -78.045647  5.619324        5a
 ...         ...        ...       ...       ...
 7809  49.374001 -78.295639  3.972466        5a
 7811  49.374001 -78.212311  4.028655        5a
 7813  49.374001 -78.128983  3.976639        5a
 7992  49.457329 -78.295639  3.963305        5a
 7994  49.457329 -78.212311  3.902540        5a

                                                geometry
 3557  POLYGON ((-77.80282 47.66574, -77.75400 47.665...
 3559  POLYGON ((-77.75400 47.64657, -77.75400 47.665...
 3710  POLYGON ((-78.36578 47.74907, -78.33730 47.749...
 3713  POLYGON ((-78.33730 47.71597, -78.33730 47.749...
 3717  POLYGON ((-78.00997 47.74907, -78.00398 47.749...
 ...                                                 ...
 7809  POLYGON ((-78.25871 49.41567, -78.25397 49.415...
 7811  POLYGON ((-78.25397 49.34172, -78.25397 49.415...
 7813  POLYGON ((-78.17065 49.33233, -78.17065 49.396...
 7992  POLYGON ((-78.25397 49.46243, -78.25397 49.415...
 7994  POLYGON ((-78.25397 49.41566, -78.25397 49.462...

 [552 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 4208  47.874062 -67.379410  6.140049       4gh
 4210  47.874062 -67.296082  6.149908       4gh
 4211  47.874062 -67.212753  6.061409       4gh
 4212  47.874062 -67.129417  6.161278       4gh
 4213  47.874062 -67.046089  6.176417       4gh
 ...         ...        ...       ...       ...
 7768  49.290668 -65.629478  6.582689       4gh
 7769  49.290668 -65.546150  6.544884       4gh
 7770  49.290668 -65.462822  6.528996       4gh
 7771  49.290668 -65.379494  6.661727       4gh
 7772  49.290668 -65.296158  6.780601       4gh

                                                geometry

In [38]:
for tg in listTG2050:
    geometry = tg["geometry"]
    crs = {'init': "epsg:4326"}
    gdf2050 = GeoDataFrame(tg, crs=crs, geometry=geometry)
    #print (gdf['TER_GUIDE'].iloc[0])
    gdf2050.to_file(gdf2050['TER_GUIDE'].iloc[0]+"_2050_tg_mean_annual_rcp85_50.json", driver="GeoJSON")

## Period 2041-2071

In [39]:
listTG2080 = []
for tg in dftg2080TG['TER_GUIDE'].unique().tolist():
    df = dftg2080TG[dftg2080TG.TER_GUIDE == tg]
    print (tg)
    listTG2080.append(df)
listTG2080

1a
2c
3d
2b
2a
3c
3ab
4bc
4de
5ef
4f
4a
5jk
5bcd
5a
4gh
5hi
5g
6cdefg
6hi
6ab
6j
6mn
6kl
6opqr

[            lat        lon    tg_mean TER_GUIDE  \
 0     44.957512 -74.629120  12.741622        1a
 1     44.957512 -74.545792  12.717044        1a
 2     44.957512 -74.462463  12.693558        1a
 3     44.957512 -74.379128  12.679183        1a
 4     44.957512 -74.295799  12.640734        1a
 ...         ...        ...        ...       ...
 1236  46.207458 -72.629204  11.207509        1a
 1345  46.290791 -72.879189  11.075989        1a
 1347  46.290791 -72.795860  11.119996        1a
 1349  46.290791 -72.712532  11.136353        1a
 1351  46.290791 -72.629204  11.132958        1a

                                                geometry
 0     POLYGON ((-74.62590 44.99918, -74.58746 44.999...
 1     POLYGON ((-74.58746 44.99876, -74.58746 44.999...
 2     POLYGON ((-74.50413 44.99784, -74.50413 44.999...
 3     POLYGON ((-74.42079 44.99530, -74.42079 44.999...
 4     POLYGON ((-74.33746 44.99215, -74.33746 44.999...
 ...                                                 ...
 1236  MULTIPOLYGON (((-72.67087 46.23871, -72.67087 ...
 1345  POLYGON ((-72.83752 46.26212, -72.83752 46.249...
 1347  POLYGON ((-72.83752 46.24912, -72.83752 46.262...
 1349  POLYGON ((-72.75420 46.24912, -72.75420 46.280...
 1351  POLYGON ((-72.67087 46.24912, -72.67087 46.279...

 [338 rows x 5 columns],             lat        lon    tg_mean TER_GUIDE  \
 31    45.040840 -72.879189  12.133036        2c
 32    45.040840 -72.795860  11.673299        2c
 33    45.040840 -72.712532  11.432878        2c
 34    45.040840 -72.629204  11.428493        2c
 35    45.040840 -72.545868  10.837106        2c
 ...         ...        ...        ...       ...
 921   45.957470 -71.795898  10.290063        2c
 923   45.957470 -71.712570   9.739055        2c
 925   45.957470 -71.629242   9.631461        2c
 927   45.957470 -71.545914   9.685914        2c
 1025  46.040798 -71.879227  10.661046        2c

                                                geometry
 31    POLYGON ((-72.88791 45.08251, -72.83752 45.082...
 32    POLYGON ((-72.83752 45.01554, -72.83752 45.082...
 33    POLYGON ((-72.75420 45.01564, -72.75420 45.082...
 34    POLYGON ((-72.67087 45.01490, -72.67087 45.082...
 35    POLYGON ((-72.58753 45.01170, -72.58753 45.082...
 ...                                                 ...
 921   POLYGON ((-71.83756 45.91580, -71.83756 45.961...
 923   POLYGON ((-71.75423 45.91580, -71.75423 45.941...
 925   POLYGON ((-71.67091 45.91580, -71.67091 45.934...
 927   POLYGON ((-71.58758 45.91668, -71.58758 45.917...
 1025  POLYGON ((-71.88637 45.99913, -71.90353 45.999...

 [166 rows x 5 columns],             lat        lon    tg_mean TER_GUIDE  \
 42    45.040840 -71.962563  10.475707        3d
 44    45.040840 -71.879227  10.242711        3d
 46    45.040840 -71.795898  10.510924        3d
 47    45.040840 -71.712570   9.976650        3d
 48    45.040840 -71.629242  10.198938        3d
 ...         ...        ...        ...       ...
 2908  47.207420 -69.879311   9.116770        3d
 3045  47.290749 -70.129303  10.205395        3d
 3048  47.290749 -70.045967   9.401688        3d
 3051  47.290749 -69.962639   9.462495        3d
 3199  47.374081 -69.962639   9.811795        3d

                                                geometry
 42    POLYGON ((-71.92090 45.04695, -71.92090 45.007...
 44    POLYGON ((-71.92089 45.00769, -71.92089 45.046...
 46    POLYGON ((-71.83756 45.00894, -71.83756 45.082...
 47    POLYGON ((-71.75423 45.01039, -71.75423 45.082...
 48    POLYGON ((-71.67091 45.01169, -71.67091 45.082...
 ...                                                 ...
 2908  POLYGON ((-69.92097 47.16575, -69.92097 47.211...
 3045  POLYGON ((-70.08764 47.28270, -70.08764 47.249...
 3048  MULTIPOLYGON (((-70.08763 47.24908, -70.08763 ...
 3051  MULTIPOLYGON (((-70.00430 47.24908, -70.00430 ...
 3199  POLYGON ((-69.99535 47.33241, -69.99967 47.332...

 [367 rows x 5 columns],             lat        lon    tg_mean TER_GUIDE  \
 215   45.374161 -72.795860  11.956511        2b
 218   45.374161 -72.712532  11.768812        2b
 280   45.457489 -72.879189  11.901347        2b
 282   45.457489 -72.795860  11.995801        2b
 284   45.457489 -72.712532  11.780765        2b
 ...         ...        ...        ...       ...
 3357  47.457409 -69.795982   9.407181        2b
 3509  47.540741 -69.962639   9.959653        2b
 3510  47.540741 -69.879311   9.966640        2b
 3512  47.540741 -69.795982   9.711346        2b
 3672  47.624069 -69.795982   9.770800        2b

                                                geometry
 215   POLYGON ((-72.78619 45.41583, -72.75420 45.415...
 218   POLYGON ((-72.75420 45.38688, -72.75420 45.415...
 280   POLYGON ((-72.90824 45.49916, -72.83752 45.499...
 282   POLYGON ((-72.83752 45.48522, -72.83752 45.499...
 284   POLYGON ((-72.75420 45.41582, -72.75420 45.499...
 ...                                                 ...
 3357  POLYGON ((-69.83765 47.45559, -69.83765 47.499...
 3509  POLYGON ((-69.92097 47.51493, -69.92097 47.499...
 3510  POLYGON ((-69.92097 47.49907, -69.92097 47.514...
 3512  POLYGON ((-69.83765 47.49907, -69.83765 47.581...
 3672  POLYGON ((-69.80142 47.58240, -69.83675 47.582...

 [388 rows x 5 columns],             lat        lon    tg_mean TER_GUIDE  \
 254   45.457489 -75.879066  11.482446        2a
 256   45.457489 -75.795738  11.607732        2a
 320   45.540821 -76.212387  11.453792        2a
 322   45.540821 -76.129059  11.453237        2a
 324   45.540821 -76.045731  11.185870        2a
 ...         ...        ...        ...       ...
 1661  46.540779 -75.962402   9.713497        2a
 1663  46.540779 -75.879066   9.683300        2a
 1785  46.624111 -76.045731   9.586916        2a
 1787  46.624111 -75.962402   9.691276        2a
 1928  46.707439 -76.045731   9.479367        2a

                                                geometry
 254   POLYGON ((-75.90788 45.49916, -75.83740 45.499...
 256   POLYGON ((-75.83740 45.46821, -75.83740 45.499...
 320   POLYGON ((-76.24865 45.58249, -76.17072 45.582...
 322   POLYGON ((-76.17072 45.57753, -76.17072 45.582...
 324   POLYGON ((-76.08739 45.56871, -76.08739 45.582...
 ...                                                 ...
 1661  POLYGON ((-76.00407 46.49911, -76.00407 46.582...
 1663  POLYGON ((-75.92073 46.49911, -75.92073 46.540...
 1785  POLYGON ((-76.03237 46.66578, -76.02053 46.665...
 1787  MULTIPOLYGON (((-75.96239 46.58245, -75.96880 ...
 1928  POLYGON ((-76.02052 46.66577, -76.03239 46.665...

 [143 rows x 5 columns],             lat        lon    tg_mean TER_GUIDE  \
 439   45.624149 -74.379128  11.534747        3c
 441   45.624149 -74.295799  11.514757        3c
 531   45.707481 -74.462463  10.713839        3c
 535   45.707481 -74.379128  10.802417        3c
 538   45.707481 -74.295799  10.885039        3c
 ...         ...        ...        ...       ...
 3318  47.457409 -72.462540   8.228434        3c
 3469  47.540741 -72.879189   8.437360        3c
 3471  47.540741 -72.795860   8.867345        3c
 3473  47.540741 -72.712532   8.614239        3c
 3475  47.540741 -72.629204   8.305139        3c

                                                geometry
 439   MULTIPOLYGON (((-74.35539 45.66582, -74.33746 ...
 441   MULTIPOLYGON (((-74.32365 45.66582, -74.31170 ...
 531   POLYGON ((-74.48351 45.74915, -74.42080 45.749...
 535   POLYGON ((-74.42079 45.69341, -74.42079 45.749...
 538   POLYGON ((-74.33746 45.66582, -74.33746 45.749...
 ...                                                 ...
 3318  POLYGON ((-72.50420 47.41574, -72.50420 47.461...
 3469  POLYGON ((-72.83752 47.53468, -72.83752 47.504...
 3471  POLYGON ((-72.83752 47.50417, -72.83752 47.534...
 3473  POLYGON ((-72.75420 47.49907, -72.75420 47.536...
 3475  POLYGON ((-72.62869 47.49907, -72.66899 47.499...

 [356 rows x 5 columns],             lat        lon    tg_mean TER_GUIDE  \
 524   45.707481 -74.712448  10.788896       3ab
 526   45.707481 -74.629120  10.614024       3ab
 528   45.707481 -74.545792  10.520806       3ab
 532   45.707481 -74.462463  10.713839       3ab
 603   45.790810 -76.629044  10.846183       3ab
 ...         ...        ...        ...       ...
 2934  47.290749 -78.795624   8.548632       3ab
 2936  47.290749 -78.712288   8.476562       3ab
 3079  47.374081 -78.878952   8.507415       3ab
 3081  47.374081 -78.795624   8.413922       3ab
 3083  47.374081 -78.712288   8.373864       3ab

                                                geometry
 524   POLYGON ((-74.74199 45.74915, -74.67078 45.749...
 526   POLYGON ((-74.67078 45.73512, -74.67078 45.749...
 528   MULTIPOLYGON (((-74.56622 45.74915, -74.50413 ...
 532   POLYGON ((-74.50413 45.73724, -74.50413 45.749...
 603   POLYGON ((-76.64053 45.83248, -76.58738 45.832...
 ...                                                 ...
 2934  POLYGON ((-78.83729 47.24908, -78.83729 47.332...
 2936  POLYGON ((-78.75395 47.24908, -78.75395 47.294...
 3079  POLYGON ((-78.83729 47.33791, -78.83729 47.332...
 3081  POLYGON ((-78.83729 47.33241, -78.83729 47.337...
 3083  POLYGON ((-78.75395 47.34716, -78.75395 47.359...

 [652 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 1763  46.624111 -77.379013  9.383981       4bc
 1765  46.624111 -77.295677  9.309701       4bc
 1770  46.624111 -76.962357  9.228022       4bc
 1773  46.624111 -76.795700  8.933273       4bc
 1775  46.624111 -76.712372  8.825519       4bc
 ...         ...        ...       ...       ...
 4901  48.207378 -72.712532  7.339548       4bc
 4903  48.207378 -72.629204  7.463059       4bc
 4905  48.207378 -72.545868  7.350764       4bc
 5097  48.290710 -72.879189  7.257232       4bc
 5099  48.290710 -72.795860  7.095220       4bc

                                                geometry
 1763  POLYGON ((-77.40222 46.66578, -77.33735 46.665...
 1765  POLYGON ((-77.33734 46.63601, -77.33734 46.665...
 1770  POLYGON ((-76.99712 46.66578, -76.94435 46.665...
 1773  POLYGON ((-76.77471 46.66578, -76.75404 46.665...
 1775  POLYGON ((-76.75404 46.66481, -76.75404 46.665...
 ...                                                 ...
 4901  POLYGON ((-72.67087 48.22031, -72.67087 48.165...
 4903  POLYGON ((-72.67087 48.16571, -72.67087 48.220...
 4905  POLYGON ((-72.58753 48.16571, -72.58753 48.207...
 5097  POLYGON ((-72.83752 48.26189, -72.83752 48.249...
 5099  POLYGON ((-72.83752 48.24904, -72.83752 48.261...

 [1057 rows x 5 columns],             lat        lon    tg_mean TER_GUIDE  \
 2130  46.790771 -71.712570  10.012740       4de
 2279  46.874100 -71.795898   9.674682       4de
 2281  46.874100 -71.712570   9.383382       4de
 2283  46.874100 -71.629242   9.707468       4de
 2285  46.874100 -71.545914   9.728532       4de
 ...         ...        ...        ...       ...
 7276  49.124008 -72.295883   7.068087       4de
 7279  49.124008 -72.129219   7.110798       4de
 7499  49.207340 -72.629204   6.723279       4de
 7501  49.207340 -72.545868   6.743134       4de
 7504  49.207340 -72.379211   6.818950       4de

                                                geometry
 2130  POLYGON ((-71.73388 46.83244, -71.68755 46.832...
 2279  MULTIPOLYGON (((-71.79027 46.91577, -71.75423 ...
 2281  POLYGON ((-71.75423 46.85593, -71.75423 46.887...
 2283  POLYGON ((-71.67091 46.84132, -71.67091 46.915...
 2285  POLYGON ((-71.58758 46.88066, -71.58758 46.915...
 ...                                                 ...
 7276  POLYGON ((-72.33755 49.08234, -72.33755 49.144...
 7279  POLYGON ((-72.09534 49.08234, -72.11265 49.082...
 7499  POLYGON ((-72.58754 49.17031, -72.58754 49.165...
 7501  POLYGON ((-72.58753 49.16567, -72.58753 49.170...
 7504  POLYGON ((-72.36575 49.16567, -72.37860 49.165...

 [356 rows x 5 columns],            lat        lon   tg_mean TER_GUIDE  \
 2577  47.04076 -71.795898  8.077638       5ef
 2580  47.04076 -71.712570  8.393827       5ef
 2582  47.04076 -71.629242  8.369069       5ef
 2584  47.04076 -71.545914  8.238173       5ef
 2587  47.04076 -71.462578  8.678773       5ef
 ...        ...        ...       ...       ...
 7085  49.04068 -70.462624  6.061322       5ef
 7087  49.04068 -70.379288  6.161941       5ef
 7089  49.04068 -70.295959  6.271699       5ef
 7091  49.04068 -70.212631  6.425370       5ef
 7093  49.04068 -70.129303  6.405450       5ef

                                                geometry
 2577  POLYGON ((-71.77650 47.08243, -71.75423 47.082...
 2580  MULTIPOLYGON (((-71.67318 47.08243, -71.67091 ...
 2582  MULTIPOLYGON (((-71.59227 47.08243, -71.58758 ...
 2584  POLYGON ((-71.58758 47.07961, -71.58758 47.082...
 2587  POLYGON ((-71.50424 47.04583, -71.50424 47.082...
 ...                                                 ...
 7085  POLYGON ((-70.50429 48.99901, -70.50429 49.015...
 7087  POLYGON ((-70.42095 48.99901, -70.42095 49.019...
 7089  POLYGON ((-70.33762 48.99901, -70.33762 49.013...
 7091  POLYGON ((-70.25430 48.99901, -70.25430 49.009...
 7093  POLYGON ((-70.17097 49.00495, -70.17097 49.011...

 [401 rows x 5 columns],             lat        lon    tg_mean TER_GUIDE  \
 2604  47.040760 -70.545952  10.696040        4f
 2615  47.040760 -69.879311   8.971847        4f
 2617  47.040760 -69.795982   9.120865        4f
 2619  47.040760 -69.712646   8.977157        4f
 2621  47.040760 -69.629318   8.796828        4f
 ...         ...        ...        ...       ...
 6673  48.874020 -67.379410   8.645196        4f
 6675  48.874020 -67.296082   8.407643        4f
 6677  48.874020 -67.212753   8.090737        4f
 6896  48.957352 -67.296082   9.029781        4f
 6898  48.957352 -67.212753   8.762237        4f

                                                geometry
 2604  POLYGON ((-70.55131 47.08243, -70.52840 47.082...
 2615  POLYGON ((-69.84377 47.08243, -69.83765 47.082...
 2617  POLYGON ((-69.83765 47.07403, -69.83765 47.082...
 2619  MULTIPOLYGON (((-69.71128 47.08243, -69.67098 ...
 2621  POLYGON ((-69.67098 47.06710, -69.67098 47.082...
 ...                                                 ...
 6673  POLYGON ((-67.42107 48.85553, -67.42107 48.880...
 6675  POLYGON ((-67.33775 48.87703, -67.33775 48.911...
 6677  POLYGON ((-67.25442 48.90911, -67.25442 48.915...
 6896  POLYGON ((-67.25442 48.92890, -67.25442 48.915...
 6898  POLYGON ((-67.25442 48.91569, -67.25442 48.928...

 [389 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 2623  47.124088 -79.462257  9.443081        4a
 2625  47.124088 -79.378929  9.300837        4a
 2627  47.124088 -79.295601  9.104315        4a
 2771  47.207420 -79.462257  9.282525        4a
 2772  47.207420 -79.378929  9.321164        4a
 ...         ...        ...       ...       ...
 4596  48.124050 -79.045609  8.014862        4a
 4598  48.124050 -78.962280  8.036655        4a
 4813  48.207378 -79.128937  7.930235        4a
 4815  48.207378 -79.045609  7.987718        4a
 4817  48.207378 -78.962280  8.006042        4a

                                                geometry
 2623  POLYGON ((-79.44652 47.16575, -79.42059 47.165...
 2625  POLYGON ((-79.42059 47.15410, -79.42059 47.165...
 2627  POLYGON ((-79.33237 47.16575, -79.29047 47.165...
 2771  POLYGON ((-79.45147 47.24909, -79.42059 47.249...
 2772  POLYGON ((-79.42059 47.16575, -79.42059 47.249...
 ...                                                 ...
 4596  POLYGON ((-79.08727 48.08238, -79.08727 48.165...
 4598  POLYGON ((-79.00394 48.08238, -79.00394 48.165...
 4813  POLYGON ((-79.08727 48.17824, -79.08727 48.165...
 4815  POLYGON ((-79.08727 48.16571, -79.08727 48.178...
 4817  POLYGON ((-79.00394 48.16571, -79.00394 48.178...

 [139 rows x 5 columns],              lat        lon    tg_mean TER_GUIDE  \
 2914   47.207420 -62.046291  10.446260       5jk
 2915   47.207420 -61.962959  10.378659       5jk
 2916   47.207420 -61.879631  10.512170       5jk
 2917   47.207420 -61.796299  10.548652       5jk
 3062   47.290749 -62.046291  10.431222       5jk
 ...          ...        ...        ...       ...
 10129  50.290630 -62.712929   7.001442       5jk
 10131  50.290630 -62.629601   6.953936       5jk
 10133  50.290630 -62.546268   6.931449       5jk
 10135  50.290630 -62.462940   6.915384       5jk
 10137  50.290630 -62.379608   6.898825       5jk

                                                 geometry
 2914   POLYGON ((-62.00902 47.24909, -62.00463 47.249...
 2915   POLYGON ((-62.00462 47.21898, -62.00462 47.249...
 2916   POLYGON ((-61.92130 47.21385, -61.92130 47.249...
 2917   POLYGON ((-61.83796 47.21636, -61.83796 47.237...
 3062   POLYGON ((-62.00463 47.25364, -62.00463 47.249...
 ...                                                  ...
 10129  POLYGON ((-62.74562 50.27628, -62.74902 50.275...
 10131  POLYGON ((-62.63987 50.27079, -62.63794 50.269...
 10133  POLYGON ((-62.52907 50.26063, -62.52798 50.259...
 10135  POLYGON ((-62.42754 50.26468, -62.42797 50.263...
 10137  MULTIPOLYGON (((-62.40562 50.27378, -62.40617 ...

 [244 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 3129  47.374081 -74.879112  7.651097      5bcd
 3131  47.374081 -74.795776  7.650154      5bcd
 3133  47.374081 -74.712448  7.698348      5bcd
 3278  47.457409 -74.879112  7.500184      5bcd
 3280  47.457409 -74.795776  7.203249      5bcd
 ...         ...        ...       ...       ...
 9258  49.957310 -70.462624  5.680231      5bcd
 9260  49.957310 -70.379288  5.517110      5bcd
 9425  50.040642 -70.712608  5.607100      5bcd
 9427  50.040642 -70.629280  5.534043      5bcd
 9429  50.040642 -70.545952  5.592651      5bcd

                                                geometry
 3129  POLYGON ((-74.90523 47.41575, -74.83745 47.415...
 3131  POLYGON ((-74.83744 47.39025, -74.83744 47.415...
 3133  POLYGON ((-74.75411 47.38405, -74.75411 47.415...
 3278  POLYGON ((-74.83745 47.49780, -74.83745 47.415...
 3280  POLYGON ((-74.83744 47.41574, -74.83744 47.497...
 ...                                                 ...
 9258  POLYGON ((-70.50429 49.91564, -70.50429 49.949...
 9260  MULTIPOLYGON (((-70.34230 49.91564, -70.36132 ...
 9425  POLYGON ((-70.69347 49.99898, -70.74091 49.998...
 9427  POLYGON ((-70.58762 50.02475, -70.58762 49.998...
 9429  POLYGON ((-70.58762 49.99898, -70.58762 50.024...

 [1231 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 3557  47.624069 -77.795662  8.078486        5a
 3559  47.624069 -77.712334  8.036729        5a
 3710  47.707401 -78.378967  8.070923        5a
 3713  47.707401 -78.295639  8.105073        5a
 3717  47.707401 -78.045647  8.088393        5a
 ...         ...        ...       ...       ...
 7809  49.374001 -78.295639  6.534178        5a
 7811  49.374001 -78.212311  6.589030        5a
 7813  49.374001 -78.128983  6.535460        5a
 7992  49.457329 -78.295639  6.528928        5a
 7994  49.457329 -78.212311  6.466607        5a

                                                geometry
 3557  POLYGON ((-77.80282 47.66574, -77.75400 47.665...
 3559  POLYGON ((-77.75400 47.64657, -77.75400 47.665...
 3710  POLYGON ((-78.36578 47.74907, -78.33730 47.749...
 3713  POLYGON ((-78.33730 47.71597, -78.33730 47.749...
 3717  POLYGON ((-78.00997 47.74907, -78.00398 47.749...
 ...                                                 ...
 7809  POLYGON ((-78.25871 49.41567, -78.25397 49.415...
 7811  POLYGON ((-78.25397 49.34172, -78.25397 49.415...
 7813  POLYGON ((-78.17065 49.33233, -78.17065 49.396...
 7992  POLYGON ((-78.25397 49.46243, -78.25397 49.415...
 7994  POLYGON ((-78.25397 49.41566, -78.25397 49.462...

 [552 rows x 5 columns],             lat        lon   tg_mean TER_GUIDE  \
 4208  47.874062 -67.379410  8.582464       4gh
 4210  47.874062 -67.296082  8.588261       4gh
 4211  47.874062 -67.212753  8.494885       4gh
 4212  47.874062 -67.129417  8.591419       4gh
 4213  47.874062 -67.046089  8.602182       4gh
 ...         ...        ...       ...       ...
 7768  49.290668 -65.629478  9.016653       4gh
 7769  49.290668 -65.546150  8.974717       4gh
 7770  49.290668 -65.462822  8.954898       4gh
 7771  49.290668 -65.379494  9.084775       4gh

In [40]:
for tg in listTG2080:
    geometry = tg["geometry"]
    crs = {'init': "epsg:4326"}
    gdf2080 = GeoDataFrame(tg, crs=crs, geometry=geometry)
    #print (gdf['TER_GUIDE'].iloc[0])
    gdf2080.to_file(gdf2080['TER_GUIDE'].iloc[0]+"_2080_tg_mean_annual_rcp85_50.json", driver="GeoJSON")

# ---- Create GeoJson file for the complete shape----

## Period 2041-2071

In [41]:
geometry = dftg2080TG["geometry"]
crs = {'init': "epsg:4326"}
gdf = GeoDataFrame(dftg2050TG, crs=crs, geometry=geometry)
gdf.to_file("TG_2050_tg_mean_annual_rcp85_50.json", driver="GeoJSON")

NameError: name 'dftg11TG' is not defined

## Period 2071-2100

In [ ]:
geometry = dftg2080TG["geometry"]
crs = {'init': "epsg:4326"}
gdf = GeoDataFrame(dftg2080TG, crs=crs, geometry=geometry)
gdf.to_file("TG_2080_tg_mean_annual_rcp85_50.json", driver="GeoJSON")