In [1]:
%load_ext autoreload
%autoreload 2
import xarray as xr
import matplotlib.pyplot as plt
import pandas as pd
import processing_netcdf as pcdf
import geopandas as gpd
from geopandas import GeoDataFrame
import shapely.geometry 
import numpy as np
from shapely import geometry as gmty
from geofeather import to_geofeather, from_geofeather
import glob
import os

In [2]:
#path to data
data = "/home/mlopez/EXEC/Observed data/NRCAN_obs_prcptot_annual.nc"

# Create DF of observed data

In [3]:
dfobstpr= pcdf.load_as_df(data)

In [4]:
dfobstpr.reset_index()

                                     prcptot
lat       lon        time
83.125000 -74.541672 1950-01-01   111.560005
                     1951-01-01   138.380020
                     1952-01-01   105.830017
                     1953-01-01   157.129959
                     1954-01-01   122.549988
...                                      ...
41.708332 -82.208336 2009-01-01   792.690430
                     2010-01-01   793.760071
                     2011-01-01  1290.789917
                     2012-01-01   684.479980
                     2013-01-01   971.789856

[16464832 rows x 1 columns]

# Define periods of time:

In [6]:
year_groups = {y:0 for y in range(1980,2011)}
#Get the mean of every period
dfC2 = dfobstpr.reset_index()
dfp = dfC2.groupby([dfC2.time.dt.year.map(year_groups), "lat","lon"]).mean()

In [7]:
dfp.reset_index()

        time        lat        lon     prcptot
0        0.0  41.708332 -82.791672  844.777710
1        0.0  41.708332 -82.708336  847.000671
2        0.0  41.708332 -82.625000  847.128662
3        0.0  41.708332 -82.541672  847.252258
4        0.0  41.708332 -82.458336  846.754211
...      ...        ...        ...         ...
257258   0.0  83.125000 -69.958336  127.883537
257259   0.0  83.125000 -69.875000  125.947083
257260   0.0  83.125000 -69.791672  126.917740
257261   0.0  83.125000 -69.708336  126.662903
257262   0.0  83.125000 -69.625000  121.740318

[257263 rows x 4 columns]

# Historic Period

In [8]:
df_h = dfp.query("time==0.0")
df_h.reset_index()

        time        lat        lon     prcptot
0        0.0  41.708332 -82.791672  844.777710
1        0.0  41.708332 -82.708336  847.000671
2        0.0  41.708332 -82.625000  847.128662
3        0.0  41.708332 -82.541672  847.252258
4        0.0  41.708332 -82.458336  846.754211
...      ...        ...        ...         ...
257258   0.0  83.125000 -69.958336  127.883537
257259   0.0  83.125000 -69.875000  125.947083
257260   0.0  83.125000 -69.791672  126.917740
257261   0.0  83.125000 -69.708336  126.662903
257262   0.0  83.125000 -69.625000  121.740318

[257263 rows x 4 columns]

## Import dataframe with polygons

In [9]:
dfpolyshape = from_geofeather('Grid-TerritoiresGuides.feather')

/home/mlopez/EXEC/anaconda3/envs/python37-2/lib/python3.8/site-packages/geofeather/core.py:85: UserWarning: Grid-TerritoiresGuides.feather.crs coordinate reference system file is missing. No crs will be set for this GeoDataFrame.
  warnings.warn(

In [10]:
dfpolyshape

,lat,lon,TER_GUIDE,geometry
0,52.957191,-67.712730,6opqr,"POLYGON ((-67.67107 52.93424, -67.67107 52.915..."
1,52.957191,-67.629402,6opqr,"POLYGON ((-67.67107 52.91553, -67.67107 52.934..."
2,52.957191,-67.546066,6opqr,"POLYGON ((-67.56730 52.91553, -67.57974 52.915..."
3,52.873859,-67.796059,6opqr,"POLYGON ((-67.75439 52.89329, -67.75439 52.832..."
4,52.873859,-67.712730,6opqr,"POLYGON ((-67.75439 52.83219, -67.75439 52.893..."
...,...,...,...,...
33193,45.041668,-72.208336,2c,"POLYGON ((-72.25000 45.00450, -72.25000 45.083..."
33194,45.041668,-72.125000,2c,"POLYGON ((-72.16666 45.00508, -72.16666 45.083..."
33195,45.041668,-72.041672,2c,"POLYGON ((-72.08334 45.00564, -72.08334 45.083..."
33196,45.041668,-71.958336,2c,"POLYGON ((-72.00000 45.00667, -72.00000 45.083..."
33197,45.041668,-71.875000,2c,"POLYGON ((-71.91666 45.04812, -71.91666 45.083..."

## Merge data with mask

In [11]:
dfprobsTG = pd.merge(df_h, dfpolyshape, on=["lat","lon"])

In [23]:
dfprobsTG

,lat,lon,prcptot,TER_GUIDE,geometry
0,44.958332,-74.625000,976.803528,1a,"POLYGON ((-74.66365 45.00000, -74.58334 45.000..."
1,44.958332,-74.541672,974.891296,1a,"POLYGON ((-74.58334 44.99872, -74.58334 45.000..."
2,44.958332,-74.458336,976.003784,1a,"POLYGON ((-74.50000 44.99779, -74.50000 45.000..."
3,44.958332,-74.375000,978.627075,1a,"POLYGON ((-74.41666 44.99517, -74.41666 45.000..."
4,44.958332,-74.291672,984.361572,1a,"POLYGON ((-74.33334 44.99213, -74.33334 45.000..."
...,...,...,...,...,...
16559,52.875000,-67.625000,861.823914,6opqr,"POLYGON ((-67.66666 52.83333, -67.66666 52.916..."
16560,52.875000,-67.541672,860.633850,6opqr,"POLYGON ((-67.58334 52.83333, -67.58334 52.911..."
16561,52.958332,-67.708336,861.630310,6opqr,"POLYGON ((-67.66667 52.93419, -67.66667 52.916..."
16562,52.958332,-67.625000,857.484863,6opqr,"POLYGON ((-67.66666 52.91667, -67.66666 52.934..."
16563,52.958332,-67.541672,858.583191,6opqr,"POLYGON ((-67.56892 52.91667, -67.57850 52.916..."

In [13]:
dfprobsTG.TER_GUIDE.value_counts()

6cdefg    2361
6opqr     1609
6ab       1416
5bcd      1237
4bc       1048
6hi       1026
6j         949
6mn        925
3ab        652
5a         550
6kl        512
5ef        399
4f         394
2b         388
3d         365
3c         355
4de        355
5g         350
5hi        341
1a         340
4gh        301
5jk        245
2c         165
2a         142
4a         139
Name: TER_GUIDE, dtype: int64

# ---- Create GeoJson file ----

In [24]:
geometry = dfprobsTG["geometry"]

In [25]:
crs = {'init': "epsg:4326"}
gdf = GeoDataFrame(dfprobsTG, crs=crs, geometry=geometry)

In [26]:
gdf.to_file("TG_hist_prcptot_annual_rcp45_50.json", driver="GeoJSON")

# Create GeoJson for each territory

In [17]:
listTG = []

for tg in dfprobsTG['TER_GUIDE'].unique().tolist():
    df = dfprobsTG[dfprobsTG.TER_GUIDE == tg]
    print (tg)
    listTG.append(df)

listTG

1a
2c
3d
2b
2a
3c
3ab
4bc
4de
5ef
4f
4a
5jk
5bcd
5a
4gh
5hi
5g
6cdefg
6hi
6ab
6j
6mn
6kl
6opqr

[            lat        lon     prcptot TER_GUIDE  \
 0     44.958332 -74.625000  976.803528        1a
 1     44.958332 -74.541672  974.891296        1a
 2     44.958332 -74.458336  976.003784        1a
 3     44.958332 -74.375000  978.627075        1a
 4     44.958332 -74.291672  984.361572        1a
 ...         ...        ...         ...       ...
 1234  46.208332 -72.625000  984.718750        1a
 1342  46.291668 -72.875000  987.298401        1a
 1344  46.291668 -72.791672  988.051331        1a
 1346  46.291668 -72.708336  992.107727        1a
 1348  46.291668 -72.625000  997.760071        1a

                                                geometry
 0     POLYGON ((-74.66365 45.00000, -74.58334 45.000...
 1     POLYGON ((-74.58334 44.99872, -74.58334 45.000...
 2     POLYGON ((-74.50000 44.99779, -74.50000 45.000...
 3     POLYGON ((-74.41666 44.99517, -74.41666 45.000...
 4     POLYGON ((-74.33334 44.99213, -74.33334 45.000...
 ...                                                 ...
 1234  POLYGON ((-72.66666 46.24655, -72.66666 46.250...
 1342  POLYGON ((-72.83334 46.26106, -72.83334 46.250...
 1344  POLYGON ((-72.83334 46.25000, -72.83334 46.261...
 1346  POLYGON ((-72.75000 46.25000, -72.75000 46.282...
 1348  POLYGON ((-72.66666 46.25000, -72.66666 46.272...

 [340 rows x 5 columns],             lat        lon      prcptot TER_GUIDE  \
 32    45.041668 -72.875000  1110.091553        2c
 33    45.041668 -72.791672  1176.170898        2c
 34    45.041668 -72.708336  1211.590332        2c
 35    45.041668 -72.625000  1215.151978        2c
 36    45.041668 -72.541672  1237.575195        2c
 ...         ...        ...          ...       ...
 919   45.958332 -71.875000  1145.001343        2c
 921   45.958332 -71.791672  1182.540405        2c
 923   45.958332 -71.708336  1251.720947        2c
 925   45.958332 -71.625000  1271.086426        2c
 1023  46.041668 -71.875000  1136.141846        2c

                                                geometry
 32    POLYGON ((-72.88778 45.08333, -72.83334 45.083...
 33    POLYGON ((-72.83334 45.01558, -72.83334 45.083...
 34    POLYGON ((-72.75000 45.01560, -72.75000 45.083...
 35    POLYGON ((-72.66666 45.01486, -72.66666 45.083...
 36    POLYGON ((-72.58334 45.01123, -72.58334 45.083...
 ...                                                 ...
 919   POLYGON ((-71.91666 45.91667, -71.91666 45.994...
 921   POLYGON ((-71.83334 45.91667, -71.83334 45.957...
 923   POLYGON ((-71.75000 45.91667, -71.75000 45.939...
 925   POLYGON ((-71.66666 45.91667, -71.66666 45.934...
 1023  POLYGON ((-71.88724 46.00000, -71.90198 46.000...

 [165 rows x 5 columns],             lat        lon      prcptot TER_GUIDE  \
 43    45.041668 -71.958336  1211.682007        3d
 45    45.041668 -71.875000  1227.229736        3d
 47    45.041668 -71.791672  1196.441284        3d
 48    45.041668 -71.708336  1247.137695        3d
 49    45.041668 -71.625000  1220.997437        3d
 ...         ...        ...          ...       ...
 2900  47.208332 -69.875000  1060.713867        3d
 3037  47.291668 -70.125000   976.880981        3d
 3040  47.291668 -70.041672  1025.902588        3d
 3043  47.291668 -69.958336  1017.132568        3d
 3191  47.375000 -69.958336   972.802917        3d

                                                geometry
 43    POLYGON ((-71.91667 45.04812, -71.91667 45.007...
 45    POLYGON ((-71.91666 45.00775, -71.91666 45.048...
 47    POLYGON ((-71.83334 45.00901, -71.83334 45.083...
 48    POLYGON ((-71.75000 45.01047, -71.75000 45.083...
 49    POLYGON ((-71.66666 45.01174, -71.66666 45.083...
 ...                                                 ...
 2900  POLYGON ((-69.91666 47.17676, -69.91666 47.212...
 3037  POLYGON ((-70.08334 47.28495, -70.08334 47.250...
 3040  MULTIPOLYGON (((-70.08334 47.25000, -70.08334 ...
 3043  MULTIPOLYGON (((-70.00000 47.25000, -70.00000 ...
 3191  POLYGON ((-69.99534 47.33333, -69.99824 47.333...

 [365 rows x 5 columns],             lat        lon      prcptot TER_GUIDE  \
 215   45.375000 -72.791672  1114.154175        2b
 218   45.375000 -72.708336  1141.119385        2b
 280   45.458332 -72.875000  1095.287720        2b
 282   45.458332 -72.791672  1088.844482        2b
 284   45.458332 -72.708336  1114.066772        2b
 ...         ...        ...          ...       ...
 3500  47.541668 -69.958336   922.726746        2b
 3501  47.541668 -69.875000   925.076172        2b
 3503  47.541668 -69.791672   946.131592        2b
 3664  47.625000 -69.875000   922.409729        2b
 3666  47.625000 -69.791672   930.324585        2b

                                                geometry
 215   POLYGON ((-72.78572 45.41667, -72.75001 45.416...
 218   POLYGON ((-72.75000 45.38835, -72.75000 45.416...
 280   POLYGON ((-72.90920 45.50000, -72.83334 45.500...
 282   POLYGON ((-72.83334 45.48492, -72.83334 45.500...
 284   POLYGON ((-72.75000 45.41667, -72.75000 45.500...
 ...                                                 ...
 3500  POLYGON ((-69.91667 47.51739, -69.91667 47.500...
 3501  POLYGON ((-69.91666 47.50000, -69.91666 47.517...
 3503  POLYGON ((-69.83334 47.50000, -69.83334 47.583...
 3664  POLYGON ((-69.83334 47.58483, -69.83334 47.583...
 3666  POLYGON ((-69.83334 47.58333, -69.83334 47.584...

 [388 rows x 5 columns],             lat        lon     prcptot TER_GUIDE  \
 254   45.458332 -75.875000  931.680725        2a
 256   45.458332 -75.791672  938.668396        2a
 320   45.541668 -76.208336  871.068359        2a
 322   45.541668 -76.125000  888.640686        2a
 324   45.541668 -76.041672  921.203918        2a
 ...         ...        ...         ...       ...
 1658  46.541668 -75.958336  945.778381        2a
 1660  46.541668 -75.875000  953.582581        2a
 1782  46.625000 -76.041672  943.297363        2a
 1784  46.625000 -75.958336  940.501587        2a
 1923  46.708332 -76.041672  944.577515        2a

                                                geometry
 254   POLYGON ((-75.91069 45.50000, -75.83334 45.500...
 256   POLYGON ((-75.83334 45.46802, -75.83334 45.500...
 320   POLYGON ((-76.24925 45.58333, -76.16667 45.583...
 322   POLYGON ((-76.16666 45.57753, -76.16666 45.583...
 324   POLYGON ((-76.08334 45.56707, -76.08334 45.583...
 ...                                                 ...
 1658  POLYGON ((-76.00000 46.50000, -76.00000 46.583...
 1660  POLYGON ((-75.91666 46.50000, -75.91666 46.540...
 1782  POLYGON ((-76.02801 46.66667, -76.02125 46.666...
 1784  MULTIPOLYGON (((-75.96311 46.58333, -75.96733 ...
 1923  POLYGON ((-76.02125 46.66667, -76.02801 46.666...

 [142 rows x 5 columns],             lat        lon      prcptot TER_GUIDE  \
 438   45.625000 -74.375000  1049.743164        3c
 440   45.625000 -74.291672  1051.234497        3c
 530   45.708332 -74.458336  1095.105469        3c
 534   45.708332 -74.375000  1092.575562        3c
 537   45.708332 -74.291672  1087.264160        3c
 ...         ...        ...          ...       ...
 3310  47.458332 -72.458336  1054.477051        3c
 3460  47.541668 -72.875000   967.109924        3c
 3462  47.541668 -72.791672   949.118408        3c
 3464  47.541668 -72.708336   976.513245        3c
 3466  47.541668 -72.625000  1007.734558        3c

                                                geometry
 438   MULTIPOLYGON (((-74.35935 45.66667, -74.33334 ...
 440   MULTIPOLYGON (((-74.32407 45.66667, -74.30405 ...
 530   POLYGON ((-74.48314 45.75000, -74.41667 45.750...
 534   POLYGON ((-74.41666 45.68993, -74.41666 45.750...
 537   POLYGON ((-74.33334 45.66667, -74.33334 45.750...
 ...                                                 ...
 3310  POLYGON ((-72.50000 47.41667, -72.50000 47.458...
 3460  POLYGON ((-72.83334 47.53565, -72.83334 47.503...
 3462  POLYGON ((-72.83334 47.50323, -72.83334 47.535...
 3464  MULTIPOLYGON (((-72.66667 47.50029, -72.66667 ...
 3466  POLYGON ((-72.66666 47.50000, -72.66666 47.500...

 [355 rows x 5 columns],             lat        lon      prcptot TER_GUIDE  \
 523   45.708332 -74.708336  1083.104614       3ab
 525   45.708332 -74.625000  1095.106445       3ab
 527   45.708332 -74.541672  1102.249023       3ab
 531   45.708332 -74.458336  1095.105469       3ab
 602   45.791668 -76.625000   880.079346       3ab
 ...         ...        ...          ...       ...
 2926  47.291668 -78.791672   905.839050       3ab
 2928  47.291668 -78.708336   912.069031       3ab
 3071  47.375000 -78.875000   897.908081       3ab
 3073  47.375000 -78.791672   906.889038       3ab
 3075  47.375000 -78.708336   913.562622       3ab

                                                geometry
 523   POLYGON ((-74.74179 45.75000, -74.66667 45.750...
 525   POLYGON ((-74.66666 45.73702, -74.66666 45.750...
 527   POLYGON ((-74.58334 45.74871, -74.58334 45.750...
 531   POLYGON ((-74.50000 45.73668, -74.50000 45.750...
 602   POLYGON ((-76.64164 45.83333, -76.58334 45.833...
 ...                                                 ...
 2926  POLYGON ((-78.83334 47.25000, -78.83334 47.332...
 2928  POLYGON ((-78.75000 47.25000, -78.75000 47.295...
 3071  POLYGON ((-78.83467 47.33333, -78.86057 47.333...
 3073  POLYGON ((-78.75001 47.36030, -78.75001 47.350...
 3075  POLYGON ((-78.75000 47.35017, -78.75000 47.360...

 [652 rows x 5 columns],             lat        lon      prcptot TER_GUIDE  \
 1761  46.625000 -77.375000   908.492310       4bc
 1763  46.625000 -77.291672   912.346130       4bc
 1768  46.625000 -76.958336   917.745544       4bc
 1771  46.625000 -76.791672   938.279907       4bc
 1802  46.625000 -74.625000  1053.008057       4bc
 ...         ...        ...          ...       ...
 4898  48.208332 -72.708336   954.192261       4bc
 4900  48.208332 -72.625000   953.826233       4bc
 4902  48.208332 -72.541672   971.086182       4bc
 5095  48.291668 -72.875000   931.303589       4bc
 5097  48.291668 -72.791672   950.152954       4bc

                                                geometry
 1761  POLYGON ((-77.40338 46.66667, -77.33334 46.666...
 1763  POLYGON ((-77.33334 46.63605, -77.33334 46.666...
 1768  POLYGON ((-76.99759 46.66667, -76.94416 46.666...
 1771  POLYGON ((-76.77681 46.66667, -76.75001 46.666...
 1802  POLYGON ((-74.64816 46.66667, -74.58334 46.666...
 ...                                                 ...
 4898  POLYGON ((-72.66667 48.21735, -72.66667 48.166...
 4900  POLYGON ((-72.66666 48.16667, -72.66666 48.217...
 4902  POLYGON ((-72.58334 48.16667, -72.58334 48.202...
 5095  POLYGON ((-72.83334 48.26391, -72.83334 48.250...
 5097  POLYGON ((-72.83334 48.25000, -72.83334 48.263...

 [1048 rows x 5 columns],             lat        lon      prcptot TER_GUIDE  \
 2125  46.791668 -71.708336  1209.930298       4de
 2273  46.875000 -71.791672  1243.909058       4de
 2275  46.875000 -71.708336  1273.594482       4de
 2277  46.875000 -71.625000  1258.859009       4de
 2279  46.875000 -71.541672  1257.218018       4de
 ...         ...        ...          ...       ...
 7267  49.125000 -72.375000   899.442871       4de
 7269  49.125000 -72.291672   902.901001       4de
 7491  49.208332 -72.625000   904.897400       4de
 7493  49.208332 -72.541672   906.927124       4de
 7496  49.208332 -72.375000   908.698364       4de

                                                geometry
 2125  POLYGON ((-71.73330 46.83333, -71.68563 46.833...
 2273  POLYGON ((-71.81469 46.91667, -71.75001 46.916...
 2275  POLYGON ((-71.75000 46.85578, -71.75000 46.916...
 2277  POLYGON ((-71.66666 46.84467, -71.66666 46.916...
 2279  POLYGON ((-71.58334 46.88425, -71.58334 46.916...
 ...                                                 ...
 7267  POLYGON ((-72.41666 49.08333, -72.41666 49.094...
 7269  POLYGON ((-72.33334 49.08333, -72.33334 49.142...
 7491  POLYGON ((-72.58334 49.17260, -72.58334 49.166...
 7493  POLYGON ((-72.58334 49.16667, -72.58334 49.172...
 7496  POLYGON ((-72.36829 49.16667, -72.37374 49.166...

 [355 rows x 5 columns],             lat        lon      prcptot TER_GUIDE  \
 2570  47.041668 -71.791672  1298.330078       5ef
 2573  47.041668 -71.708336  1301.386108       5ef
 2575  47.041668 -71.625000  1305.917114       5ef
 2577  47.041668 -71.541672  1311.452271       5ef
 2580  47.041668 -71.458336  1296.010376       5ef
 ...         ...        ...          ...       ...
 7079  49.041668 -70.458336  1077.793945       5ef
 7081  49.041668 -70.375000  1072.802246       5ef
 7083  49.041668 -70.291672  1067.621338       5ef
 7085  49.041668 -70.208336  1059.686157       5ef
 7087  49.041668 -70.125000  1063.518433       5ef

                                                geometry
 2570  POLYGON ((-71.77608 47.08333, -71.75001 47.083...
 2573  MULTIPOLYGON (((-71.67361 47.08333, -71.66667 ...
 2575  MULTIPOLYGON (((-71.59355 47.08333, -71.58334 ...
 2577  POLYGON ((-71.58334 47.07736, -71.58334 47.083...
 2580  POLYGON ((-71.50000 47.04145, -71.50000 47.083...
 ...                                                 ...
 7079  POLYGON ((-70.50000 49.00000, -70.50000 49.015...
 7081  POLYGON ((-70.41666 49.00000, -70.41666 49.018...
 7083  POLYGON ((-70.33334 49.00000, -70.33334 49.013...
 7085  POLYGON ((-70.25000 49.00000, -70.25000 49.009...
 7087  POLYGON ((-70.16666 49.00600, -70.16666 49.010...

 [399 rows x 5 columns],             lat        lon      prcptot TER_GUIDE  \
 2598  47.041668 -70.541672  1067.706421        4f
 2609  47.041668 -69.875000  1113.600098        4f
 2611  47.041668 -69.791672  1091.059692        4f
 2613  47.041668 -69.708336  1095.132568        4f
 2615  47.041668 -69.625000  1101.743530        4f
 ...         ...        ...          ...       ...
 6669  48.875000 -67.375000   995.343506        4f
 6671  48.875000 -67.291672  1015.681335        4f
 6673  48.875000 -67.208336  1045.147705        4f
 6892  48.958332 -67.291672   948.793518        4f
 6894  48.958332 -67.208336   972.422607        4f

                                                geometry
 2598  POLYGON ((-70.55039 47.08333, -70.52845 47.083...
 2609  POLYGON ((-69.84558 47.08333, -69.83334 47.083...
 2611  POLYGON ((-69.83334 47.06960, -69.83334 47.083...
 2613  MULTIPOLYGON (((-69.71163 47.08333, -69.66667 ...
 2615  POLYGON ((-69.66666 47.06625, -69.66666 47.083...
 ...                                                 ...
 6669  POLYGON ((-67.41666 48.85692, -67.41666 48.881...
 6671  POLYGON ((-67.33334 48.87810, -67.33334 48.911...
 6673  POLYGON ((-67.25000 48.91220, -67.25000 48.916...
 6892  POLYGON ((-67.25001 48.93020, -67.25001 48.916...
 6894  POLYGON ((-67.25000 48.91667, -67.25000 48.930...

 [394 rows x 5 columns],             lat        lon     prcptot TER_GUIDE  \
 2617  47.125000 -79.458336  844.186829        4a
 2619  47.125000 -79.375000  860.243591        4a
 2621  47.125000 -79.291672  878.691895        4a
 2763  47.208332 -79.458336  837.447083        4a
 2764  47.208332 -79.375000  840.304504        4a
 ...         ...        ...         ...       ...
 4595  48.125000 -79.041672  862.213501        4a
 4597  48.125000 -78.958336  864.672241        4a
 4811  48.208332 -79.125000  860.158386        4a
 4813  48.208332 -79.041672  863.530334        4a
 4815  48.208332 -78.958336  867.766785        4a

                                                geometry
 2617  POLYGON ((-79.44617 47.16667, -79.41667 47.166...
 2619  MULTIPOLYGON (((-79.33473 47.16667, -79.33334 ...
 2621  POLYGON ((-79.33334 47.16613, -79.33334 47.166...
 2763  POLYGON ((-79.45218 47.25000, -79.41667 47.250...
 2764  POLYGON ((-79.41666 47.16667, -79.41666 47.250...
 ...                                                 ...
 4595  POLYGON ((-79.08334 48.08333, -79.08334 48.166...
 4597  POLYGON ((-79.00000 48.08333, -79.00000 48.166...
 4811  POLYGON ((-79.08334 48.17644, -79.08334 48.166...
 4813  POLYGON ((-79.08334 48.16667, -79.08334 48.176...
 4815  POLYGON ((-79.00000 48.16667, -79.00000 48.179...

 [139 rows x 5 columns],              lat        lon      prcptot TER_GUIDE  \
 2906   47.208332 -62.041668  1057.443604       5jk
 2907   47.208332 -61.958336  1068.958740       5jk
 2908   47.208332 -61.875004  1067.809937       5jk
 2909   47.208332 -61.791668  1074.770386       5jk
 3054   47.291668 -62.041668  1048.035767       5jk
 ...          ...        ...          ...       ...
 10123  50.291668 -62.708336  1004.882019       5jk
 10125  50.291668 -62.625004  1006.518066       5jk
 10127  50.291668 -62.541668  1005.921570       5jk
 10129  50.291668 -62.458336  1006.570007       5jk
 10131  50.291668 -62.375004  1009.216431       5jk

                                                 geometry
 2906   POLYGON ((-62.00848 47.25000, -62.00000 47.250...
 2907   POLYGON ((-62.00000 47.21705, -62.00000 47.250...
 2908   POLYGON ((-61.91667 47.21435, -61.91667 47.250...
 2909   POLYGON ((-61.83333 47.21675, -61.83333 47.235...
 3054   POLYGON ((-62.00000 47.25705, -62.00000 47.250...
 ...                                                  ...
 10123  POLYGON ((-62.74562 50.27628, -62.74902 50.275...
 10125  POLYGON ((-62.63987 50.27079, -62.63794 50.269...
 10127  POLYGON ((-62.52907 50.26063, -62.52798 50.259...
 10129  POLYGON ((-62.42754 50.26468, -62.42797 50.263...
 10131  MULTIPOLYGON (((-62.40562 50.27378, -62.40617 ...

 [245 rows x 5 columns],             lat        lon     prcptot TER_GUIDE  \
 3121  47.375000 -74.875000  973.844177      5bcd
 3123  47.375000 -74.791672  972.254944      5bcd
 3125  47.375000 -74.708336  967.191650      5bcd
 3270  47.458332 -74.875000  974.473938      5bcd
 3272  47.458332 -74.791672  995.374512      5bcd
 ...         ...        ...         ...       ...
 9252  49.958332 -70.458336  935.342896      5bcd
 9254  49.958332 -70.375000  952.255859      5bcd
 9419  50.041668 -70.708336  914.325195      5bcd
 9421  50.041668 -70.625000  923.318726      5bcd
 9423  50.041668 -70.541672  923.073303      5bcd

                                                geometry
 3121  POLYGON ((-74.90490 47.41667, -74.83334 47.416...
 3123  POLYGON ((-74.83334 47.38783, -74.83334 47.416...
 3125  POLYGON ((-74.75000 47.38471, -74.75000 47.416...
 3270  POLYGON ((-74.83334 47.49915, -74.83334 47.416...
 3272  POLYGON ((-74.83334 47.41667, -74.83334 47.499...
 ...                                                 ...
 9252  POLYGON ((-70.50000 49.91667, -70.50000 49.948...
 9254  POLYGON ((-70.34212 49.91667, -70.36027 49.916...
 9419  POLYGON ((-70.69386 50.00000, -70.74133 50.000...
 9421  POLYGON ((-70.58334 50.02292, -70.58334 50.000...
 9423  POLYGON ((-70.58334 50.00000, -70.58334 50.022...

 [1237 rows x 5 columns],             lat        lon     prcptot TER_GUIDE  \
 3548  47.625000 -77.791672  892.214478        5a
 3550  47.625000 -77.708336  895.059692        5a
 3704  47.708332 -78.375000  885.487732        5a
 3707  47.708332 -78.291672  883.199402        5a
 3711  47.708332 -78.041672  886.288391        5a
 ...         ...        ...         ...       ...
 7800  49.375000 -78.291672  860.572937        5a
 7802  49.375000 -78.208336  858.577087        5a
 7804  49.375000 -78.125000  861.263306        5a
 7984  49.458332 -78.291672  861.005188        5a
 7986  49.458332 -78.208336  862.775146        5a

                                                geometry
 3548  POLYGON ((-77.80440 47.66667, -77.75001 47.666...
 3550  POLYGON ((-77.75000 47.64714, -77.75000 47.666...
 3704  POLYGON ((-78.36563 47.75000, -78.33334 47.750...
 3707  POLYGON ((-78.33334 47.71818, -78.33334 47.750...
 3711  POLYGON ((-78.01148 47.75000, -78.00001 47.750...
 ...                                                 ...
 7800  POLYGON ((-78.25954 49.41667, -78.25001 49.416...
 7802  POLYGON ((-78.25000 49.33407, -78.25000 49.416...
 7804  POLYGON ((-78.16666 49.33333, -78.16666 49.394...
 7984  POLYGON ((-78.25001 49.46336, -78.25001 49.416...
 7986  POLYGON ((-78.25000 49.41667, -78.25000 49.463...

 [550 rows x 5 columns],             lat        lon      prcptot TER_GUIDE  \
 4206  47.875000 -67.375000  1039.553223       4gh
 4208  47.875000 -67.291672  1039.945435       4gh

In [22]:
for tg in listTG:
    geometry = tg["geometry"]
    crs = {'init': "epsg:4326"}
    gdf = GeoDataFrame(tg, crs=crs, geometry=geometry)
    #print (gdf['TER_GUIDE'].iloc[0])
    gdf.to_file(gdf['TER_GUIDE'].iloc[0]+"_hist_prcptot_annual_rcp45_50.json", driver="GeoJSON")